.root {
  margin-top: 1rem;
  text-align: left;
}

.term {
  font-family: "Diatype", monotype;
  color: #bcbcbc;
}

.value {
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
}

.padded {
  @media screen and (max-width: 642px) {
    display: none;
  }
}
