.container {
  width: 100%;

  .heading {
    font-size: 2rem;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 30px;
  }
}
.slider {
  :global {
    .slick-track {
      display: flex !important;
      align-items: stretch;
    }

    .slick-slide {
      height: auto !important;
      display: flex !important;
    }

    .slick-slide > div {
      flex: 1;
      height: 100%;
    }
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  width: 100%;
}
.card {
  width: 400px;
  padding-right: 40px;
  height: 100%;
  display: flex !important;
  flex-direction: column;

  @media (max-width: 1200px) {
    padding-right: 24px;
  }
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 420px;

  img {
    object-fit: cover;
    object-position: top center;
  }

  @media (max-width: 1200px) {
    height: 50vw;
  }
  @media (max-width: 800px) {
    height: 100vw;
  }
}

.arrowLeft {
  font-size: 32px;
  color: black;
  background: #838191;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  top: -68px;
  right: 56px;

  @media (max-width: 1200px) {
    display: none !important;
  }
}
.arrowRight {
  font-size: 32px;
  color: black;
  background: #838191;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  top: -68px;
  right: 0;

  @media (max-width: 1200px) {
    display: none !important;
  }
}

.info {
  margin-top: 12px;
  padding-left: 20px;
  border-left: 1px solid #3b3b3b;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;

  @media (max-width: 1200px) {
    padding-left: 10px;
  }
}
.event {
  font-size: 1.25rem;
  font-family: "Diatype", sans-serif;
  text-transform: uppercase;

  &.scale {
    color: #0260e8;
  }
  &.ship {
    color: #ff0156;
  }
  @media (max-width: 1200px) {
    font-size: 1rem;
  }
}
.name {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #838191;
  line-height: 1;

  span {
    display: block;
  }

  @media (max-width: 1200px) {
    font-size: 2.25rem;
  }
}
.companyWrapper {
  margin-top: auto;
}
.company {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  font-family: "Space Grotesk";
  @media (max-width: 1200px) {
    font-size: 1.5rem;
  }
}
.socialWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.25rem;
    font-weight: 300;
    color: #bcbcbc;
  }
  .social {
    background: #b3b2bc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: black;
    transition: 0.3s;

    &:hover {
      background: #e0e0e0;
    }
  }
}
