.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;
  width: 100%;
}

.subtitle[data-variant="scale"] {
  background: radial-gradient(
    50% 100% at 50% 100%,
    #0260e8 0%,
    rgba(2, 96, 232, 0) 100%
  );
}

.subtitle[data-variant="ship"] {
  background: radial-gradient(
    50% 100% at 50% 100%,
    #ae2747 0%,
    rgba(174, 39, 71, 0) 100%
  );
}
