.Root {
  border-top: 1px solid #3b3b40;
}

.Item {
  overflow: hidden;
  padding: 40px 0;
  border-bottom: 1px solid #3b3b40;
}

.AccordionTrigger {
  font-size: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #b3b2bc;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}
.Icon {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #838191;
  border-radius: 50%;
  color: black;
  transition: 0.3s;
}
.AccordionTrigger[data-state="open"] {
  .Icon {
    transform: rotate(180deg);
  }
}
.AccordionContent[data-state="open"] {
  --radix-collapsible-content-width: 100%; /* Set your desired width */
}

.AccordionContent {
  padding-top: 40px;
  max-width: 800px;
  font-size: 20px;
  font-family: "Diatype", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  .content {
    color: white;

    a {
      color: white;
      text-decoration: underline;
    }
  }
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@media (max-width: 640px) {
  .AccordionTrigger {
    font-size: 24px;
  }
  .AccordionContent {
    font-size: 16px;
  }
}
