@media screen and (min-width: 992px) {
  .root {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;

    &:not([data-variant="none"]) {
      padding: 2px 4px;
      border-bottom: 1px solid transparent;
      box-sizing: border-box;
      transition: 0.3s;
    }

    &[data-variant="scale"] {
      &:hover {
        border-bottom: 1px solid #193dbc;
      }

      &:active {
        border-bottom: 1px solid #193dbc;
      }
    }

    &[data-variant="ship"] {
      &:hover {
        border-bottom: 1px solid #ae2747;
      }

      &:active {
        border-bottom: 1px solid #ae2747;
      }
    }
  }
}
