.accelerate-navbar {
  @media screen and (min-width: 992px) {
    button[data-is-variant="true"] {
      width: 187px;
    }
  }
}
.header {
  padding-top: 20px;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 100%
  );

  .container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;

    .logo {
      @media (max-width: 1440px) {
        max-width: 136px;
      }
      @media (max-width: 1250px) {
        max-width: 126px;
      }
    }
  }
}
.col {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;

  &:first-child {
    justify-content: space-between;
    padding-right: 140px;

    div {
      display: flex;
      gap: 36px;
    }
    .solanaLink {
      display: inline-flex;
      gap: 12px;
      align-items: center;
    }
    .logoWord {
      @media (max-width: 1250px) {
        display: none;
      }
    }

    a {
      text-transform: uppercase;
      font-size: 1rem;
      font-family: "Space Grotesk", sans-serif;
      font-weight: 700;
      color: white;

      @media (max-width: 1440px) {
        font-size: 0.8rem;
      }
      @media (max-width: 1250px) {
        display: none;
      }
    }
    @media (max-width: 1250px) {
      padding-right: 0;
    }
  }

  &:last-child {
    gap: 36px;
    justify-content: flex-end;

    a {
      text-transform: uppercase;
      font-size: 1rem;
      font-family: "Space Grotesk", sans-serif;
      font-weight: 700;
      color: white;

      @media (max-width: 1440px) {
        font-size: 0.8rem;
      }
      @media (max-width: 1250px) {
        display: none;
      }
    }

    .menuIcon {
      display: none;
      color: white;
      cursor: pointer;

      @media (max-width: 1250px) {
        display: block !important;
      }
    }

    .cta {
      background: linear-gradient(to right, #0260e8, #ff0156);
      padding: 1px;
      border-radius: 100px;

      span {
        display: inline-flex;
        align-items: center;
        padding: 0.75rem 1.5rem;
        background: black;
        border-radius: 100px;
        transition: 0.3s;
      }

      &:hover span {
        background: transparent;
      }
    }
  }
}

.mobileMenu {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  background: black;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;

  @media (max-width: 1250px) {
    display: flex;
  }

  .mobileBackground {
    object-position: right;
    object-fit: contain;
    z-index: -1;
  }
  .mobileLinks {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 132px;

    a {
      font-size: 3rem;
      font-family: "Space Grotesk", sans-serif;
      font-weight: 300;
      color: white;
    }
  }

  .mobileCta {
    background: white;
    border-radius: 100px;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;

    @media (max-width: 1250px) {
      display: block !important;
    }
  }
}
