.instagram-energy-usage-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    flex-flow: row wrap;
    margin-bottom: 36px;
    justify-content: flex-start;
  }

  &__label {
    order: 1;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 120%;
    text-align: center;
    color: var(--color-parchment);

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__value {
    display: flex;
    align-items: flex-end;
    order: 3;

    @media (min-width: 768px) {
      order: 2;
      margin-left: auto;
    }
  }

  &__value-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 100%;
    transition: color 0.25s ease;
    line-height: 100%;
    margin-right: 8px;
  }

  &__value-unit {
    font-style: normal;
    font-weight: 829;
    font-size: 0.688rem;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-parchment);
  }

  &__container {
    order: 2;
    width: 100%;
    background: var(--color-shark);
    border-radius: 100px;
    overflow: hidden;
    height: 51px;

    @media (min-width: 768px) {
      order: 3;
    }
  }

  &__fill {
    height: 100%;
    transition:
      width 0.25s ease,
      background 0.25s ease;
    border-radius: 100px;
  }
}
