.sign-up-form {
  &__input-container {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;
  }

  &__input {
    background-color: transparent;
    font-size: 1rem;
    z-index: 2;

    @media (min-width: 576px) {
      font-size: 1.75rem;
    }

    &:not(:placeholder-shown),
    &:focus {
      & + .placeholder {
        display: none;
      }
    }
  }

  .placeholder {
    z-index: 1;

    svg {
      width: 100%;
    }

    @media (min-width: 576px) {
      svg {
        width: initial;
      }
    }
  }

  button {
    background: none;
    border: none;

    &:disabled {
      svg {
        path {
          fill: gray;
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &__error {
    line-height: 100%;
    color: red;
  }
}
