.playgg-layout {
  &__modal {
    :global .modal-content {
      position: relative;
    }

    :global .modal-header {
      all: unset;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 100;
      width: 37px;
      height: 37px;
      background: #18191e !important;
      border-radius: 50%;
    }

    :global .btn-close {
      margin: 0;
      padding: 10px;
      transition: opacity 0.2s;
    }
  }

  :global {
    .mono {
      font-family: monospace, sans-serif;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: -0.05em;

      @media (min-width: 992px) {
        font-size: 15px;
      }
    }

    a {
      color: var(--color-playgg-black);
      transition: 0.2s ease transform;
      text-decoration: underline;

      &:hover {
        transform: scale(1.05);
        opacity: 0.9;
      }
    }

    ::selection {
      background: var(--color-playgg-purple);
      color: #fff;
    }
  }
}
