.documents-section {
  background: linear-gradient(180deg, #19161c 0%, rgba(25, 22, 28, 0) 100%);
  border-radius: 13px;
  margin-top: 72px;

  @media (min-width: 768px) {
    margin-top: 100px;
  }
}
