#payments-tooling-page {
  .slick-list {
    max-width: calc(100vw - 28px);
    margin: 0 auto;
  }
}

#creative-page {
  .slick-list {
    max-width: calc(100vw - 28px);
    margin: 0 auto;
  }
}

#home-page {
  .slick-list {
    max-width: calc(100vw - 28px);
    margin: 0 auto;
  }
}

#loyalty-page {
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;

    & > div {
      height: 100%;
      & > div {
        height: 100%;
      }
    }
  }
}

#gaming-page {
  .slick-arrow {
    bottom: 0;
    top: unset;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6C6A81;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;

    &:before {
      font-size: 0 !important;
      color: transparent !important;
      pointer-events: none;
    }

    &:hover {
      opacity: 50%;
    }

    @media (min-width: 1024px) {
      bottom: 18%;
    }
  }
  
  .slick-prev {
    left: 50%;
    transform: translateX(-150%) rotate(180deg);

    &:before {
      content: url("/src/img/icons/carousel-button.png");
    }
  }

  .slick-next {
    right: 50%;
    transform: translateX(150%);

    &:before {
      content: url("/src/img/icons/carousel-button.png");
    }
  }

  .slick-track {
    @media (min-width: 1024px) {
      padding: 40px 0 164px;
    }
  }

  @media (max-width: 1023px) {
    .slick-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      > * {
        flex: 1;

        &:first-child {
          display: flex;
          align-items: flex-end;
        }
        &:nth-child(2) {
          display: flex;
          align-items: flex-start;
        }
      }
    }
  }
}
