.div {
  position: fixed;
  width: 84px;
  height: 84px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.span {
  display: block;
  width: 35px;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: var(--loader-color, #1a3989);
  position: absolute;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

  &:global(:nth-of-type(4n - 3)) {
    left: 24.5px;
    animation-name: rotate1;
  }

  &:global(:nth-of-type(3)) {
    left: 0.125rem;
  }

  &:global(:nth-of-type(7)) {
    right: 0.125rem;
  }

  &:global(:nth-of-type(4n-1)) {
    top: 24.5px;
    width: 0.5rem;
    height: 35px;
    animation-name: rotate1;
  }

  &:global(:nth-of-type(5)) {
    bottom: 0;
  }

  &:global(:nth-of-type(4n - 2)) {
    transform: rotate(-45deg);
    animation-name: rotate2;
  }

  &:global(:nth-of-type(2)) {
    top: 0.75rem;
  }

  &:global(:nth-of-type(6)) {
    bottom: 0.75rem;
    right: 0;
  }

  &:global(:nth-of-type(4n)) {
    transform: rotate(45deg);
    animation-name: rotate3;
  }

  &:global(:nth-of-type(4)) {
    bottom: 0.75rem;
  }

  &:global(:nth-of-type(8)) {
    top: 0.75rem;
    right: 0;
  }
}

@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes rotate3 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(225deg);
  }
}
