.environment-stats {
  &__item {
    background-color: rgba(12, 13, 15, 0.7);
    backdrop-filter: blur(7px);
    border-radius: 16px;
    min-height: 126px;
    text-align: center;
    margin: 0 10px;
    padding: 32px 0;

    div {
      flex: 1;
    }

    @media (min-width: 992px) {
      background-color: unset;
      backdrop-filter: none;
      padding: 0 30px;
      margin: 10px 0;
    }

    h3 {
      font-size: 2.25rem;
      font-weight: 500;
      color: #19fb9b;
      margin: 0;

      @media (min-width: 992px) {
        font-size: 3rem;
      }
    }

    span {
      font-size: 1rem;
      font-size: 550;
      line-height: 130%;
    }
  }
}
