.environment-what-you-can-do {
  margin-bottom: 64px;

  @media (max-width: 576px) {
    padding: 0;

    > * {
      padding: 0 calc(var(--bs-gutter-x) * 0.5);
    }
  }

  @media (min-width: 992px) {
    margin-bottom: 120px;
  }

  .usages {
    &:hover {
      cursor: pointer;
    }

    @media (max-width: 576px) {
      width: calc(100% - 4px);
      margin-left: 2px;
      padding: 0;
    }
  }

  .usage {
    height: 330px;
    padding: 32px 24px;
    margin-bottom: 2px;
    border-radius: 16px;
    color: #fff;
    background-color: #131518;

    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      padding: 24px 18px;
      height: 440px;
      background-size: contain;
      background-position: bottom;
      margin-right: 24px;
      border-radius: 18px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media (min-width: 1168px) {
      padding: 32px 40px;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 140%;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    button {
      color: #fff;
      border: none;

      svg {
        width: 27px;
        height: 27px;
      }

      @media (min-width: 992px) {
        margin-top: 2px;

        svg {
          width: 29px;
          height: 29px;
        }
      }
    }

    @media (min-width: 992px) {
      h3 {
        font-size: 1.75rem;
      }
    }
  }
}
