.environment-featured-projects {
  &__card {
    background-color: #052819;
    color: #fff;
    background-image: linear-gradient(
      180deg,
      #19fb9b30 0%,
      rgba(0, 0, 0, 1) 50%
    );
    border: 1px solid #141414;
    border-radius: 16px;
    padding: 24px;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @media (min-width: 768px) {
      border-radius: 18px;
    }

    @media (min-width: 992px) {
      padding: 42px;
    }

    .details {
      animation: fadeIn 1s;

      &__title {
        font-size: 1.5rem;
        letter-spacing: -0.02em;
        margin-bottom: 16px;

        @media (min-width: 992px) {
          font-size: 2.125rem;
          margin-bottom: 24px;
        }
      }

      &__description {
        color: #f0f0f0;
        margin-bottom: 16px;

        @media (min-width: 992px) {
          margin-bottom: 24px;
        }
      }
    }

    img {
      object-fit: cover;
    }
  }
}
