.environment-report {
  margin-bottom: 64px;

  @media (max-width: 576px) {
    padding: 0;

    &__main > * {
      padding: 0 calc(var(--bs-gutter-x) * 0.5);
    }
  }

  div h2 {
    font-size: 2rem;
    line-height: 120%;

    @media (min-width: 992px) {
      font-size: 2.5rem;
    }
  }

  &__img-xs {
    background-image: url("../../../assets/environment/report-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;

    @media (max-width: 576px) {
      width: calc(100% - 4px);
      margin-left: 2px;
      padding: 0;
    }

    @media (min-width: 576px) {
      border-radius: 18px;
    }

    @media (min-width: 768px) {
      height: 300px;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  &__img-lg {
    background-image: url("../../../assets/environment/report-desktop.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 530px;
  }
}
