@import "@/scss/solutions/_variables.scss";

.Hero {
  padding: 64px 24px;

  .HeroTitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.01em;
    text-align: center;
    text-wrap: initial;
  }

  .HeroSubtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.12;
    text-align: center;
    color: #a2a1b2;
    margin: 24px 0 40px;
    max-width: 100%;
  }

  .Eyebrow {
    color: #64a8f2;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }

  .ButtonWrapper {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 24px auto 40px;
    gap: 16px;

    @media (max-width: #{$screen-xl-min - 1}) {
      a {
        font-size: 15px;
        line-height: 1.32;
      }
    }

    @include breakpoint(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 0;

      a {
        width: 100%;
        flex-direction: column;
      }
    }
  }

  @include breakpoint(lg) {
    display: flex;
    gap: 80px;
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;
    padding: 128px 40px;
    box-sizing: content-box;

    * {
      flex-basis: 50%;
    }

    .HeroTitle {
      font-size: 64px;
      text-align: left;
    }

    .HeroSubtitle {
      font-size: 24px;
      text-align: left;
    }

    .Eyebrow {
      text-align: left;
    }
  }

  @include breakpoint(xl) {
    .HeroTitle {
      font-size: 64px;
      font-weight: 700;
      line-height: 1.04;
      letter-spacing: -0.02em;
      text-align: left;
      max-width: 400px;
    }

    .HeroSubtitle {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.02em;
    }

    .Eyebrow {
      font-size: 20px;
      font-weight: 800;
      line-height: 1.25;
      letter-spacing: -0.44px;
    }
  }
}
