# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
!.env.example

# Next.js build output
.next

# Mac
.DS_Store

# Vercel configurations
.vercel

# Template outputs
templates/*.html

# Sitemap (generated on postbuild)
public/sitemap*

coverage
.env.local
.source

# yalc
.yalc
yalc.lock

# docskit component syntax reference
content/docs/docskit.mdx

# Vale Formatter
vale/styles/*
.vale.ini
i18n.cache
