.github/*.md
public
.vercel
.next
**/.next
.turbo
coverage
playwright-report
apps/docs/.source
apps/web/content/**/meta.json
openspec
.claude
.cursor
turbo/generators/templates

# Ignore RPC docs to prevent formatting issues with custom codehike annotations
apps/web/content/docs/*/rpc/**
