{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 80,
  "endOfLine": "auto",
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.mdx"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
