{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 80,
  "endOfLine": "lf",
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.mdx"],
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": ["apps/media/**/*.mdx"],
      "options": {
        "printWidth": 100,
        "proseWrap": "preserve",
        "trailingComma": "none"
      }
    }
  ]
}
