$lightGray: #ababbc;

.solFooter {
  position: relative;
  background-color: #000;
  font-size: 1rem;
  color: #fff;

  :global {
    a:not(.dropdown-item),
    button {
      color: $lightGray;

      &:hover {
        color: #fff;
      }
    }
  }

  ul a {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.42;

    @media (min-width: 768px) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  ul li + li {
    margin-top: 12px;
  }

  // Managed by
  &__foundation {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.33;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

  &__foundation-logo {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  // Social icons
  &__social {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;

    @media (min-width: 1280px) {
      margin-top: auto;
      display: block;
    }

    a + a:before {
      content: "";
      position: absolute;
      top: 0;
      left: -8px;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      width: 1px;
      height: 12px;
      background: rgba(240, 228, 255, 0.12);
    }

    a {
      position: relative;
      color: $lightGray;
      display: inline-flex;
      padding: 10px;
      border-radius: 50%;
      margin-right: 16px;
      flex: 1;

      @media (min-width: 768px) {
        flex: none;
      }

      &:hover {
        color: #fff;
      }

      svg {
        margin: auto;
      }
    }
  }

  // Copyright
  &__copyright {
    color: $lightGray;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.42;

    @media (min-width: 768px) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &__heading {
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.33;

    @media (min-width: 768px) {
      margin-bottom: 24px;
      font-size: 1.125rem;
    }
  }
}
