@import "~@/scss/solutions/_variables.scss";

.PageWrapper {
  overflow: hidden;
}

.PageWrapper,
.Header {
  &,
  nav {
    background: #0d0817 !important;
  }
}

.LongformSection {
  strong {
    color: var(--white) !important;
  }

  .LongformSubtitleWrapper {
    display: block;
    margin-bottom: 1rem;
  }
}

.DetailsTitleBlock {
  padding-top: 0;
  padding-bottom: 40px;

  @include breakpoint(md) {
    padding-bottom: 0;
  }
  @include breakpoint(lg) {
    padding-top: 8rem;
  }

  p {
    font-size: 20px;
    font-weight: bold;

    @include breakpoint(md) {
      font-size: 24px;
    }
  }
}

.DetailsSection {
  @include breakpoint(md) {
    padding-bottom: 8rem;
  }
  @include breakpoint(lg) {
    padding-bottom: 10rem;
  }
}

.FooterCalloutTopSection {
  padding: 0;
}
