.previous-hackathons {
  div > h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: #26262b;
    min-width: 385px;
    border-radius: 12px;

    img {
      height: 190px;
      object-fit: cover;
    }

    * {
      color: #fff;
    }

    &:hover {
      * {
        color: #fff;
      }

      > div {
        transition: background-color 1000ms linear;
        background: radial-gradient(
          115.54% 244.23% at 50% -54.81%,
          #9945ff 0%,
          #000000 100%
        );
      }
    }

    &--content {
      height: 100%;
      padding: 24px 16px 24px 24px;
      border-radius: 0 0 12px 12px;

      span {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      h3 {
        font-size: 1.75rem;
        line-height: 2.063rem;
        font-weight: 700;
        margin: 0;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 10px;
      }
    }

    &--title {
      font-size: 1.75rem;
      line-height: 2.063rem;
      font-weight: 700;
      margin: 0;
    }
  }
}
