.podcast-sticky-player {
  svg > rect {
    fill: #fff;
    opacity: 1;
  }

  position: sticky;
  top: 67px;
  left: 0;
  z-index: 3;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
