.episode {
  display: flex;
  align-items: flex-start;

  padding: 24px 0;
  border-bottom: 1px solid rgba(255, 255, 254, 0.2);

  &__play {
    margin-right: 16px;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #c9c9c9;
  }

  &__title {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  &__info {
    font-size: 0.857rem;
    letter-spacing: 1px;
    opacity: 0.4;
    text-transform: uppercase;
  }
}
