{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 100,
        "proseWrap": "preserve"
      }
    }
  ]
}
