@import "~@/scss/solutions/_variables.scss";

.Title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--white);
  text-transform: capitalize;
  margin: 0;
  padding: 64px 24px 0;

  strong {
    background: var(--gradient-2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include breakpoint(md) {
    font-size: 56px;
    padding-top: 80px;
  }

  @include breakpoint(lg) {
    font-size: 64px;
    padding-top: 128px;
  }
}

.Carousel {
  position: relative;
  width: 100%;
}

.CarouselContainer {
  display: flex;
  width: 100%;
  padding: {
    top: 64px;
    bottom: 64px;
  }

  overflow-x: scroll;
  overscroll-behavior-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /*FireFox*/
  -ms-overflow-style: -ms-autohiding-scrollbar; /*IE10+*/

  /*Chrome, Safari, Edge*/
  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint(md) {
    padding: {
      top: 80px;
      bottom: 40px;
    }
  }

  @include breakpoint(lg) {
    padding: {
      top: 96px;
    }
  }
}

.Cards {
  display: flex;
  justify-content: start;
  gap: 16px;
  padding-left: 16px;
  max-width: 80rem;
  margin: 0 auto;
}

.CardWrapper {
  border-radius: 1.5rem;
  box-sizing: content-box;

  &:last-child {
    padding-right: 3%;

    @include breakpoint(md) {
      padding-right: 10%;
    }

    @include breakpoint(lg) {
      padding-right: 33%;
    }
  }

  @include breakpoint(md) {
    > * {
      width: 22rem;
      height: 100%;
    }
  }
}

.Arrows {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 64px;

  button {
    position: relative;
    z-index: 40;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--grey-300);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease;
    transition:
      background 0.3s ease-in-out,
      transform 0.15s $easeInOutQuart;

    &:disabled {
      background-color: var(--grey-500);

      svg path {
        stroke: var(--grey-300);
      }
    }
  }
}
