@import "../../scss/solutions/_variables.scss";

.CollapsibleTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.16;
  color: var(--grey-200);
  text-align: left;
  margin-bottom: 0;

  p {
    margin: 0;
  }
}

.IconArrowDown {
  transform: rotate(180deg);
}

@include breakpoint(md) {
  .CollapsibleTrigger {
    justify-content: flex-start;
  }
}
