@import "~@/scss/solutions/_variables.scss";

.LottieCarouselSection {
  padding: 64px 0 0;

  @include breakpoint(lg) {
    padding-top: 7rem;
  }
}

.LottieCarouselItem {
  transition: opacity 0.3s ease;

  @include breakpoint(lg) {
    opacity: 0.5;
  }

  &.ActiveSlide {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  > * {
    padding-left: 24px;
    padding-right: 24px;
  }

  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--grey-250);
    margin: 40px auto 0;

    @include breakpoint(md) {
      font-size: 18px;
    }
    @include breakpoint(lg) {
      max-width: 100%;
    }

    strong {
      color: var(--white);
    }
  }

  .LottieWrapper {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70vw;

    @include breakpoint(md) {
      max-width: 400px;
    }
  }
}

.Arrows {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 40px;
  padding-top: 32px;

  @include breakpoint(lg) {
    padding-bottom: 64px;
    padding-top: 40px;
  }

  button {
    position: relative;
    z-index: 40;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--grey-300);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease;
    transition:
      background 0.3s ease-in-out,
      transform 0.15s $easeInOutQuart;

    &:disabled {
      background-color: var(--grey-500);

      svg path {
        stroke: var(--grey-300);
      }
    }
  }
}
