@import "~@/scss/solutions/_variables.scss";

.heading {
  text-wrap: balance;
}

.paragraph {
  text-wrap: pretty;

  @include breakpoint(sm) {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}

.GradientText {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &::selection {
    -webkit-text-fill-color: var(--black);
  }
}

.OpacityInText {
  --delay: 0s;

  opacity: 0;
  transition:
    opacity $duration-standard $easeInQuart,
    transform $duration-shorter $easeInQuart;
  transform: translateY($anim-translate-y);
  transition-delay: var(--delay);

  &.Active {
    opacity: 1;
    transform: translateY(0);
  }
}
