.instagram-color-glow {
  display: none;
  pointer-events: none;
  position: absolute;
  border-radius: 100%;

  /* Safari 11+ */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      transform: translate3d(0, 0, 0);
    }
  }

  /* Safari 10.1 */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
      transform: translate3d(0, 0, 0);
    }
  }

  @media (min-width: 992px) {
    display: block;
    width: 1500px;
    height: 1500px;
    opacity: 0.4;
  }

  &--yellow {
    background: radial-gradient(var(--color-glow-yellow), transparent 70%);
  }

  &--red {
    background: radial-gradient(var(--color-glow-red), transparent 70%);
  }

  &--purple {
    background: radial-gradient(var(--color-glow-purple), transparent 70%);
  }

  &--green {
    background: radial-gradient(var(--color-glow-green), transparent 70%);
  }
}
