.searchButton {
  display: flex;
  padding: 0.625rem 1.5rem 0.625rem 1.25rem;
  align-items: center;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.08);
  color: #ababbc;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  border: 0 none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @media (min-width: 768px) {
    font-size: 1rem;
  }

  @media (min-width: 1280px) {
    width: 21.75rem;
  }

  &:hover {
    border-color: #8b91a5;
    color: #f5f6f7;
  }
}
