.searchButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0 0 0 16px;
  padding: 2px 8px;
  border-radius: 0.4rem;
  color: #8b91a5;
  font-size: 1rem;
  border: 1px solid #2b2b2f;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: #8b91a5;
    color: #f5f6f7;
  }
}
