.previous-winners {
  margin-top: 75px;

  @media (min-width: 992px) {
    margin-top: 150px;
  }

  div > h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  &__carousel-container {
    margin-top: 48px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__container {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 16px;
      margin-top: 48px;
    }
  }
}
