.tabsContainer {
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px solid var(--tab-border-color, #e2e8ff);
  display: inline-flex;

  .tabBtn {
    color: var(--tab-color, #374151);
    background-color: transparent;
    border: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 1%;
    padding: 12px 0px;
    cursor: pointer;
    z-index: 1;

    &.tabBtnSelected {
      color: var(--tab-selected-color, #085ed4);
      font-weight: 500;
      border-bottom: 1px solid var(--tab-selected-color, #085ed4);
      margin-bottom: -1px;
    }
  }
}
