.button {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  padding: 0.4rem !important;
  border: 1px solid #414141 !important;
  border-radius: 0.4rem;
  color: #adbac7;
  background-color: #1b1f25;
  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;

  &:hover {
    color: #fff;
    background-color: #2d333b;
    border-color: #838383 !important;
  }
}

:global(.light) {
  .button {
    color: #24292e;
    background-color: #f6f8fa;
    border-color: #d1d5da !important;

    &:hover {
      color: #24292e;
      background-color: #e1e4e8;
      border-color: #b1b5ba !important;
    }
  }
}
