.markdown-steps {
  --steps-border-color: #414141;
  --steps-number-border: #414141;
  --steps-number-bg: #121212;
  --steps-number-color: #fafafa;

  margin-left: 1rem;
  padding-left: 1.5rem;
  border-left: 1px solid var(--steps-border-color);
  counter-reset: step;

  h3 {
    counter-increment: step;
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;

    &:before {
      content: counter(step);
      position: absolute;
      left: -40px;
      top: -4px;
      width: 33px;
      height: 33px;
      left: -41px;
      border: 1px solid var(--steps-number-border);
      background-color: var(--steps-number-bg);
      color: var(--steps-number-color);
      border-radius: 50%;
      font-size: 1rem;
      font-weight: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

:global(.light) .markdown-steps {
  --steps-border-color: #e0e0e0;
  --steps-number-border: #e0e0e0;
  --steps-number-bg: #ffffff;
  --steps-number-color: #333333;
}
