.root {
  --accordion-border-color: #414141;
  --accordion-bg-color: #171717;
  --accordion-text-color: #a0a0a0;
  --accordion-text-active-color: #ffffff;
  --accordion-content-bg-color: #0e0e0e;

  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid var(--accordion-border-color);
  overflow: hidden;
  position: relative;

  h3 {
    all: unset;
  }
}

.item {
  border-bottom: 1px solid var(--accordion-border-color);
  margin-bottom: 0px !important;

  &:last-child {
    border-bottom: none;
  }
}

.trigger {
  background-color: var(--accordion-bg-color);
  color: var(--accordion-text-color);
  padding: 0.75rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1;
  border: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &[data-state="open"] {
    color: var(--accordion-text-active-color);
  }
}

.chevron {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.2s ease;

  [data-state="open"] > & {
    transform: rotate(180deg);
  }
}

.content {
  background-color: var(--accordion-content-bg-color);
  overflow: hidden;
  transition:
    height 0.3s ease,
    opacity 0.3s ease;
  border-top: 1px solid var(--accordion-border-color);

  &[data-state="open"] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state="closed"] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
}

.content-inner {
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  padding-bottom: 0;
}

:global(.light) .root {
  --accordion-border-color: #e0e0e0;
  --accordion-bg-color: #f5f5f5;
  --accordion-text-color: #666666;
  --accordion-text-active-color: #333333;
  --accordion-content-bg-color: #ffffff;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
