.hero-section {
  width: 100%;
  display: flex;

  h1 {
    color: var(--body-text);
  }

  &__image {
    width: 100%;
    margin-top: -60%;

    @media (min-width: 768px) {
      position: absolute;
      width: 500px;
      top: -100px;
      right: -120px;
      margin-top: unset;
    }

    @media (min-width: 992px) {
      width: 645px;
      top: -200px;
      right: -100px;
    }
  }

  &__light {
    position: absolute;
    top: -40%;
    left: 12.5%;
    z-index: -1;
    width: 75%;
    padding-bottom: 75%;
    border-radius: 50%;
    background: #f087ff;
    mix-blend-mode: normal;
    opacity: 0.2;
    filter: blur(35px);

    @media (min-width: 768px) {
      top: -200px;
      right: -300px;
      left: unset;
      width: 600px;
      height: 600px;
      padding-bottom: unset;
      filter: blur(110px);
      transform: rotate(35.57deg);
    }

    @media (min-width: 992px) {
    }
  }

  .content {
    width: 100%;

    @media (min-width: 768px) {
      width: 400px;
    }

    p {
      font-size: 1.125rem;

      @media (min-width: 768px) {
        font-size: 1.3rem;
      }
    }

    &__hero-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 0.5rem;
      row-gap: 0.5rem;
      margin-top: 64px;

      @media (min-width: 768px) {
        justify-content: unset;
        margin-top: 40px;
      }
    }

    &__btn-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-right: 8px;

        @media (min-width: 768px) {
          margin-right: 10px;
        }
      }
    }
  }
}
