@import "~@/scss/solutions/_variables.scss";

.WalletLayout {
  background: #0f0a16;
}

.Hero {
  padding: 64px 0;
  position: relative;
  background-image: url("/src/img/solana-wallets/hero-mb.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 640px) {
    padding: 128px 0;
    background-image: url("/src/img/solana-wallets/hero-dt.svg");
    background-position: right center;
  }

  .HeroContainer {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    align-items: center;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;

    @include breakpoint(md) {
      grid-template-columns: 0.8fr 1fr;
    }

    @include breakpoint(lg) {
      padding: 40px;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0;
  }

  p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: #a2a1b2;
    margin: 24px 0 0;
    max-width: 100%;
  }

  @include breakpoint(md) {
    h2,
    p {
      text-align: left;
    }
    h2 {
      font-size: 48px;
    }
  }

  @include breakpoint(lg) {
    h2 {
      font-size: 64px;
      font-weight: 700;
      line-height: 1.04;
      letter-spacing: -0.02em;
      text-align: left;
    }
    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.02em;
      text-align: left;
    }
  }
}

.LottieContainer {
  height: 407px;
  [role="button"] {
    cursor: initial;
  }
}
