@import "~@/scss/solutions/_variables.scss";

.WalletCard {
  border-bottom: 1px solid #322f43;
  padding: 20px 0;
  position: relative;

  @include breakpoint(lg) {
    padding: 40px 0;
  }
}

.WalletCardContainer {
  display: flex;
  gap: 15px;
}

.CollapsibleTrigger {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.WalletCardImage {
  width: 64px;
  min-width: 64px;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: 100%;
  }
}

.WalletCardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.WalletCardTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0;
  color: #fff;
  transition: 0.2s all ease;

  @include breakpoint(lg) {
    font-size: 24px;
  }
}

.TagsWrapper {
  display: flex;
  gap: 10px;
}

.Tags {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: var(--font-mono);
}

.Tag {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #a2a1b2;
  padding: 8px 12px;
  border-radius: 40px;
  background: #322f43;

  @include breakpoint(lg) {
    line-height: 1.15;
  }
}

.ExtraTagsCount {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.WalletCardLink {
  color: #fff;
  font-family: "ABC Mono";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  margin-top: 12px;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 4px;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.3px;
    margin-top: 28px;
  }
}

.MobileContent {
  @include breakpoint(lg) {
    display: none;
  }
}

.DesktopContent {
  display: none;
  @include breakpoint(lg) {
    display: block;
  }
}

.GroupedContent {
  display: flex;
  align-items: center;
  gap: 16px;

  & + .GroupedContent {
    margin-top: 12px;
  }

  .GroupedContentText {
    margin-bottom: 0;
    color: #a2a1b2;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.32;

    &,
    .ValueGroup {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    @include breakpoint(lg) {
      font-size: 15px;
      line-height: 1.32;
    }
  }

  svg {
    width: 17px;
    height: 17px;
  }
}

.Dot {
  font-size: 6px;
}

.MobileTags {
  @include breakpoint(lg) {
    display: none;
  }
}

.DesktopTags {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}
