.nft-showdown-layout {
  // crop the Intro blur image effect
  position: relative;
  overflow-x: hidden;

  :global {
    .mono {
      font-family: "DSemi", monospace;
    }

    .section-title {
      color: #14f195;
    }
  }
}
