.build {
  text-align: center;

  &__bg {
    z-index: -1;
    top: -200px !important;
    left: -200px !important;
  }

  &__bg-effect {
    position: absolute;
    z-index: -2;
    width: 840px;
    height: 1254px;
    left: -600px;
    top: -180px;
    background: #231f4a;
    filter: blur(250px);

    @media (min-width: 768px) {
      left: -300px;
      top: -140px;
    }
  }

  &__title {
    font-size: 2.625rem;
    margin-bottom: 48px;

    &--colored {
      color: #ad31ff;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 256.5px;
  min-height: 425px;
  gap: 89px;
  border-radius: 6px;
  padding: 36px 24px;

  @media (min-width: 768px) {
    width: 342px;
    min-height: 550px;
    padding: 48px 32px;
    border-radius: 8px;
  }

  &__icon {
    height: 50px;
    width: auto;
    margin: 0 auto 18px auto;
    border-radius: 4px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__title {
    font-size: 1.313rem;
    line-height: 1.5rem;
    font-weight: 500;

    @media (min-width: 768px) {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }

  &__divider {
    display: inline-block;
    width: 15px;
    height: 0px;
    border-top: 2.25px solid #1cbeeb;

    @media (min-width: 768px) {
      width: 20px;
      border-top: 3px solid #1cbeeb;
    }
  }

  &__content {
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.188rem;
    margin-top: 24px;

    @media (min-width: 768px) {
      font-size: 1.125rem;
      line-height: 1.563rem;
      margin-top: 32px;
    }
  }

  &__cta {
    position: absolute;
    bottom: 32px;
  }
}
