.ai-card {
  &__graphic {
    position: absolute;
    width: 150%;
    top: -55vw;

    @media (min-width: 576px) {
      top: -325px;
    }

    @media (min-width: 768px) {
      width: unset;
      top: -375px;
      right: -410px;
    }

    @media (min-width: 992px) {
      top: -380px;
      right: -225px;
    }
  }
}

.card {
  color: #fff !important;
  border-radius: 0.75rem !important;
  background: radial-gradient(
    125.93% 361.33% at -20.54% 116.46%,
    #42078a 0%,
    #8e27fe 25.08%,
    #5469d4 56.08%,
    #668ccc 75.16%,
    #6adfdd 100%
  ) !important;
  padding: 32px 14px 36px 16px !important;

  + .card {
    margin-top: 50px;
    margin-left: auto;
    background: radial-gradient(
      125.93% 361.33% at -20.54% 116.46%,
      #064e3b 0%,
      #065f46 25%,
      #0d9488 50%,
      #0891b2 75%,
      #7e22ce 100%
    ) !important;
  }

  @media (min-width: 768px) {
    max-width: 80%;
    padding: 48px !important;
    padding-left: 24px !important;

    p {
      max-width: 85%;
    }
  }

  &__title {
    font-size: 2.25rem;

    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  &__content {
    font-size: 1.125rem;
    line-height: 1.575rem;

    @media (min-width: 768px) {
      font-size: 1.313rem;
      line-height: 1.838rem;
    }
  }
}
