.hero {
  &__bg {
    &--small {
      @media (min-width: 576px) {
        display: none;
      }
    }

    &--large {
      display: none;

      @media (min-width: 576px) {
        display: block;
      }
    }
  }

  &__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 60px;

    @media (min-width: 576px) {
      padding: 30px 0;
    }

    @media (min-width: 992px) {
      padding-top: 128px;
      padding-bottom: 106px;
    }
  }

  &__content {
    max-width: 985px;
  }

  &__title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 24px !important;

    @media (min-width: 768px) {
      font-size: 6rem;
      line-height: 6rem;
      margin-bottom: 32px !important;
    }

    &--colored {
      color: #ad31ff;
    }
  }

  &__points {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
}
