.why-section {
  &__title {
    font-size: 1.75rem;
    line-height: 2.1rem;

    @media (min-width: 768px) {
      font-size: 2.425rem;
      line-height: 3.15rem;
      font-weight: normal;
    }
  }
}
