@font-face {
  font-family: abcDiatype;
  src: url(https://solana.com/breakpoint/_next/static/media/2505c0cb43c413ba-s.p.woff2)
    format("woff2");
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: abcDiatype;
  src: url(https://solana.com/breakpoint/_next/static/media/c86deac8d9eb8d2f-s.p.woff2)
    format("woff2");
  font-display: fallback;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: abcDiatype;
  src: url(https://solana.com/breakpoint/_next/static/media/f2bf1e1cb6bb226b-s.p.woff2)
    format("woff2");
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: abcDiatype;
  src: url(https://solana.com/breakpoint/_next/static/media/a743dde3044f5925-s.p.woff2)
    format("woff2");
  font-display: fallback;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: abcDiatype;
  src: url(https://solana.com/breakpoint/_next/static/media/d786a7025335c30d-s.p.woff2)
    format("woff2");
  font-display: fallback;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: abcDiatype;
  src: url(https://solana.com/breakpoint/_next/static/media/5656b244d967731c-s.p.woff2)
    format("woff2");
  font-display: fallback;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: abcDiatype Fallback;
  src: local("Arial");
  ascent-override: 93.82%;
  descent-override: 32.11%;
  line-gap-override: 0%;
  size-adjust: 99.34%;
}
.__className_620c48 {
  font-family:
    abcDiatype,
    abcDiatype Fallback,
    Arial,
    sans-serif;
}
.__variable_620c48 {
  --font-abc-diatype: "abcDiatype", "abcDiatype Fallback", Arial, sans-serif;
}
@font-face {
  font-family: fhLecturis;
  src: url(https://solana.com/breakpoint/_next/static/media/d91029dd0a12a3df-s.p.woff2)
    format("woff2");
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: fhLecturis Fallback;
  src: local("Arial");
  ascent-override: 96.8%;
  descent-override: 19.36%;
  line-gap-override: 19.36%;
  size-adjust: 103.3%;
}
.__className_b69720 {
  font-family:
    fhLecturis,
    fhLecturis Fallback,
    Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
}
.__variable_b69720 {
  --font-fh-lecturis: "fhLecturis", "fhLecturis Fallback", Arial, sans-serif;
}
@font-face {
  font-family: macanMono;
  src: url(https://solana.com/breakpoint/_next/static/media/48fcfb0c927ad85b-s.p.woff2)
    format("woff2");
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: macanMono Fallback;
  src: local("Arial");
  ascent-override: 71.49%;
  descent-override: 16.73%;
  line-gap-override: 13.31%;
  size-adjust: 131.49%;
}
.__className_29a201 {
  font-family:
    macanMono,
    macanMono Fallback,
    Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
}
.__variable_29a201 {
  --font-macan-mono: "macanMono", "macanMono Fallback", Arial, sans-serif;
}
