.instagram-hero {
  padding: 20px 0;

  @media (min-width: 992px) {
    padding: 40px 0;
  }

  &__container {
    position: relative;
    max-width: 1280px;

    @media (min-width: 992px) {
      display: flex;
      align-items: center;
    }

    @media (min-width: 1605px) {
      max-width: 1605px;
    }
  }

  &__content {
    margin-bottom: 28px;
    max-width: 754px;

    @media (min-width: 992px) {
      padding: 0 20px;
      width: 50%;
    }

    @media (min-width: 1440px) {
      width: 754px;
      padding: 0;
    }
  }

  &__logos {
    margin-bottom: 22px;
  }

  &__logo {
    width: 32px;
    height: 32px;

    &:first-of-type {
      margin-right: 16px;

      @media (min-width: 1440px) {
        margin-right: 33px;
      }
    }

    @media (min-width: 1440px) {
      width: 64px;
      height: 64px;
    }
  }

  h1.instagram-hero__title {
    color: var(--color-parchment);
    font-size: 2.75rem;
    line-height: 100%;

    @media (min-width: 1440px) {
      font-size: 4rem;
    }
  }

  &__description {
    color: var(--color-gray);
    font-size: 0.875rem;
    line-height: 160%;

    @media (min-width: 768px) {
      font-size: 1rem;
    }

    @media (min-width: 1605px) {
      font-size: 1.25rem;
    }
  }

  &__image {
    width: 585px;

    @media (min-width: 768px) {
      margin: 0 auto;
    }

    @media (min-width: 992px) {
      width: 800px;
      margin-right: -100px;
    }

    @media (min-width: 1440px) {
      width: 1000px;
      margin-right: -200px;
    }

    @media (min-width: 1920px) {
      width: 1300px;
      margin-right: -500px;
    }
  }
}
