$enable-negative-margins: true;
$link-decoration: none;
$enable-shadows: false;
$min-contrast-ratio: 2.5;
$enable-validation-icons: false !default;

// Colors

$white: #ffffff;
$gray-100: #f9fdfc;
$gray-200: #f1f8f6;
$gray-300: #d9efe7;
$gray-400: #c6e6de;
$gray-500: #abd5c6;
$gray-600: #86b8b6;
$gray-700: #409088;
$gray-800: #387462;
// $gray-900: #1b4e3f;
$black: #232323;

$primary: #00ffbd;
$primary-desat: #42ba96;
$secondary: $gray-700;
$success: #42ba96;
$info: #b45be1;
$info-muted: #9272a3;
$warning: #d83aeb;
$danger: #43b5c5;
$light: $gray-100;
// $dark: $gray-900;

$card-background: #26262b;
$card-hover: #454549;
$card-background-light: #f9f9fb;
$card-background-dark: #000005;
$new-gray: #c8c8d6;
$black-bg: #232323;

$text-info-muted: $info-muted;
$body-bg: #000 !default;
$body-color: $black !default;
