//
// Extended from Bootstrap
//

// Former lift.scss
$btnBorder: 1px;
$translateY: 3px;
$box-shadow-lift:
  0 1rem 2.5rem fade-out($black, 0.9),
  0 0.5rem 1rem -0.75rem fade-out($black, 0.9) !default;

.lift {
  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease;
}

.lift:not([disabled]):hover,
.lift:not([disabled]):focus {
  box-shadow: $box-shadow-lift !important;
  transform: translate3d(0, -$translateY, 0);
}

.lift:not([disabled]):hover::after {
  content: "";
  position: absolute;
  left: -$btnBorder;
  top: -$btnBorder;
  height: calc(100% + $translateY + 2 * $btnBorder);
  width: calc(100% + 2 * $btnBorder);
}

// Former dropdown.scss
.dropdown-toggle:after {
  content: "";
  border: 0;
}

html,
body {
  --font-family-sans-serif:
    Helvetica, Arial, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono:
    "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

body {
  font-family: Diatype, var(--font-family-sans-serif);
  color: #fff;
  font-size: 1.3125rem;
  line-height: 140%;
  transition: background-color 0.3s ease;
  background-color: var(--body-bg);
}

::selection {
  background: var(--selection-color, $primary);
  color: var(--selection-text-color, $black);
}

/* Desktop/Display XLarge */
h1,
.h1 {
  font-size: clamp(3.5rem, 8vw, 6rem);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.03rem;
  color: inherit;
}

/* Desktop/Display Large */
h2,
.h2 {
  font-size: clamp(2.625rem, 8vw, 4.5rem);
  font-weight: bold;
  line-height: 105%;
  letter-spacing: -0.0425rem;
  color: inherit;
}

/* Desktop/Display Medium */
h3,
.h3 {
  font-size: clamp(2.25rem, 8vw, 3.5rem);
  font-weight: bold;
  line-height: 105%;
  color: inherit;
}

/* Desktop/Headline Large */
h4,
.h4 {
  font-size: 2.625rem;
  line-height: 110%;
  letter-spacing: -1px;
  font-weight: 700;
  color: inherit;
}

/* Desktop/Headline Medium */
.h5,
h5 {
  font-size: 1.75rem;
  line-height: 118%;
  font-weight: bold;
  color: inherit;
}

/* Desktop/Headline Small */
h6,
.h6 {
  font-size: 1.5rem;
  line-height: 117%;
  color: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 2rem;
}

a {
  color: #00ffc2;
  text-decoration: none;
}

iframe {
  border: 0;
  max-width: 100%;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.smaller {
  font-size: 1rem;
}

.small {
  font-size: 1.1rem;
}

.clamp {
  font-size: clamp(1.125rem, 8vw, 1.3125rem) !important;
}

.large {
  font-size: 1.75rem !important;
  line-height: 120% !important;
}

.subdued {
  color: #c4c4c4;
}

.display-3 {
  font-weight: 300;
  line-height: 1.2;
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

// Custom border color for the form controls
.form-control {
  border: 1px solid;
  border-color: #409088;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  // border-radius: 0.375rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

[class*="aspect"] {
  position: relative;
}

[class*="aspect"] > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container,
.container-fluid,
.container-xl {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container,
  .container-xl {
    max-width: 1141px;
  }
}

// Adapt container for screens wor
@media (min-width: 1441px) {
  .container-xxl,
  .container-xl,
  .container-md,
  .container {
    max-width: 1200px !important;
  }
  .container-xxxl {
    max-width: 1440px !important;
  }
}

.btn {
  --btn-padding-x: 0.75rem;
  --btn-padding-y: 0.375rem;
  --btn-font-family: ;
  --btn-font-size: 1rem;
  --btn-font-weight: 400;
  --btn-line-height: 1.5;
  --btn-color: #232323;
  --btn-bg: transparent;
  --btn-border-width: 0px;
  --btn-border-color: transparent;
  --btn-border-radius: 6px;
  --btn-hover-border-color: transparent;
  --btn-box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(35, 35, 35, 0.075);
  --btn-disabled-opacity: 0.65;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}

.btn:focus-visible {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  outline: 0;
  box-shadow: var(--btn-focus-box-shadow);
}

.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--btn-active-color);
  background-color: var(--btn-active-bg);
  border-color: var(--btn-active-border-color);
}

.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  box-shadow: var(--btn-focus-box-shadow);
}

.btn.disabled,
.btn:disabled {
  color: var(--btn-disabled-color);
  pointer-events: none;
  background-color: var(--btn-disabled-bg);
  border-color: var(--btn-disabled-border-color);
  opacity: var(--btn-disabled-opacity);
}

.btn-primary {
  --btn-color: #232323;
  --btn-bg: #00ffbd;
  --btn-border-color: #00ffbd;
  --btn-hover-color: #232323;
  --btn-hover-bg: rgb(38.25, 255, 198.9);
  --btn-hover-border-color: rgb(25.5, 255, 195.6);
  --btn-focus-shadow-rgb: 5, 222, 166;
  --btn-active-color: #232323;
  --btn-active-bg: rgb(51, 255, 202.2);
  --btn-active-border-color: rgb(25.5, 255, 195.6);
  --btn-active-shadow: inset 0 3px 5px rgba(35, 35, 35, 0.125);
  --btn-disabled-color: #232323;
  --btn-disabled-bg: #00ffbd;
  --btn-disabled-border-color: #00ffbd;
}

.btn-link {
  --btn-font-weight: 400;
  --btn-color: var(--link-color);
  --btn-bg: transparent;
  --btn-border-color: transparent;
  --btn-hover-color: var(--link-hover-color);
  --btn-hover-border-color: transparent;
  --btn-active-color: var(--link-hover-color);
  --btn-active-border-color: transparent;
  --btn-disabled-color: #86b8b6;
  --btn-disabled-border-color: transparent;
  --btn-box-shadow: 0 0 0 #000;
  --btn-focus-shadow-rgb: 5, 222, 166;
  text-decoration: none;
}

.btn-link:focus-visible {
  color: var(--btn-color);
}

.btn-link:hover {
  color: var(--btn-hover-color);
}

.btn-lg {
  --btn-padding-y: 0.5rem;
  --btn-padding-x: 1rem;
  --btn-font-size: 1.25rem;
  --btn-border-radius: var(--border-radius-lg);
}

.btn-sm {
  --btn-padding-y: 0.25rem;
  --btn-padding-x: 0.5rem;
  --btn-font-size: 0.875rem;
  --btn-border-radius: var(--border-radius-sm);
}

// Bootstrap until v.5 doesn't have this helper
.overflow-visible {
  overflow: visible !important;
}

// Overwrite modal content theme
.dark-modal-content {
  background: #18191e;
  border-radius: 1.3125rem;
  border: 0;
}

// Vimeo wrapper custom iframe styles
.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  background-color: #000;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.still-vimeo-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Update the reboot's <code> style to scale based on parent's size
// Use 0.9 because the Mono glyphs are usually larger
code {
  font-size: 0.9em !important;
}

// Cursor pointer helper
.cursor-pointer {
  cursor: pointer;
}

.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    outline: inherit;
    box-shadow: inherit;
    vertical-align: inherit;
  }
}

.kg-embed-card {
  position: relative !important;
  padding-bottom: 56.25% !important;
  height: auto !important;
}

.kg-embed-card iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Safari 15+ displays a gray border while loading
// https://nextjs.org/docs/api-reference/next/image
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

:root {
  --body-bg: #121212;
  --body-text: #fafafa;
  --body-text-secondary: #848895;

  --scrollbar-track: #414141;
  --scrollbar-thumb: #666;
  --scrollbar-thumb-hover: #888;

  --mdx-text-color: #c0c0c0;
  --mdx-text-color-2: #3f3a4e;
  --mdx-text-color-3: #818384;
  --mdx-link-color: #00ffbd;
  --mdx-link-color-hover: #00ffbd;

  --mdx-bg: #222121;
  --mdx-table-bg-1: #151515;
  --mdx-table-bg-2: #181818;

  --mdx-details-bg: #1d1f21;
  --mdx-details-border: #414141;

  --callout-text-color: #e2e2e2;
  --callout-yellow-bg: #a36a00;
  --callout-yellow-border: #e6ab09;
  --callout-green-bg: #086835;
  --callout-green-border: #118e4c;
  --callout-red-bg: #5c0909;
  --callout-red-border: #810e0e;
  --callout-blue-bg: #032a4a;
  --callout-blue-border: #0e4d81;

  &.light {
    --body-bg: #fff;
    --body-text: #121212;

    --scrollbar-track: #f2f4f7;
    --scrollbar-thumb: #d0d0dc;
    --scrollbar-thumb-hover: #9d9dae;

    --mdx-text-color: #3f3a4e;
    --mdx-text-color-2: #a5a5a5;
    --mdx-text-color-3: #4f5152;
    --mdx-link-color: #9945ff;
    --mdx-link-color-hover: #9945ff;

    --mdx-bg: #d5d5d5;
    --mdx-table-bg-1: #e7e7e7;
    --mdx-table-bg-2: #dbdbdb;

    --mdx-details-bg: #dedede;
    --mdx-details-border: #c2c2c2;

    --callout-text-color: #333333;
    --callout-yellow-bg: #edbd5e;
    --callout-yellow-border: #e6ab09;
    --callout-green-bg: #58d190;
    --callout-green-border: #29b369;
    --callout-red-bg: #f64f4f;
    --callout-red-border: #c22525;
    --callout-blue-bg: #5fb5fc;
    --callout-blue-border: #4c94cf;
  }
}

// Prevent long links from breaking the layout
main a {
  overflow-wrap: break-word;
}
