.description-container {
  padding: 0;

  @media (min-width: 576px) {
    padding: 100px 32px 32px 0;
  }

  @media (min-width: 768px) {
    padding-top: 120px;
  }

  &__title {
    font-size: 2.3rem;

    @media (min-width: 1200px) {
      font-size: 3.5rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 16px;

    @media (min-width: 992px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @media (min-width: 576px) {
      justify-content: flex-start;
      align-items: start;
    }

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__apple-podcasts {
    padding: 0.575rem 1.5rem !important;
  }
}
