.podcast-navigation {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    margin-bottom: -60px;
    padding-right: 30px;
  }

  a {
    color: #fff;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__active {
    opacity: 1 !important;
    text-decoration: underline;
  }

  &__socials {
    @media (min-width: 576px) {
      display: flex;
      justify-content: flex-end;

      a {
        display: inline-flex;
        opacity: 0.7;
        margin-right: 5px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
