.podcast-listen-options-modal-content {
  div {
    margin-bottom: 16px;

    a {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: #fff;
      opacity: 0.7;

      svg {
        margin-right: 16px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
