.branding {
  padding: 16px;

  @media (min-width: 768px) {
    padding: 32px;
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 400px;
    z-index: -1;

    :global(.sc-background-triangle.home) {
      @media (min-width: 576px) {
        width: 350px;
      }

      @media (min-width: 768px) {
        width: 400px;
      }

      @media (min-width: 1100px) {
        width: 550px;
      }
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      fill: #ea66fe;

      @media (min-width: 576px) {
        :global(.sc-triangle) {
          display: none;
        }
      }

      :global(.sc-triangle-home) {
        display: none;

        @media (min-width: 576px) {
          display: block;
          width: 350px;
        }

        @media (min-width: 768px) {
          width: 400px;
        }

        @media (min-width: 1100px) {
          width: 550px;
        }
      }
    }
  }

  &__logo {
    max-width: 500px;
    margin-top: 22px;

    @media (min-width: 576px) {
      margin-top: 100px;
    }
  }
}
