.depinHero {
  position: relative;
  min-height: calc(100vh - 75.4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 20px 16px 0;
  overflow: hidden;
  background-color: #080d17;
  background-image:
  /* 1. TEAL fringe bottom-right corner */
    radial-gradient(
      50% 30% at 75% 70%,
      rgba(30, 135, 100, 0.45) 0%,
      rgba(12, 87, 62, 0.45) 40%,
      rgba(19, 24, 30, 0) 80%
    ),
    /* 2. PURPLE fringe bottom-left corner */
      radial-gradient(
        50% 30% at 20% 70%,
        rgba(59, 35, 212, 0.45) 0%,
        rgba(28, 14, 113, 0.65) 40%,
        rgba(94, 69, 255, 0) 80%
      );

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    padding: 80px 24px 0;
  }

  .badge {
    margin-bottom: 1.5rem;
    padding: 6px 12px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    @media (min-width: 768px) {
      margin-bottom: 2rem;
      padding: 8px 16px;
      gap: 6px;
    }

    span {
      color: white;
      font-size: 12px;

      @media (min-width: 768px) {
        font-size: 14px;
      }
    }

    .eyebrowText {
      color: white;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 1;

      @media (min-width: 768px) {
        font-size: 12px;
      }
    }
  }

  .badgeIcon {
    color: white;
    width: 12px;
    height: 12px;

    @media (min-width: 768px) {
      width: 14px;
      height: 14px;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 800px;
    }

    h1 {
      font-size: 32px;
      font-family: var(--font-display);
      color: white;
      margin-bottom: 1rem;
      line-height: 1.1;

      @media (min-width: 480px) {
        font-size: 40px;
      }

      @media (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 1.5rem;
      }

      @media (min-width: 992px) {
        font-size: 64px;
      }
    }

    p {
      color: #848895;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.2;

      @media (min-width: 768px) {
        font-size: 18px;
        margin-bottom: 2rem;
        max-width: 600px;
      }

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }
  }

  .reportEyebrow {
    margin: 16px auto 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 104.18%;
    text-align: center;
    letter-spacing: 0.16em;
    color: #fff;
    text-transform: uppercase;
  }
  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .emailButton {
      height: 54px;
      min-width: 153px;
      background: #7b47ff;
      color: #fff;
      border: none;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 500;
      z-index: 2;
      box-shadow: none;
      padding: 0 16px !important;
      transition: background 0.2s;

      &:hover,
      &:focus-visible {
        background: #6a3ed6;
      }
    }
  }

  .statsBar {
    margin: 72px auto 60px;
    padding: 32px 24px 24px;
    width: 100%;
    min-width: 0;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(8, 13, 23, 0.2);
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(47.3px);
    z-index: 1;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 640px) {
      flex-direction: row;
      width: 60%;
      min-width: 600px;
      gap: 0;
      margin-bottom: 0;
    }
  }

  .statBlock {
    text-align: center;
    min-width: 0;
    width: 100%;

    @media (min-width: 640px) {
      min-width: 160px;
      width: auto;
    }
  }

  .divider {
    width: 48px;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    margin: 24px 0;
    align-self: center;

    @media (min-width: 640px) {
      width: 1px;
      height: 80px;
      margin: 0 24px;
    }
  }

  .statValueGradient {
    font-size: 3rem;
    font-weight: 700;
    display: block;
    background: linear-gradient(150deg, #2af8a7 20%, #9164ff 80%);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;
  }

  .statLabel {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 4px;
  }

  .vectorDivider {
    flex: 1;
    width: 81.5px;
    height: 0px;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    display: block;
  }

  .globe {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    width: 220%;
    max-width: none;
    height: auto;
    opacity: 0.9;

    @media (min-width: 480px) {
      width: 170%;
      top: 80%;
    }

    @media (min-width: 768px) {
      width: 140%;
      top: 70%;
      max-width: 900px;
    }

    @media (min-width: 992px) {
      top: 450px;
      width: 120%;
      max-width: 1000px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 120px;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(
      to top,
      rgba(8, 13, 23, 1) 0%,
      rgba(8, 13, 23, 0) 100%
    );
  }
}
