@media screen and (min-width: 992px) {
  .root {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }

  .some {
    padding: 3px 10px;
    border-radius: 4px;
  }

  .scale {
    background:
      linear-gradient(360deg, #193dbc 0%, rgba(25, 61, 188, 0) 100%), #0260e8;
  }

  .ship {
    background:
      linear-gradient(0deg, #eb334e, #eb334e),
      linear-gradient(360deg, #ae2747 0%, rgba(174, 39, 71, 0) 100%);
  }
}
