.root {
  width: 100%;
  border-radius: 4px;
  padding: 24px;

  &[data-variant="scale"] {
    background: radial-gradient(
      50% 100% at 50% 100%,
      #0260e8 0%,
      rgba(2, 96, 232, 0) 100%
    );
  }

  &[data-variant="ship"] {
    background: radial-gradient(
      50% 100% at 50% 100%,
      #ae2747 0%,
      rgba(174, 39, 71, 0) 100%
    );
  }

  * {
    color: #fff !important;
  }

  a {
    text-decoration: underline;
  }
}
