@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.accelerate-layout {
  margin-bottom: -10rem;
  padding-bottom: 10rem;

  :global {
    --purple-light: #c297f5;
    --purple-dark: #1f183a;

    p {
      margin: 0;
    }

    .spacegrotesk {
      font-family: "Space Grotesk", sans-serif;
    }

    .section {
      padding: 0 24px;

      @media screen and (min-width: 768px) {
        padding: 0 96px;
      }
    }
  }

  h6,
  .h6,
  h5,
  .h5,
  h4,
  .h4,
  h3,
  .h3,
  h2,
  .h2,
  h1,
  .h1 {
    font-family: "Space Grotesk", sans-serif;
  }
}
