.btn {
  font-family: "Diatype", monotype;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.125rem;

  width: 100%;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    #0360e2 0%,
    #2553ce 10%,
    #663aaa 29%,
    #9d258c 47%,
    #c71574 63%,
    #e50a63 78%,
    #f80359 91%,
    #ff0156 100%
  );
  border-color: inherit !important;
  margin-top: 16px;
  color: white !important;
  padding: 10px 16px;

  :hover,
  .span:hover {
    color: white !important;
  }
}
