.btn {
  background: linear-gradient(90deg, #0360e2 0%, #ff0156 100%);
  color: white;
  padding: 1px;
  border-radius: 100px;

  span {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 0.05em;
    padding: 1rem 1.25rem;
    line-height: 1;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    background: black;
    border-radius: 100px;
    transition: 0.3s;
  }

  &:hover span {
    background: transparent;
  }
}
