.btn {
  font-family: "Space Grotesk", monotype;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.05em;
  border-radius: 100px;
  padding: 1.5rem 2.5rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: 0.3s all;
  background: linear-gradient(90deg, #0360e2 0%, #ff0156 100%);

  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: black;
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  &:hover {
    .overlay {
      opacity: 0;
    }
    span {
      color: white;
    }
  }
}
.overlay {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: 0.3s;
}
.btn.blue {
  width: auto;
  background: linear-gradient(90deg, #0360e2 0%, #0360e2 50%, #ff0156 100%);
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position 0.4s ease-in-out;
  span {
    color: white;
  }

  &:hover {
    background-position: 100% 0;
  }
}
.btn.red {
  width: auto;
  background: linear-gradient(90deg, #ff0156 0%, #ff0156 50%, #0360e2 100%);
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position 0.4s ease-in-out;
  span {
    color: white;
  }

  &:hover {
    background-position: 100% 0;
  }
}
