.btn {
  font-family: "Diatype", monotype;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.125rem;

  width: 100%;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    #0360e2 0%,
    #2553ce 10%,
    #663aaa 29%,
    #9d258c 47%,
    #c71574 63%,
    #e50a63 78%,
    #f80359 91%,
    #ff0156 100%
  );
  margin-top: 16px;
  padding: 10px 16px;

  span {
    color: white;
  }

  &:hover,
  &:active {
    background: #ffffff;
  }

  &:hover span {
    background:
      linear-gradient(
        90deg,
        rgba(3, 96, 226, 0.8) 0%,
        rgba(37, 83, 206, 0.8) 10%,
        rgba(102, 58, 170, 0.8) 29%,
        rgba(157, 37, 140, 0.8) 47%,
        rgba(199, 21, 116, 0.8) 63%,
        rgba(229, 10, 99, 0.8) 78%,
        rgba(248, 3, 89, 0.8) 91%,
        rgba(255, 1, 86, 0.8) 100%
      ),
      #ffffff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:active span {
    color: black;
    background: unset;
    -webkit-text-fill-color: unset;
  }
}
