.container {
  width: 100%;
  padding: 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.speakerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }
}

.imageWrapper {
  position: relative;
  width: 180px;
  height: 180px;
  margin-bottom: 1rem;

  img {
    border-radius: 50%;
    border: 5px solid rgb(41 0 255 / 12%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      radial-gradient(
        circle at 35% 55%,
        rgba(0, 102, 255, 0.3) 0%,
        transparent 40%
      ),
      radial-gradient(
        circle at 65% 65%,
        rgba(255, 0, 72, 0.3) 0%,
        transparent 40%
      );
    pointer-events: none;
    z-index: -1;
  }
}

.info {
  width: 100%;
}

.name {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.5rem 0;
}

.title {
  font-size: 1rem;
  line-height: 1.1;
  margin: 0;
  opacity: 0.8;
}
