$border-color: #707070;
$transition-speed: 0.3s;

.accordion {
  width: 100%;
}

.item {
  border-bottom: 1px solid $border-color;
}

.question {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;

  .arrow {
    transition: transform $transition-speed ease;
  }

  .open {
    transform: rotate(180deg);
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  color: #bcbcbc;
  font-size: 16px;
  transition:
    max-height $transition-speed ease,
    padding $transition-speed ease;

  &.show {
    max-height: 800px;
    padding-bottom: 20px;
  }
  .content {
    font-size: 16px;
  }
}
