.container {
  width: 100%;
}

.card {
  width: 665px;
  aspect-ratio: 16/9;
  padding-right: 32px;

  @media (max-width: 1245px) {
    padding-right: 12px;
  }
}

.arrowLeft {
  font-size: 32px;
  color: black;
  background: #838191;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  top: -146px;
  right: 56px;
  @media (max-width: 640px) {
    bottom: -46px;
    top: auto;
  }
}
.arrowRight {
  font-size: 32px;
  color: black;
  background: #838191;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  top: -146px;
  right: 0;
  @media (max-width: 640px) {
    bottom: -46px;
    top: auto;
  }
}
