.accelerate-navbar {
  @media screen and (min-width: 992px) {
    :global {
      .navbar-nav .nav-link {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
      }

      .nav-link[href*="/accelerate/ship-or-die"],
      .nav-link[href*="/accelerate/scale-or-die"] {
        padding: 3px 10px;
        border-radius: 4px;
        margin-left: 1.5rem;
      }

      .nav-link[href*="/accelerate/ship-or-die"] {
        background: linear-gradient(
            360deg,
            #ae2747 0%,
            rgba(174, 39, 71, 0) 100%
          ),
          #eb334e;
      }

      .nav-link[href*="/accelerate/scale-or-die"] {
        background: linear-gradient(
            360deg,
            #193dbc 0%,
            rgba(25, 61, 188, 0) 100%
          ),
          #0260e8;
      }
    }
  }
}
