.hero {
  display: flex;
  justify-content: center;

  text-align: center;
  position: relative;
  padding: 100px 20px;
  text-wrap: balance;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, #121212);
  }

  // Work around to affect styling `.tw-html_parser` so there are no gaps or margins between text
  :global {
    .tw-html_parser {
      gap: 0;

      p {
        margin-bottom: 0;
      }
    }
  }

  &[data-variant="scale"] {
    background: linear-gradient(
      45deg,
      #3357d5 0%,
      #385cdb 6%,
      #375bda 12%,
      #2c50cf 19%,
      #0c30af 31%,
      #0226a3 39%,
      #012193 43%,
      #01155d 53%,
      #010e3c 62%,
      #01071e 81%,
      #010518 95%,
      #01071d 100%
    );
  }

  &[data-variant="ship"] {
    background: linear-gradient(
      to bottom right,
      #300000 0%,
      #600000 25%,
      #900000 50%,
      #c00000 75%,
      #ff0000 100%
    );
  }
}

.inner {
  width: 100%;
  max-width: 1200px;
}
