@media screen and (min-width: 992px) {
  .root {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;

    &:not([data-variant="none"]) {
      padding: 4px 16px;
      border-radius: 4px;
      border: 1px solid transparent;
      box-sizing: border-box;
    }

    &[data-variant="scale"] {
      background: linear-gradient(0deg, #193dbc, #0260e8);

      &:hover {
        background: linear-gradient(0deg, #0260e8, #193dbc);
        border: 1px solid #193dbc;
      }

      &:active {
        background: #193dbc;
        border: 1px solid #193dbc;
      }
    }

    &[data-variant="ship"] {
      background: linear-gradient(0deg, #ae2747, #eb334e);

      &:hover {
        background: linear-gradient(0deg, #eb334e, #ae2747);
        border: 1px solid #ae2747;
      }

      &:active {
        background: #ae2747;
        border: 1px solid #ae2747;
      }
    }
  }
}
