.btn {
  font-family: "Diatype", monotype;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;

  border: 1px solid #707070;

  width: 100%;
  border-radius: 4px;
  margin-top: 16px;
  padding: 10px 16px;

  color: white;

  &:hover {
    background: linear-gradient(180deg, #000000 0%, #4b4b4b 100%);
  }

  &:active {
    background: white;
    color: black;
  }
}

.capitalize {
  text-transform: uppercase;
}

.inverted {
  background: white;
  color: black;

  &:hover {
    background: linear-gradient(180deg, #4b4b4b 0%, #000000 100%);
    color: white;
  }

  &:active {
    background: black;
    color: white;
  }
}
