.code {
  color: #d4d4d4;
}

.code :global(.token.comment),
.code :global(.token.prolog),
.code :global(.token.doctype),
.code :global(.token.cdata) {
  color: #8b949e;
}

.code :global(.token.punctuation) {
  color: #c9d1d9;
}

.code :global(.token.property),
.code :global(.token.tag),
.code :global(.token.constant),
.code :global(.token.symbol),
.code :global(.token.deleted) {
  color: #ff7b72;
}

.code :global(.token.boolean),
.code :global(.token.number) {
  color: #f2cc60;
}

.code :global(.token.selector),
.code :global(.token.attr-name),
.code :global(.token.string),
.code :global(.token.char),
.code :global(.token.builtin),
.code :global(.token.inserted) {
  color: #7ee787;
}

.code :global(.token.operator),
.code :global(.token.entity),
.code :global(.token.url),
.code :global(.language-css .token.string),
.code :global(.style .token.string) {
  color: #79c0ff;
}

.code :global(.token.atrule),
.code :global(.token.keyword) {
  color: #d2a8ff;
}

.code :global(.token.function),
.code :global(.token.class-name) {
  color: #ffa657;
}

.code :global(.token.regex),
.code :global(.token.important),
.code :global(.token.variable) {
  color: #a5d6ff;
}
