//
// navbar.scss
// Extended from Bootstrap
//

// Mobile first
.navbar {
  padding: 1.25rem 0;
  z-index: 2; // overcome submenu stacking issues
  transition: background-color 0.3s ease;

  &-dark {
    background-color: rgb(18 18 18 / 95%);
  }

  &-light {
    background: rgb(255 255 255 / 95%);
  }

  .navbar-toggler {
    margin: -6px;
    border: 0;
    cursor: pointer;
    border: 0;
    padding: 10px;
    height: 40px;
    width: 40px;

    .bar {
      display: block;
      width: 20px;
      height: 2px;
      background-color: var(--body-text);
      transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);

      & + .bar {
        margin-top: 4px;
      }
    }

    &:not(.collapsed) {
      .bar {
        margin: 0;
        position: absolute;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 1rem;
    background: radial-gradient(
        farthest-corner at bottom right,
        rgb(58 35 63 / 60%),
        transparent 250px
      ),
      linear-gradient(180deg, #000 70%, #181222);
    height: calc(100vh - 68px) !important;
    overflow-y: scroll;
  }

  .navbar-nav {
    font-size: 1.1rem;
    transition: $transition-base;
    transition-property: background-color, color;
    z-index: $zindex-fixed;

    .nav-item {
      &:not(:last-child):not(.show) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    // Nav link states
    .nav-link {
      color: #848895;

      &:hover,
      &:focus {
        color: #fff;
      }

      // Add proper focus to buttons as well, whose outlines were previously removed
      &:focus-visible {
        outline: auto;
      }

      // Gets rid of the focus outline for mouse users but preserves it for keyboard users
      :focus:not(:focus-visible) {
        outline: 0;
      }

      &--primary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 1rem 0;

        &.active {
          color: #fff;
        }
      }

      &--secondary {
        border: 1px solid transparent;
        padding: 0.3rem 0.5rem;
        margin: 0.2rem -0.5rem;
        border-radius: 8px;

        &:hover,
        &.active {
          border-color: rgba(255, 255, 255, 0.1);
          background: #151118;
        }
      }
    }

    // Dropdown toggle
    .dropdown > .dropdown-toggle {
      background: none;
      border: 0;

      &::after {
        // clear default caret
        content: none;
      }
    }

    .dropdown-menu {
      background: #111214;
      padding: 25px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      color: #848895;

      .divider {
        background: rgba(255, 255, 255, 0.1);
        height: 1px;
        margin: 2.5rem -1.625rem;

        @include media-breakpoint-up(lg) {
          width: 1px;
          height: auto;
          margin: -1.625rem 2.5rem;
        }
      }
    }

    // Navbar Footer/Additional Links
    .nav-footer {
      border-color: rgba(255, 255, 255, 0.1);
      background: #151118;
      margin: 1.625rem -25px -25px -25px;
      padding: 25px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);

      .nav-link {
        &--secondary {
          &:hover,
          &.active {
            border-color: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}

// Large displays
@include media-breakpoint-up(lg) {
  .navbar-toggler {
    display: none;
  }

  .navbar {
    .navbar-collapse {
      background: transparent;
      position: static;
      padding: 0;
      height: auto !important;
      overflow: visible;
    }

    .navbar-nav {
      white-space: nowrap;
      // Revert overflow-y: auto from mobile
      overflow-y: visible;
      max-height: none;

      .nav-link {
        &--primary {
          padding: 0;
          width: auto;
          margin: 0 0 0 2rem;

          &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: -5px;
            left: 0;
          }

          &.active {
            color: #fff;
          }
        }
      }

      // Show bottom border only when dropdown open
      .nav-item.show {
        .nav-link {
          &--primary {
            &::before {
              background-color: var(--color-active);
            }
          }
        }
      }

      .dropdown-menu {
        top: 100%;
        font-size: 1rem;
        // Same as navbar-collapse
        background: rgb(0 0 0 / 90%);
        backdrop-filter: blur(10px);
        box-shadow: 0 10px 10px rgb(0 0 0 / 50%);

        // custom animated show/hide
        display: block !important;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease all;

        // middle align
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }

      .nav-item {
        border: 0 !important;
      }

      .dropdown.show > .dropdown-menu {
        top: calc(100% + 1rem);
        visibility: visible;
        opacity: 1;
      }
    }

    &-light {
      .navbar-nav {
        .nav-link {
          &--primary {
            &:hover,
            &:focus,
            &.active {
              color: var(--body-text);
            }
          }
        }
      }
    }
  }
}

// accommodate the Network and Community dropdowns
// to prevent horizontal scrolling in some scenarios
@media (min-width: 992px) {
  .navbar {
    .navbar-nav {
      .nav-item {
        @media (max-width: 1400px) {
          &:nth-last-child(2) .dropdown-menu {
            margin-left: -120px;
          }
        }

        @media (max-width: 1750px) {
          &:last-child .dropdown-menu {
            right: 0;
            left: auto;
            transform: none;
          }
        }
      }

      // Navbar Footer/Additional Links
      .nav-footer {
        border-color: rgba(255, 255, 255, 0);
      }
    }
  }
}
