.animated-cta {
  padding: 0 28px 0 27px;
  height: 49px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  border: 0;

  @media (min-width: 992px) {
    padding: 0 63px 0 62px;
    height: 67px;
  }

  &--large {
    padding: 0 63px 0 62px;
    height: 67px;
  }

  &--primary {
    border: 0; // noop to maintain the rule in place
  }

  &--secondary {
    height: 67px;
    padding: 0 52px 0 40px;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__text {
    z-index: 2;
    text-transform: uppercase;
    position: relative;
    font:
      700 0.875rem/100% Diatype,
      var(--font-family-sans-serif);
    letter-spacing: 0.05em;
    color: var(--color-black);

    @media (min-width: 992px) {
      font-size: 0.813rem;
    }

    .summercamp-cta--secondary & {
      font-size: 0.813rem;
      font-weight: 800;
      letter-spacing: 0.1em;
      color: var(--color-parchment);
    }
  }
}
