.ramp-filters {
  position: fixed;
  right: -100%;
  border: 1px solid #1d1a23;
  border-radius: 20px;
  width: 90vw;
  background: #1b1622;
  transition: all 0.3s ease;
  padding: 20px;
  top: 90px;

  @media all and (min-width: 768px) {
    position: relative;
    flex-basis: 30%;
    right: unset;
    margin-right: 20px;
    width: 30%;
    padding: 30px;
    background: transparent;
    top: 0;
  }

  :global {
    .ramp-filters__close {
      background-color: #9945ff;
      border-radius: 100%;
      opacity: 1;
      background-size: 17px;
      padding: 5px;

      @media all and (min-width: 768px) {
        display: none;
      }
    }
  }
}

.ramp-filters--active {
  @media all and (max-width: 768px) {
    right: 0;
    z-index: 50;
  }
}

.ramp-filters__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ramp-filters__header-left {
  @media all and (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.ramp-filters__title {
  font-family: "Diatype", monotype;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 0;
}

.ramp-filters__clear-filters {
  font-family: "Diatype", monotype;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
}
