.ramp-filter {
  background-color: #1d1a23;
  padding: 30px 20px;
  border-radius: 16px;

  @media all and (min-width: 768px) {
    padding: 20px;
  }

  @media all and (min-width: 1024px) {
    padding: 30px;
  }

  &--active {
    .ramp-filter__toggle {
      transform: rotate(180deg);
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
}

.ramp-filter__search-input {
  background-color: #26232c;
  width: 95%;
  color: #fafafa;
  margin: 2px 2px 1rem 2px;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
}

.ramp-filter__header {
  cursor: pointer;
}

.ramp-filter__title {
  font-family: "Diatype", monotype;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.ramp-filter__toggle {
  width: 13px;
  height: 13px;
  background-image: url("/src/img/ramps/down-arrow.svg");
  background-size: 13px 13px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.ramp-filter__toggle--active {
  transform: rotate(180deg);
}

.ramp-options {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  overflow-y: scroll;
}

.ramp-options--currency {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @media all and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.ramp-options--active {
  padding: 30px 0 0;
  max-height: 1000px;
  transition: all 0.3s ease;
}

.ramp-options__option {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.ramp-options__option--currency {
  margin: 0 !important;
}

.ramp-options__checkbox {
  position: relative;
  appearance: none;
  border: 1px solid #555;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;

  &:checked::after {
    content: "";
    border-color: #00d18c;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/src/img/ramps/check.svg");
    background-size: 15px 15px;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ramp-options__label {
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.ramp-options__currency {
  appearance: none;
  display: none;

  &:checked + .ramp-options__currency-label {
    background-color: #1d1a23;
    border-color: #fcfcfd;
  }
}

.ramp-options__currency-label {
  border-radius: 18px;
  background-color: #504d61;
  color: #fff;
  box-shadow: 0px 0.538px 1.077px 0px rgba(25, 251, 155, 0.05);
  width: auto;
  height: 28px;
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  transition: all 0.3s ease;
  border: 1px solid #504d61;
  cursor: pointer;

  @media all and (min-width: 768px) {
    font-size: 11px;
  }

  @media all and (min-width: 1280px) {
    font-size: 11px;
  }

  @media all and (min-width: 1330px) {
    font-size: 13px;
  }
}
