.ramps-card {
  text-align: left;
  background-color: #1d1a23;
  padding: 10px;
  border-radius: 16px;

  @media all and (min-width: 768px) {
    padding: 20px;
  }

  @media all and (min-width: 1024px) {
    padding: 30px;
  }
}

.ramps-card__icon-container {
  display: block;
  padding-bottom: 20px;
}

.ramps-card__title {
  font-family: "Diatype", monotype;
  color: #fff;
  font-size: 28px;
  line-height: 33px;
}

.ramps-card__description {
  font-family: "Diatype", monotype;
  font-size: 14px;
  line-height: 20px;
  color: #6c6a81;
}

.ramps-card__details {
  font-family: "Diatype", monotype;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  span {
    color: #9945ff;
    font-size: 20px;
  }
}
