.instagram-giveaway-form {
  &__ctrl {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      margin-bottom: 16px;
    }

    &:last-of-type {
      margin-bottom: 0;

      @media (min-width: 992px) {
        margin-bottom: 16px;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 16px;
    background: #131212;
    border: 1px solid #424548;
    border-radius: 16px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    color: var(--color-gray);
    transition: border 0.2s;

    @media (min-width: 992px) {
      font-size: 1rem;
    }

    &--invalid {
      border-color: red;
    }
  }

  &__error-msg {
    font-size: 1rem;
    line-height: 120%;
    padding: 8px 0;
    color: red;
  }

  &__msg {
    display: block;
    margin: 10px 0;

    @media (min-width: 992px) {
      display: inline-block;
      margin: 0 0 0 10px;
    }
  }
}
