.playgg-splash {
  display: grid;
  overflow: hidden;
  align-items: center;
  margin: 2rem 0;

  &__wrapper {
    margin: 6rem 0 3rem;
    position: relative;
    z-index: 1;

    @media (min-width: 992px) {
      margin-top: 0;
    }
  }

  &__date {
    position: absolute;
    top: -175px;
    right: 0;
    z-index: -1;
    text-align: right;
    font-weight: 700;
    font-size: 62px;
    line-height: 1;
    mix-blend-mode: color-dodge;

    &--difference {
      z-index: 1;
      color: var(--color-playgg-white);
    }

    svg {
      width: auto;
      height: 50px;
    }

    @media (min-width: 768px) {
      top: -210px;
      font-size: 114px;

      svg {
        height: 75px;
      }
    }

    @media (min-width: 992px) {
      top: -135px;
      font-size: 140px;
      text-align: left;

      svg {
        height: 100px;
      }
    }
  }

  &__solana {
    position: absolute;
    width: 50%;
    top: -100px;

    @media (min-width: 768px) {
      width: 300px;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -265px;
    }

    @media (min-width: 992px) {
      margin-top: -180px;
    }
  }

  &__sandiego {
    font-weight: 700;
    font-size: 57px;
    line-height: 0.8;
    letter-spacing: -0.04em;

    span {
      display: block;
    }

    svg {
      width: auto;
      height: 40px;
    }

    @media (min-width: 768px) {
      font-size: 114px;
      // line-height: 0.6;

      svg {
        height: 80px;
      }
    }

    @media (min-width: 992px) {
      font-size: 140px;
      line-height: 0.8;
      position: relative;
      top: -150px;

      svg {
        height: 100px;
      }
    }
  }

  &__form {
    position: relative;
    z-index: 1;

    &__title {
      font-size: 18px;
      letter-spacing: -0.02em;
      font-weight: bold;
      text-transform: uppercase;
    }

    @media (min-width: 768px) {
      margin-top: 2rem;
      max-width: 375px;
      margin-left: auto;

      &__title {
        font-size: 28px;
      }
    }
  }

  &__text {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    color: #000;
    mix-blend-mode: color-dodge;
    pointer-events: none;

    svg {
      position: absolute;
    }

    &__play {
      top: -100px;
      width: 290px;
    }

    &__gg {
      right: 0;
      bottom: -75px;
      width: 190px;
    }

    @media (min-width: 550px) {
      &__play {
        top: -50px;
        width: 440px;
      }

      &__gg {
        bottom: -50px;
        width: 250px;
      }
    }

    @media (min-width: 992px) {
      height: auto;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;

      svg {
        position: static;
        width: auto;
      }
    }

    &--difference {
      z-index: 1;
      color: var(--color-playgg-white);
    }
  }

  $frames: 30;
  // 24 is the actual number of existing SVG frame assets
  &__mask {
    aspect-ratio: 1/1;
    // preload mask images as bg images to prevent flicker during animation
    $url_list: ();
    @for $i from 1 through $frames {
      $url_string: url(../../../assets/playgg/mask#{$i}.svg);
      $url_list: append($url_list, $url_string, comma);
    }
    background-image: $url_list;
    mask-image: url(../../../assets/playgg/mask1.svg);
    mask-repeat: no-repeat;
    mask-size: 130% 130%;
    mask-position: center center;
    animation: blob 14s step-start infinite;
    // Workaround to address the glitch artifacts due to color-dodge blend mode
    filter: contrast(0.95);

    @media (prefers-reduced-motion) {
      animation-play-state: paused;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      // vertical align middle due to video 1/1 aspect ratio
      top: 50%;
      transform: translate(0, -50%);
    }

    @media (min-width: 768px) {
      aspect-ratio: 16/9;
      mask-size: 100% 140%;
      mask-position: 3rem center;

      video {
        width: 100%;
        height: auto;
      }
    }
  }

  @keyframes blob {
    $sum: 0;
    @for $i from 1 through $frames {
      #{$sum + 100%/$frames} {
        mask-image: url(../../../assets/playgg/mask#{$i}.svg);
      }
      $sum: $sum + 100% / $frames;
    }
  }

  &__cta {
    position: relative;
    z-index: 1;
  }
}
