.ramps-layout {
  overflow: hidden;
  padding: 20px;
}

.ramps-layout__content {
  max-width: 1280px;
  margin: 0 auto;
}

.ramps-hero-container {
  div section {
    @media all and (min-width: 1024px) {
      padding: 2rem;
    }
  }
}
