.ramps {
  flex-basis: 100%;

  @media all and (min-width: 1024px) {
    margin-left: 20px;
    flex-basis: 70%;
    border: 1px solid #1d1a23;
    border-radius: 20px;
    padding: 30px;
  }
}

.ramp__header {
  display: block;
  width: 100%;
}

.ramp__title {
  font-family: "Diatype", monotype;
  font-size: 28px;
  line-height: 33px;
}

.ramp__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;

  // @media all and (min-width: 768px) {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  @media all and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.ramp__header {
  padding: 0 1.25rem;
}

.ramp-popup-custom {
  .modal-header {
    border-bottom: none;
  }

  // button[type="button"]:not(.accordion-button) {
  //   filter: unset;
  //   background-color: #9945ff;
  //   transition: all 0.3s ease;
  //   border-radius: 100%;
  // }
  .custom-accordion-item:not(:last-child) {
    background-color: transparent;
    border-bottom: 1px solid #747578;
  }

  .custom-accordion-header {
    background-color: transparent;
    color: #fff;

    button {
      background-color: transparent;
      color: #fff;
      padding: 1.25rem;
      font-size: 1.5rem;
      box-shadow: none;
      justify-content: space-between;

      svg {
        transition: all 0.3s ease;
      }

      &[class*="collapsed"] {
        color: #fff;
      }

      &:not([class*="collapsed"]) {
        color: #9945ff;

        svg {
          transform: rotate(180deg);
          color: #9945ff;
        }
      }

      // Hide the default chevron for our own chevron
      &::after {
        display: none;
      }
    }
  }

  .accordion-button {
    background-color: transparent;
    padding: 2em 0;
    font-size: 1.5rem;
    color: #fff;

    &:not(.collapsed) {
      background-color: transparent;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(35, 35, 35, 0.175);
    }
  }

  button[aria-label="Close"] {
    filter: unset;
    background-color: #9945ff;
    transition: all 0.3s ease;
    border-radius: 100%;
  }
}

.ramp-popup .accordion {
  .card-header h4 {
    font-size: 18px;
  }
}

.ramp-popup__title {
  font-family: "Diatype", monospace;
  font-size: 28px;
  line-height: 33px;
  margin-top: 15px;
}

.ramp_popup_content {
  font-size: 15px;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.fiat_asset {
  border-radius: 18px;
  background-color: #504d61;
  color: #fff;
  box-shadow: 0px 0.538px 1.077px 0px rgba(25, 251, 155, 0.05);
  padding: 5px 8px;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  transition: all 0.3s ease;
  border: 1px solid #504d61;
}

.ramp-no-results {
  grid-column: 1/3;
  padding: 0 1.25rem;
}
