.instagram-tiles {
  padding: 20px 0;

  @media (min-width: 992px) {
    padding: 20px 0 80px;
  }

  &__container {
    position: relative;
    max-width: 1605px;
  }

  h2.instagram-tiles__title {
    color: var(--color-parchment);
    font-size: 1.75rem;
    line-height: 130%;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 933px;

    @media (min-width: 768px) {
      font-size: 2.25rem;
      margin-bottom: 64px;
    }

    @media (min-width: 992px) {
      font-size: 3rem;
      margin-bottom: 122px;
    }
  }

  &__tiles {
    max-width: 468px;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 782px;
      display: grid;
      grid-auto-flow: column dense;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(33, 1fr);
      gap: 20px;
      padding: 0 20px;
      justify-content: center;
      margin-bottom: 48px;
    }

    @media (min-width: 1024px) {
      max-width: 1193px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(25, 1fr);
      margin-bottom: 0;
    }

    @media (min-width: 1605px) {
      max-width: none;
      padding: 0;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(19, 1fr);
    }
  }
}
