@import "~@/scss/solutions/variables";

.PageWrapper {
  background-image: url("/src/img/contribute/OpenSource-BG-IMG.svg");
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: top left;
  overflow: hidden;

  @include breakpoint(md) {
    background-size: 100% auto;
  }
  @include breakpoint(lg) {
    background-size: 75% auto;
  }
}

.Hero {
  padding: 180px 24px;

  .HeroTitleWrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 342px;

    @include breakpoint(md) {
      max-width: 550px;
    }
    @include breakpoint(lg) {
      max-width: 800px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -57px;
      left: 40px;
      width: 63px;
      background-image: url("/src/img/contribute/comment-cursor-1-mb.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 39px;

      @include breakpoint(lg) {
        background-image: url("/src/img/contribute/comment-cursor-1-dt.svg");
        width: 105px;
        height: 70px;
        left: -25px;
        top: 0;
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -43px;
      right: 47px;
      width: 63px;
      background-image: url("/src/img/contribute/comment-cursor-2.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 39px;

      @include breakpoint(lg) {
        width: 105px;
        height: 70px;
        bottom: -100px;
        right: 0;
      }
    }

    h1 {
      font-size: 48px;
      text-align: center;
      line-height: 1.05;
      letter-spacing: -0.02em;
      margin: 0 auto;

      @include breakpoint(md) {
        font-size: 80px;
      }
      @include breakpoint(lg) {
        font-size: 96px;
      }

      .Frame {
        position: relative;

        .FrameInner {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 104%;
          height: 100%;
          background-color: #64a8f233;
          border: 1px solid var(--blue);
        }

        .FrameTop {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;

          &:before,
          &:after {
            position: absolute;
            border: 1px solid var(--blue);
            width: 5px;
            height: 5px;
            background: var(--white);
          }

          &:before {
            content: "";
            top: 0;
            left: 0;
          }
          &:after {
            content: "";
            top: 0;
            right: 0;
          }
        }

        .FrameBottom {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;

          &:before,
          &:after {
            position: absolute;
            border: 1px solid var(--blue);
            width: 5px;
            height: 5px;
            background: var(--white);
          }

          &:before {
            content: "";
            bottom: 0;
            left: 0;
          }
          &:after {
            content: "";
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}
