@import "~@/scss/solutions/variables.scss";

.PageWrapper {
  overflow: hidden;

  @include breakpoint(md) {
    padding-bottom: 80px;
  }
}

.Callout1 {
  --gradient: linear-gradient(90deg, #64a8f2 0%, #9945ff 49.61%, #eb54bc 100%);

  h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .KernOut {
      letter-spacing: 1px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--grey-300);
  }

  @include breakpoint(md) {
    padding: 90px 40px 0;
  }

  @include breakpoint(xl) {
    padding-top: 128px;

    p {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.02em;
      text-align: center;
    }
  }
}

.Callout2 {
  padding: 64px 24px;

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0;
  }

  p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.21;
    text-align: center;
    margin-top: 24px;
    color: var(--grey-250);
  }

  @include breakpoint(md) {
    padding: 90px 40px 0;

    h2 {
      font-size: 56px;
    }
  }

  @include breakpoint(lg) {
    padding: 128px 40px 0;

    h2 {
      font-size: 64px;
    }

    p {
      font-size: 24px;
    }
  }

  @include breakpoint(xl) {
    padding: 128px 40px 0;

    h2 {
      font-size: 72px;
      font-weight: 700;
      line-height: 1.08;
      letter-spacing: -0.03em;
      text-align: center;
    }

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.02em;
      text-align: center;
      max-width: 698px;
      margin: 24px auto 0;
    }
  }
}

.DetailsSection {
  padding-top: 24px;

  @media (max-width: #{$screen-xl-min - 1}) {
    grid-column-gap: 40px;
  }

  @include breakpoint(md) {
    padding-bottom: 90px;
  }

  @include breakpoint(xl) {
    padding-top: 40px;
    padding-bottom: 196px;
  }
}

.DeveloperResources {
  padding-bottom: 64px;
  background-color: var(--black);

  h2 {
    max-width: 500px;
    margin: 0 auto;
  }

  @include breakpoint(xl) {
    border-top: 1px solid var(--grey-450);
    padding-bottom: 160px;

    > div {
      grid-column-gap: 131px;
    }

    h2 {
      margin-bottom: 0;
    }

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.03em;
      text-align: left;
      color: var(--grey-250);
    }

    a {
      margin-left: 0 !important;
    }
  }

  .DeveloperResourcesImage {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 60%;
      background: linear-gradient(180deg, rgba(29, 26, 35, 0) 0%, #1d1a23 100%);
      bottom: 0;
      right: 0;
      z-index: 1;
      display: block;
    }
  }

  @include breakpoint(lg) {
    .DeveloperResourcesImage {
      &:after {
        background: linear-gradient(
          180deg,
          rgba(15, 10, 22, 0) 0%,
          #0f0a16 100%
        );
      }
    }
  }
}

.FinalCallout {
  padding: 40px;
  background: var(--grey-500);
  border-bottom: 1px solid var(--grey-450);
  a {
    max-width: max-content;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.32;
    text-align: left;
  }

  @include breakpoint(lg) {
    background: var(--black);
    padding-bottom: 128px;
    padding-top: 0;

    a {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.1;
      padding: 14px 19px;
    }
  }
}
