@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.2s;
}

.scrollbar-thin:hover {
  scrollbar-color: hsl(var(--border) / 1) transparent;
}

.fumadocs * {
  border-color: hsl(var(--border) / 1);
}

.fumadocs p {
  margin-bottom: 0;
}

.fumadocs .border {
  border-color: hsl(var(--border) / 1) !important;
  border-width: 1px !important;
}

.fumadocs article {
  padding-top: 2rem !important;
}
