@tailwind base;
@tailwind components;
@tailwind utilities;

.fumadocs {
  --fd-nav-height: 76px;
  --fd-muted-foreground: 225.88deg 7.42% 55.1%;
  --background: 0deg 0% 100%;
  --foreground: 255deg 14.71% 21%;
  color: hsl(var(--foreground) / 1);
}

.dark .fumadocs {
  --background: 0deg 0% 7.06%;
  --foreground: 0deg 0% 85%;
}

.fumadocs * {
  border-color: hsl(var(--fd-border) / 1);
}

.fumadocs .border:not(.border-none),
[data-toc-popover].border {
  border-color: hsl(var(--fd-border) / 1) !important;
  border-width: 1px !important;
}

.fumadocs .border-none {
  border-width: 0px !important;
}

@media (min-width: 1441px) {
  /* docs pages have a wider container */
  body:has(.container-docs) .container-xl {
    max-width: 120rem !important;
  }
}

/* prose */

.fumadocs article a,
#nd-breadcrumb a {
  --tw-prose-links: hsl(267.1deg 100% 63.53%);
  color: var(--tw-prose-links);
  text-decoration: none;
}

.dark .fumadocs article a,
.dark #nd-breadcrumb a {
  --tw-prose-links: hsl(164.47deg 100% 50%);
}

.fumadocs .prose :is(h1, h2, h3, h4, h5, h6) a {
  color: inherit;
}
.fumadocs
  .prose
  :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 1.25em;
}

.fumadocs article {
  padding-top: 2rem !important;
  max-width: 900px !important;
}

/* table of contents */

.fumadocs #nd-tocnav {
  background: hsl(var(--background) / 0.9);
  border-bottom: none;
  backdrop-filter: none;
  color: hsl(var(--fd-muted-foreground) / 1);
}

.fumadocs #nd-tocnav code {
  color: inherit;
}

.fumadocs #nd-toc {
  padding-top: 1.5rem !important;
  max-width: 250px;
}

.fumadocs #nd-toc :is(a, h3, button) {
  @apply text-base;
}

/* sidebar */

.fumadocs #fd-sidebar-toggle button {
  background: hsl(var(--background));
  box-shadow: 0 0 6px 0 hsl(var(--foreground) / 1);
  scale: 1.25;
}

.fumadocs #nd-sidebar {
  max-width: 250px;
}

.fumadocs #nd-sidebar [data-radix-scroll-area-viewport] {
  mask-image: none !important;
  padding-left: 0rem !important;
  padding-right: 0.75rem !important;
}

.fumadocs #nd-sidebar :is(a, button) {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.2s;
}

.scrollbar-thin:hover {
  scrollbar-color: hsl(var(--border) / 1) transparent;
}

/* accordion */

.group\/accordion h3.not-prose {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  color: hsl(var(--fd-muted-foreground) / 1);
}

.prose-no-margin > :first-child {
  margin-top: 0 !important;
}

.prose-no-margin > :last-child {
  margin-bottom: 0 !important;
}

/* previous/next links */

.fumadocs article > div:not(.prose) p {
  margin-bottom: 0;
}

/* cards */

[data-card="true"] svg {
  display: block;
}

/* code */

.fumadocs pre {
  margin-bottom: 0;
}

.fumadocs pre ::selection {
  color: inherit !important;
}

.fumadocs code {
  font-size: 14px !important;
}

.fumadocs .group:hover .group-hover\:opacity-100 {
  opacity: 1 !important;
}

html.dark {
  --ch-0: dark;
  --ch-1: #8b949e;
  --ch-2: #79c0ff;
  --ch-3: #ffa657;
  --ch-4: #c9d1d9;
  --ch-5: #d2a8ff;
  --ch-6: #7ee787;
  --ch-7: #ff7b72;
  --ch-8: #a5d6ff;
  --ch-9: #ffa198;
  --ch-10: #f0f6fc;
  --ch-11: #490202;
  --ch-12: #04260f;
  --ch-13: #5a1e02;
  --ch-14: #161b22;
  --ch-15: #8b949e;
  --ch-16: #191919;
  --ch-17: #6e76811a;
  --ch-18: #ffffff0b;
  --ch-19: #3794ff;
  --ch-20: #264f78;
  --ch-21: #1f6feb;
  --ch-22: #010409;
  --ch-23: #30363d;
  --ch-24: #6e7681;
  --ch-25: #6e768166;
  --ch-26: #0d1117e6;
}

html {
  --ch-0: light;
  --ch-1: #6e7781;
  --ch-2: #0550ae;
  --ch-3: #953800;
  --ch-4: #24292f;
  --ch-5: #8250df;
  --ch-6: #116329;
  --ch-7: #cf222e;
  --ch-8: #0a3069;
  --ch-9: #82071e;
  --ch-10: #f6f8fa;
  --ch-11: #ffebe9;
  --ch-12: #dafbe1;
  --ch-13: #ffd8b5;
  --ch-14: #eaeef2;
  --ch-15: #57606a;
  --ch-16: #fafafa;
  --ch-17: #eaeef280;
  --ch-18: #fdff0033;
  --ch-19: #1a85ff;
  --ch-20: #add6ff;
  --ch-21: #0969da;
  --ch-22: #f6f8fa;
  --ch-23: #d0d7de;
  --ch-24: #8c959f;
  --ch-25: #afb8c133;
  --ch-26: #ffffffe6;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
