.simplehero {
  background: #000;
  padding: 1rem 0;
  position: relative;
  z-index: 1;
  overflow: hidden;

  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.2),
    1px -1px 0 rgba(0, 0, 0, 0.2),
    -1px 1px 0 rgba(0, 0, 0, 0.2),
    1px 1px 0 rgba(0, 0, 0, 0.2);

  @media (min-width: 1200px) {
    padding: 4rem 0;
  }

  &__img {
    position: absolute;
    z-index: -1;
    object-fit: fill;
    top: -35%;
    right: 0;

    @media (min-width: 768px) {
      bottom: 0;
      top: auto;
    }
  }
}
