.breakpoint-layout {
  background-size:
    40px 40px,
    40px 40px,
    auto;
  background-image: linear-gradient(
      to right,
      rgb(194 151 245 / 10%) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(194 151 245 / 10%) 1px, transparent 1px),
    radial-gradient(closest-side, rgb(24 0 53) 0, rgba(0, 0, 0, 1) 80%);
  // radial-gradient(circle, rgb(24 0 53) 0%, rgba(0, 0, 0, 1) 50%);
  margin-bottom: -10rem;
  padding-bottom: 10rem;

  :global {
    --purple-light: #c297f5;
    --purple-dark: #1f183a;
    .mono {
      font-family: "DSemi", monospace;
    }

    .monument {
      font-family: "Monument", monospace;
    }
  }
}
