@import "~@/scss/solutions/_variables.scss";

.Companies {
  padding: 128px 0 64px;

  .ContentWrapper {
    padding: 0 24px;
  }

  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0;
  }

  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--grey-250);
    margin-top: 24px;
  }

  @include breakpoint(md) {
    padding-bottom: 90px;

    .ContentWrapper {
      padding: 0 40px;
    }

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }
  }

  @include breakpoint(lg) {
    padding-top: 128px;
    padding-bottom: 128px;
    h2 {
      font-size: 56px;
    }

    p {
      font-size: 24px;
      max-width: 570px;
      margin: 24px auto 40px;
    }
  }

  @include breakpoint(xl) {
    h2 {
      font-size: 56px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.02em;
      text-align: center;
    }

    p {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.02em;
      text-align: center;
    }
  }
}

.MobileMarquee {
  margin-top: 64px;

  img {
    width: 100%;
  }

  .MoreLogo {
    width: auto;
    margin: 0 auto;
  }

  @include breakpoint(lg) {
    display: none;
  }
}

.DesktopStatic {
  display: none;

  img {
    width: 100%;
  }

  .StaticRow {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
  }

  @include breakpoint(lg) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
