@import "../../scss/solutions/_variables.scss";

$container-padding-x: 24px;

.MainEvents {
  padding: 0 $container-padding-x;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;

  .MainEventCard {
    $card-padding: 24px;

    position: relative;
    padding: $card-padding;
    border-radius: 8px;
    overflow: hidden;

    .CardBackground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      transform: scale(3);
      filter: blur(36px);

      img {
        object-fit: cover;
      }
    }

    .CardContent {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .EventImage {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .EventDetails {
      font-family: var(--abc-mono-font);
      text-transform: uppercase;
    }

    .EventDetailTitle {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.15;
      letter-spacing: 0.02em;
      text-align: left;
      margin: 0;
    }

    .EventDetailsDivider {
      display: none;
    }

    .EventDetailDate,
    .EventDetailText {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.02em;
      text-align: left;
      display: block;
      margin-top: 16px;
    }

    .EventDetailDate {
      br {
        display: none;
      }
    }

    .EventButton {
      background: var(--grey-450);
      font-size: 15px;
      font-weight: 700;
      line-height: 1.3;
      padding: 12px 40px;
      border-radius: 8px;
      max-width: max-content;
      color: var(--white);
      cursor: pointer;
    }
  }
}

.CommunityEvents {
  max-width: 1068px;
  margin: 0 auto;

  @include breakpoint(md) {
    padding: 0 24px;
  }

  .EventsWrapper {
    @include breakpoint(lg) {
      display: flex;

      > div {
        &:first-child {
          padding-left: 0;
        }
        &:not(:first-child) {
          border-left: 1px solid var(--grey-450);
        }
        &:last-child {
          padding-right: 0;
        }
      }

      .CommunityEvent {
        flex: 1;
        padding: 16px 16px 0;

        .EventImage {
          width: 128px;
          min-width: 128px;
          height: 128px;
        }

        img {
          width: 128px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        h4,
        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0.02em;
          text-align: left;
        }
      }
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.01em;
    text-align: left;
    margin: 0;
    padding: 0 24px 40px;
    text-transform: capitalize;

    @include breakpoint(md) {
      padding: 0 0 16px;
    }

    @include breakpoint(xl) {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.12;
      letter-spacing: -0.02em;
      text-align: left;
    }
  }

  .CommunityEvent {
    border-top: 1px solid var(--grey-450);
    padding: 24px;

    a {
      color: var(--white);
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    &,
    > a {
      display: flex;
      gap: 16px;
    }

    .EventImage {
      width: 128px;
      min-width: 128px;
      height: 128px;
      overflow: hidden;
      border-radius: 8px;
    }

    img {
      width: 128px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }

    h4,
    p {
      font-family: var(--abc-mono-font);
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.02em;
      text-align: left;
      margin: 0;
      text-transform: uppercase;
    }

    p {
      color: var(--grey-250);
    }

    .CommunityEventDetails {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 4px;
    }
  }
}

@include breakpoint(sm) {
  .MainEvents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .MainEventCard {
      &:first-child {
        .EventDetailsDivider {
          display: block;
          font-family: var(--abc-mono-font);
          font-size: 15px;
          font-weight: 400;
          line-height: 1.15;
          letter-spacing: 0.02em;
        }

        .EventDetailDateText {
          gap: 12px;
        }
      }

      &:not(:first-child) {
        .EventDetailDateText {
          gap: 24px;
        }
      }

      .EventDetailDateText {
        display: flex;
        align-items: flex-start;
        margin-top: 16px;

        .EventDetailDate,
        .EventDetailText {
          margin-top: 0;
        }

        .EventDetailDate {
          br {
            display: block;
          }
        }
      }
    }
  }
}

@include breakpoint(md) {
  .Events {
    padding-top: 128px;
    padding-bottom: 90px;
  }
}

@include breakpoint(lg) {
  .Events {
    padding-top: 128px;
    padding-bottom: 80px;
  }

  .MainEvents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .MainEventCard {
      &:first-child {
        grid-column: span 2;
      }

      .CardContent {
        height: 100%;
      }

      .EventImage {
        width: calc(min(100%, 208px));
        height: calc(min(100%, 208px));
        border-radius: 16px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .EventDetails {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      .EventDetailDate,
      .EventDetailText {
        font-size: 15px;
        line-height: 1.15;
      }

      .EventButton {
        font-size: 18px;
        line-height: 1.1;
      }
    }
  }
}

@include breakpoint(xl) {
  .MainEvents {
    .MainEventCard {
      .EventDetailTitle {
        font-size: 19px;
        line-height: 1.15;
      }

      &:first-child {
        .EventDetailTitle {
          font-size: 40px;
          line-height: 1;
        }
      }
    }
  }
}
