@import "~@/scss/solutions/_variables.scss";

.Solutions {
  padding: 0 0 64px;
}

.CardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 24px;
}

.Card {
  padding: 24px;
  background: var(--grey-500);
  border-radius: 16px;
  overflow: hidden;

  @include breakpoint(md) {
    height: 100%;
  }

  a {
    display: flex;
    flex-direction: column;
    color: var(--white);
    height: 100%;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  .TitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .CaretIconWrapper {
    background: var(--white);
    border-radius: 50%;
    overflow: hidden;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(md) {
      width: 32px;
      height: 32px;
    }

    svg {
      width: 14px;

      @include breakpoint(md) {
        width: 20px;
      }
    }
  }

  h3 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;

    @include breakpoint(md) {
      font-size: 28px;
    }
  }

  p {
    font-size: 18px;
    color: var(--grey-300);
    font-weight: bold;
    line-height: 1.16;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
    margin-top: 8px;
    max-width: 100%;
    margin-left: 0;

    @include breakpoint(md) {
      flex: 1;
      font-size: 20px;
    }
  }
}

.ImageWrapper {
  position: relative;
  border-radius: 28px;
  overflow: hidden;

  @include breakpoint(md) {
    border-radius: 34px;
  }

  img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
}
