@import "~@/scss/solutions/_variables.scss";

.StatsSection {
  padding: 64px 24px;
  position: relative;
  background: linear-gradient(0deg, #3a1b60 0%, transparent 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}

.StatsWrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Stat {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 1;

  .Title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: var(--white);
    margin: 0;
  }

  .Value {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    margin: 0;
    background: var(--gradient-11);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::selection {
      -webkit-text-fill-color: var(--black);
    }
  }

  .Subtext {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.01em;
  }
}

.Pagination {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  gap: 8px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .dot {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: #6c6a81;
    overflow: hidden;
    transition: 0.5s ease;
  }

  .dot .dotBG {
    position: absolute;
    width: 100%;
    height: 0;
    background: #fff;
    border-radius: 100px;
  }
}

@include breakpoint(md) {
  .StatsSection {
    background-color: var(--black);
    height: 100vh;
    background-image: url("/src/img/home/home-stat-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .StatsWrapper {
    height: 100%;
    position: relative;
  }

  .Stat {
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 0;

    &:not(:first-child) {
      position: absolute;
    }

    .Title {
      font-size: min(6vh, 64px);
    }

    .Value {
      font-size: min(15vh, 164px);
      margin: 24px auto 4px;
    }

    .Subtext {
      font-size: min(3vh, 28px);
      margin-bottom: 0;
    }
  }

  .Pagination {
    display: flex;
  }
}

@include breakpoint(xl) {
  .Stat {
    .Title {
      font-size: 56px;
    }

    .Value {
      font-size: 144px;
    }

    .Subtext {
      font-size: 24px;
    }
  }
}
