.instagram-disclaimer {
  display: block;
  margin-bottom: 16px;

  @media (min-width: 992px) {
    padding-top: 55px;
    margin-bottom: 32px;
  }

  &__container {
    max-width: 1280px;
  }

  &__accordion-button {
    display: block;
    outline: 0;
    border: 0;
    background: var(--color-shark);
    border-radius: 16px;
    padding: 16px 32px 16px 16px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
    color: var(--color-parchment);
    width: 100%;
    text-align: left;
    position: relative;

    @media (min-width: 992px) {
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 160%;
      padding: 48px 62px 48px 48px;
    }

    &::after {
      content: "";
      width: 15px;
      height: 11px;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      background: url("data:image/svg+xml,<svg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='m11.557.658 3.142 3.162-6.88 6.839-6.84-6.881L4.14.635l3.697 3.72 3.72-3.697Z' fill='%23F2EAD4'/></svg>");

      @media (min-width: 992px) {
        right: 48px;
      }
    }

    &[aria-expanded="true"]::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__text {
    line-height: 160%;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    line-height: 160%;
    color: var(--color-gray);

    @media (min-width: 992px) {
      font-size: 1rem;
    }
  }
}
