@import "../../scss/solutions/variables";

.BasicCallout {
  padding: 64px 24px;

  * {
    margin: 0;
    padding: 0;
  }
}

.MediaBlock {
  position: relative;
  aspect-ratio: 7 / 9;
  margin-top: 40px;

  img {
    object-fit: contain;
  }
}

.Title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--white);
}

.Subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--grey-250);
  margin: 24px auto 0;
}

@include breakpoint(md) {
  .Title {
    font-size: 56px;
  }

  .WithImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;

    h2,
    p {
      text-align: left;
    }
  }

  .MediaBlock {
    margin-top: 0;
  }
}

@include breakpoint(lg) {
  .BasicCallout {
    padding: 128px;
  }

  .Title {
    font-size: 72px;
    line-height: 1.08;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
  }

  .Subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    max-width: 800px;
  }

  .ButtonWrapper {
    margin-top: 40px;
  }

  .WithImage {
    p {
      font-size: 32px;
      line-height: 1.15;
      letter-spacing: -0.64px;
    }
  }
}
