@import "../../scss/solutions/_variables.scss";

.Content {
  * {
    padding: 0;
    margin: 0;
  }
}

.DetailsSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  padding: 0 24px 64px;

  a {
    svg {
      transition: transform 0.25s $easeInOutQuart;
    }

    &:hover svg {
      transform: translate(4px, 0);
    }
  }
}

.Detail {
  text-align: center;

  h3,
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    svg {
      box-sizing: content-box;
      width: 22px;
    }
  }

  p {
    color: var(--grey-300);

    a {
      color: var(--grey-300);
      text-decoration: underline;
    }
  }
}

@include breakpoint(md) {
  .DetailsSection {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 112px;
    padding: 64px 40px;
  }

  .Detail {
    text-align: left;

    h3,
    p {
      font-size: 20px;
      margin-left: 0;
      max-width: 100%;
    }

    h3 {
      justify-content: flex-start;

      svg {
        width: 24px;
      }
    }
  }
}

@include breakpoint(xl) {
  .Content {
    padding: 0 0 128px;
  }

  .DetailsSection {
    grid-row-gap: 80px;
    grid-column-gap: 224px;
  }

  .Detail {
    h3,
    p {
      font-size: 20px;
      line-height: 1.12;
      letter-spacing: -0.02em;
    }
  }
}
