@import "../../scss/solutions/_variables.scss";

.DeveloperResources {
  padding: 80px 0;
  background-color: var(--grey-500);
  background-image: url("/solutions/loyalty/gradient-mobile.webp");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.Container {
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TitleBlock {
  text-align: center;

  h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.08;
    text-transform: uppercase;
    font-family: var(--abc-mono-font);
  }

  p {
    color: var(--grey-250);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.18px;
    margin: 24px auto 0;
  }

  .ButtonWrapper {
    a {
      max-width: max-content;
      margin: 40px auto 64px;
    }
  }
}

.LinksWrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 40px 0 64px;

  li {
    text-align: left;
  }

  a {
    color: var(--grey-100);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      transition: 0.2s ease-in;
    }

    &:hover {
      svg {
        transform: translateX(4px);
      }
    }
  }

  span {
    color: #6c6a81;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.26px;
    text-transform: uppercase;
    display: block;
    margin-top: 8px;
  }
}

.ImageWrapper {
  position: relative;
  display: flex;
  justify-content: end;
}

.CustomMedia {
  max-width: 400px;
}

@include breakpoint(md) {
  .DeveloperResources {
    background-image: url("/solutions/loyalty/gradient-tablet.webp");
  }

  .TitleBlock {
    h2 {
      font-size: 48px;
    }
  }
}

@include breakpoint(xl) {
  .DeveloperResources {
    padding: 128px 0;
    background-image: url("/solutions/loyalty/gradient-desktop.webp");
    background-position: top left;
  }

  .Container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-column-gap: 96px;
    grid-row-gap: 40px;
    align-items: center;
    max-width: 1064px;
    padding: 0;
  }

  .TitleBlock {
    text-align: left;

    h2 {
      font-size: 56px;
    }

    p {
      font-size: 24px;
      color: var(--grey-300);
      margin-left: 0;
      max-width: 386px;
    }
  }

  .LinksWrapper {
    margin: 40px 0 0;
    width: 100%;
    gap: 16px;

    a {
      justify-content: flex-start;
    }

    span {
      font-size: 15px;
      line-height: 1.15;
      letter-spacing: 0.3px;
      margin-top: 10px;
    }
  }
}
