@import "../../scss/solutions/_variables.scss";

.EcosystemSlider {
  padding: 64px 0;
  position: relative;
}

.Title {
  --gradient: linear-gradient(
    90deg,
    #14f195 -6.38%,
    #80ecff 51.28%,
    #64a8f2 106.12%
  );
  font-size: 40px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--white);
  text-transform: capitalize;
  margin: 0;
  padding: 0 24px;

  strong {
    background: var(--gradient-2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.Text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--grey-250);
  max-width: 698px;
  padding: 0 24px;
  margin: 24px auto 0;

  @include breakpoint(md) {
    font-size: 24px;
  }

  @include breakpoint(xl) {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    max-width: 886px;
  }
}

.Card {
  width: 12rem;

  a {
    svg,
    h5 {
      transition: 0.2s ease-in;
    }

    svg {
      width: 20px;
    }

    img {
      transition: transform 0.2s ease-in;
    }

    .ImageWrapper {
      overflow: hidden;
      border-radius: 16px;
    }

    &:hover {
      svg {
        transform: translateX(4px);
      }

      img {
        transform: scale(1.05);
      }
    }
  }

  h5 {
    font-size: 20px;
    text-transform: capitalize;
    margin-block: 24px 16px !important;
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 12px;
  }

  p {
    font-size: 16px;
    color: var(--grey-300);
    margin: 0px;
    line-height: 1.12;
    font-weight: 700;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: min(calc(100vw * 0.5), 220px);
    border-radius: 16px;
  }
}

.MobileCarousel {
  overflow: hidden;
  position: relative;

  * {
    outline: none !important;
  }

  .CarouselArrows {
    padding: 32px 0 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;

    button {
      background: var(--grey-500);
      border: none;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      transition: background 0.3s;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.PrevArrow {
        transform: rotate(180deg);
      }

      &:hover {
        background: var(--grey-300);
      }

      img {
        width: 24px;
        height: 24px;
      }

      svg {
        width: 16px;
        width: 16px;
      }
    }
  }
}

.DesktopMarquee {
  position: relative;
  margin-top: 80px;

  &:before,
  &:after {
    content: "";
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  &:before {
    background: linear-gradient(
      90deg,
      #0f0a16 0.5%,
      rgba(15, 10, 22, 0) 99.21%
    );
  }

  &:after {
    right: 0 !important;
    top: 0;
    left: unset;
    background: linear-gradient(
      272deg,
      #0f0a16 0.5%,
      rgba(15, 10, 22, 0) 99.21%
    );
  }

  .Cards {
    display: flex;
    gap: 16px;
    margin: 0 8px;
  }

  .Card {
    max-width: 238px;
    padding: 0;
  }

  @include breakpoint(xl) {
    margin-top: 96px;
  }
}

@include breakpoint(md) {
  .Title {
    font-size: 56px;
  }
}

@include breakpoint(lg) {
  .Title {
    font-size: 64px;
  }
}

@include breakpoint(xl) {
  .EcosystemSlider {
    padding: 128px 0;
  }

  .Title {
    font-size: 80px;
  }

  .Text {
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.64px;
  }
}
