@import "../../scss/solutions/_variables.scss";

.EcosystemSliderWithTabs {
  padding: 64px 0;
  position: relative;
}

.Title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--white);
  text-transform: capitalize;
  margin: 0;
  padding: 0 24px;

  strong {
    background: var(--gradient-2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.TabsRoot {
  margin-top: 64px;

  @include breakpoint(xl) {
    margin-top: 80px;
  }
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  border-radius: 12px;
  border: 4px solid var(--grey-450);
  background-color: var(--grey-450);
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
}

.TabsTrigger {
  font-family: inherit;
  background-color: var(--grey-450);
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: var(--grey-250);
  user-select: none;
  font-weight: 700;

  &[data-state="active"] {
    color: var(--white);
    background: var(--grey-300);
    border-radius: 4px;
  }

  &:focus {
    position: relative;
  }
}

.TabsContent {
  flex-grow: 1;
  padding: 0;
  outline: none;
  transition: opacity $duration-shorter $easeInQuart;
  transition: all 1s;
  min-height: 320px;
  position: relative;

  &[hidden] {
    display: block !important;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  &[data-state="inactive"] {
    opacity: 0;
  }

  &[data-state="active"] {
    opacity: 1;
  }
}

.Card {
  width: 164px;

  a {
    svg {
      transition: 0.2s ease-in;
      width: 20px;
    }

    &:hover {
      svg {
        transform: translateX(4px);
      }
    }
  }

  h5 {
    font-size: 19.42px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: capitalize;
    margin-block: 24px 16px !important;
    display: flex;
    align-items: center;
    color: var(--grey-100);
    gap: 12px;
  }

  p {
    color: var(--grey-300);
    margin: 0px;
    font-size: 14.56px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: min(calc(100vw * 0.5), 220px);
    border-radius: 16px;
  }
}

.MobileCarousel {
  overflow: hidden;
  position: relative;
}

.DesktopMarquee {
  position: relative;
  margin-top: 80px;

  &:before,
  &:after {
    content: "";
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  &:before {
    background: linear-gradient(
      90deg,
      #0f0a16 0.5%,
      rgba(15, 10, 22, 0) 99.21%
    );
  }

  &:after {
    right: 0 !important;
    top: 0;
    left: unset;
    background: linear-gradient(
      272deg,
      #0f0a16 0.5%,
      rgba(15, 10, 22, 0) 99.21%
    );
  }

  .Cards {
    display: flex;
    gap: 16px;
    margin: 0 8px;
  }

  .Card {
    width: 12rem;
    padding: 0;
  }

  @include breakpoint(xl) {
    margin-top: 40px;
  }
}

@include breakpoint(md) {
  .Title {
    font-size: 56px;
  }
}

@include breakpoint(lg) {
  .Title {
    font-size: 64px;
  }
}

@include breakpoint(xl) {
  .EcosystemSliderWithTabs {
    padding: 128px 0;
  }

  .Title {
    font-size: 80px;
  }

  .Text {
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.64px;
  }
}
