@import "../../scss/solutions/_variables.scss";

.Layout {
  :global {
    // --- Colors ---
    --white: #fff;
    --grey-100: #eaebf0;
    --grey-200: #d0d0dc;
    --grey-250: #a2a1b2;
    --grey-300: #6c6a81;
    --grey-400: #504d61;
    --grey-450: #322f43;
    --grey-500: #1d1a23;
    --black: #0f0a16;

    --pink: #eb54bc;
    --purple: #9945ff;
    --blue: #64a8f2;
    --blue-light: #80ecff;
    --green: #14f195;
    --cadet-grey: #9ca3af;
    --steel-grey: #1b1b28;
    --rich-black: #0b0b17;

    // --- Gradient variables ---
    --gradient: linear-gradient(
      90deg,
      #64a8f2 0%,
      #9945ff 49.61%,
      #eb54bc 100%
    );
    --gradient-1: linear-gradient(
      90deg,
      #64a8f2 0%,
      #9945ff 49.61%,
      #eb54bc 100%
    );
    --gradient-2: linear-gradient(
      90deg,
      #80ecff 0.17%,
      #64a8f2 50.54%,
      #9945ff 99.77%
    );
    --gradient-3: linear-gradient(
      90deg,
      #14f195 -6.38%,
      #80ecff 51.28%,
      #64a8f2 106.12%
    );
    --gradient-4: linear-gradient(90deg, #14f195 0%, #64a8f2 50%, #9945ff 100%);
    --gradient-5: linear-gradient(
      45deg,
      #9945ff 10.43%,
      #8752f3 30.84%,
      #5497d5 49.4%,
      #43b4ca 58.68%,
      #28e0b9 69.81%,
      #14f195 93.01%
    );
    --gradient-6: linear-gradient(
      90deg,
      #14f195 -6.38%,
      #80ecff 30.93%,
      #64a8f2 69.37%,
      #64a8f2 106.68%
    );
    --gradient-7: linear-gradient(90deg, #9945ff 0%, #64a8f2 50%, #14f195 100%);
    --gradient-8: linear-gradient(
      270deg,
      #9945ff 0%,
      #eb54bc 50.57%,
      #ff754a 100%
    );
    --gradient-9: linear-gradient(
      90deg,
      #ffffff,
      #ffffff,
      #eb54bc,
      #9945ff,
      #eb54bc,
      #64a8f2,
      #ffffff
    );
    --gradient-10: linear-gradient(
      90deg,
      #64a8f2 0%,
      #9945ff 21.95%,
      #eb54bc 32.2%,
      #ffffff 61.46%
    );
    --gradient-11: linear-gradient(
      90deg,
      #64a8f2 0%,
      #9945ff 41.95%,
      #eb54bc 82.2%
    );

    // --- Fonts ---
    --abc-mono-font: "ABC Mono", monospace, sans-serif;

    background: var(--black);

    // --- Breakpoint utility classes ---
    // Common containers use this max width
    .page-width {
      @include max-width(1068px);
      box-sizing: content-box;

      @include breakpoint(sm) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}

// --- Overrides ---

.Header {
  &,
  nav {
    background: var(--black);
  }
}

.Footer {
  background: var(--grey-500);
  margin-top: 0;
  border-radius: 0;
  border: none;
}
