@import "../../scss/solutions/_variables.scss";

.LongformItem {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  max-width: 900px;
  margin: {
    left: auto;
    right: auto;
  }

  img.desktop-image {
    display: none !important;
  }

  a {
    color: var(--white);
  }

  &[data-media-desktop-placement="above"] {
    gap: 24px;

    .MediaComponent {
      position: relative;

      svg {
        max-height: initial;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 30%;
        background: linear-gradient(
          180deg,
          rgba(15, 10, 22, 0) 2.47%,
          #0f0a16 79.46%
        );
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }

  &[data-media-desktop-placement="below"] {
    gap: 40px;
    flex-direction: column-reverse;

    .MediaComponent {
      position: relative;

      svg {
        max-height: initial;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 30%;
        background: linear-gradient(
          180deg,
          rgba(15, 10, 22, 0) 2.47%,
          #0f0a16 79.46%
        );
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
}

.MediaComponent {
  height: auto;
  width: min(80vw, 100%);
  display: flex;
  @include max-width(1020px);
  justify-content: center;

  [role="button"] {
    cursor: initial;
  }

  svg {
    max-height: 70vh;
  }
}

@media (max-width: #{$screen-md-min - 1}) {
  .MediaComponent {
    svg {
      max-height: 65vh;
    }
  }
}

.Title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 0;
  width: 100%;
  text-align: center;

  a {
    color: var(--white);
  }
}

.Subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--grey-300);
  margin: 0;

  a {
    color: var(--grey-300) !important;
    text-decoration: underline;
  }
}

.TextBlock {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.SeeMoreWrapper {
  margin-top: 40px;
  width: 100%;

  .SeeMoreItemsWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
  }

  .LongformSeeMoreItem {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--grey-300);

    strong,
    a {
      color: var(--grey-250);
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: #{$screen-xl-min - 1}) {
  .LongformItem {
    &[data-media-desktop-placement="left"],
    &[data-media-desktop-placement="right"] {
      .MediaComponent {
        max-width: 300px;
      }
    }
  }
}

@media (max-width: #{$screen-xl-min - 1}) {
  .LongformItem {
    max-width: 768px !important;
  }
}

@include breakpoint(md) {
  .LongformItem {
    padding-top: 64px;
    padding-bottom: 64px;

    &[data-media-desktop-placement="above"] {
      .SeeMoreWrapper {
        .CollapsibleTrigger {
          justify-content: center;
        }

        .LongformSeeMoreItem {
          text-align: center;
        }
      }
    }

    &[data-media-desktop-placement="left"],
    &[data-media-desktop-placement="right"] {
      > * {
        flex: 1;
      }

      .MediaComponent {
        display: flex;
        width: auto;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: center;
        justify-content: center;
      }

      .TextBlock {
        max-width: 422px;
        gap: 24px;

        * {
          text-align: left;
        }
      }

      .SeeMoreWrapper {
        margin-top: 24px;
      }
    }

    &[data-media-desktop-placement="left"] {
      flex-direction: row;
      .MediaComponent {
        margin-left: 0;
      }
    }

    &[data-media-desktop-placement="right"] {
      flex-direction: row-reverse;
      .MediaComponent {
        justify-content: flex-end;
      }
    }
  }

  .Title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  .Subtitle {
    @include max-width(600px);
    font-size: 20px;
  }

  .SeeMoreWrapper {
    .CollapsibleTrigger {
      justify-content: flex-start;
    }

    .CollapsibleTrigger,
    .LongformSeeMoreItem {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.12;
      letter-spacing: -0.02em;
      text-align: left;
    }

    .LongformSeeMoreItem {
      strong,
      a {
        color: var(--grey-250);
      }

      p {
        max-width: 100%;
      }
    }
  }
}

@include breakpoint(lg) {
  .LongformItem {
    &[data-media-desktop-placement="left"],
    &[data-media-desktop-placement="right"] {
      gap: 64px;
    }
  }
}

@include breakpoint(xl) {
  .LongformItem {
    &[data-media-desktop-placement="above"] {
      .TextBlock {
        &[data-text-content-desktop-direction="column"] {
          flex-direction: column;

          .Title {
            text-align: center;
          }

          .Subtitle {
            text-align: center;
          }
        }
      }

      .SeeMoreWrapper {
        .CollapsibleTrigger {
          justify-content: flex-start;
        }

        .LongformSeeMoreItem {
          text-align: left;
        }
      }
    }

    &[data-media-desktop-placement="right"] {
      .MediaComponent {
        margin-right: 0;
      }
    }
  }

  .Title {
    font-size: 48px;
    text-align: left;
  }

  .Subtitle {
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.03em;
    text-align: left;
  }

  .TextBlock {
    &[data-text-content-desktop-direction="row"] {
      flex-direction: row;
      max-width: initial;
      gap: 132px;
      align-items: flex-start;

      .Title {
        flex: 1;
      }

      .SubTextBlock {
        flex: 1.2;
      }

      .LongformSeeMoreItem {
        text-align: left;
      }
    }
  }
}
