@import "~@/scss/solutions/_variables.scss";

.MediaOptionSelection {
  display: flex;
  flex-direction: column;
  padding: 64px 24px;
  gap: 40px;

  @include breakpoint(md) {
    flex-direction: row;
  }

  @include breakpoint(lg) {
    padding: {
      top: 84px;
      bottom: 84px;
    }
  }
}

.MediaWrapper {
  @include breakpoint(md) {
    flex: 1;

    svg {
      height: 100%;
      width: auto;
    }

    div {
      display: flex;
      justify-content: center;
    }
  }
}

.ContentWrapper {
  @include breakpoint(md) {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include breakpoint(lg) {
    width: 423px;
  }

  h3 {
    color: var(--grey-250);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.12;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0;
    margin-bottom: 16px;

    @include breakpoint(md) {
      text-align: left;
      line-height: 1.15;
      letter-spacing: -0.03em;
      margin-bottom: 28px;
    }

    @include breakpoint(lg) {
      font-size: 28px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    padding: 0;

    @include breakpoint(md) {
      gap: 0;
    }

    @include breakpoint(lg) {
      margin-bottom: 40px;
    }
  }

  li {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.01em;
    margin: 0;
    list-style: none;

    @include breakpoint(md) {
      text-align: left;
      line-height: 1.12;
      letter-spacing: -0.02em;
      padding: 18px 16px;

      &.Active {
        background: var(--grey-500);
        border-radius: 8px;
      }
    }

    @include breakpoint(lg) {
      font-size: 24px;
    }
  }

  a {
    width: max-content;
    margin: 0 auto;

    @media (max-width: #{$screen-lg-min - 1}) {
      font-size: 15px;
    }

    @include breakpoint(md) {
      margin-left: 0;
    }

    @include breakpoint(lg) {
      padding: {
        left: 45px;
        right: 45px;
      }
    }
  }
}
