@import "@/scss/solutions/_variables.scss";

.Stats {
  padding: 64px 24px;
  position: relative;
}

.Title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--white);
  margin-bottom: 0;
}

.StatsKicker {
  color: #6c6a81;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.32;
  text-align: center;
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0;

  @include breakpoint(xl) {
    font-weight: 700;
    line-height: 1.32;
    text-align: left;
  }
}

.Subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 24px auto 0;
  color: var(--grey-250);
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px auto 0;
  width: max-content;

  a {
    width: 100%;
  }
}

.StatsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 64px;
}

.Stat {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.StatValue {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 0;

  background-position: 0% 0%;
  --bg-size: 700%;
  background: var(--gradient-9) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::selection {
    -webkit-text-fill-color: var(--black);
  }
}

.StatLabel {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--grey-250);
  margin: 0;
}

@include breakpoint(md) {
  .Stats {
    padding: 90px 40px;
  }

  .Title {
    font-size: 40px;
  }
}

@include breakpoint(lg) {
  .Title {
    font-size: 56px;
  }

  .StatValue {
    font-size: 64px;
  }
}

@include breakpoint(xl) {
  .Stats {
    padding: 128px;
  }

  .Container {
    display: flex;
    gap: 66px;
  }

  .ContentContainer {
    flex: 1;
  }

  .Title {
    font-size: 56px;
    line-height: 1;
    text-align: left;
    max-width: 473px;
  }

  .Subtitle {
    font-size: 24px;
    line-height: 1.15;
    text-align: left;
    max-width: 400px;
    margin-left: 0;
  }

  .ButtonContainer {
    margin-left: 0;
  }

  .StatsContainer {
    margin-top: 0;
    width: min-content;
    min-width: 327px;
    gap: 48px;
  }

  .Stat {
    text-align: left;
    gap: 4px;
  }

  .StatValue {
    font-size: 72px;
  }

  .StatLabel {
    font-size: 24px;
  }
}
