@import "../../scss/solutions/_variables.scss";

.SuccessStories {
  padding: 64px 0;
  background: var(--grey-500);

  &[data-theme="black"] {
    background: var(--black);
  }
}

.Container {
  padding: 0 24px;
}

.Title {
  color: var(--grey-100);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1.2px;
  margin-bottom: 0;
}

.CardsWrapper {
  display: grid;
  grid-gap: 40px;
  margin-top: 64px;
}

.StoryCard {
  background: var(--grey-450);
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  border-radius: 8px;
  height: 100%;

  strong {
    color: var(--white);
  }

  a {
    font-size: 15px;
    line-height: 1.32;
  }
}

.LogoWrapper {
  margin: 0 auto;
}

.MainImageWrapper {
  width: 100%;

  img {
    border-radius: 8px;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

.Text {
  margin: 0;
  color: var(--grey-250);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.18px;
}

@include breakpoint(sm) {
  .Text {
    max-width: 100%;
  }
}

@include breakpoint(md) {
  .Container {
    padding: 0 40px;
  }

  .Title {
    font-size: 48px;
  }

  .CardsWrapper {
    &:not(.SingleCard) {
      grid-template-columns: 1fr 1fr;

      &[data-cards-count="2"] {
        max-width: 50rem;
        margin: {
          left: auto;
          right: auto;
        }
      }

      .Text {
        flex: 1;
      }
    }
  }

  .StoryCard a {
    font-size: 18px;
    line-height: 1.1;
  }

  .Text {
    font-size: 18px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    flex: 1;
  }
}

@include breakpoint(lg) {
  .SuccessStories {
    padding: 128px 0 144px;
  }

  .Container {
    padding: 0;
  }

  .CardsWrapper {
    margin-top: 80px;
  }

  .StoryCard {
    padding: 40px;
  }
}

@include breakpoint(xl) {
  .Title {
    font-size: 64px;
    line-height: 1.04;
    letter-spacing: -1.6px;
    text-transform: capitalize;
  }
}

.SingleCard {
  @include breakpoint(md) {
    .StoryCard {
      display: grid;
      grid-template-columns: 0.84fr 1fr;
      grid-template-rows: 1fr auto 1fr;
      gap: 24px;
    }

    .MainImageWrapper {
      grid-row: 1 / span 3;
      grid-column: 1;
      align-self: center;
    }

    .LogoWrapper {
      grid-column: 2;
      grid-row: 1;
      margin-left: 0;
      align-self: flex-end;
    }

    .Text {
      grid-column: 2;
      grid-row: 2;
    }

    a {
      grid-column: 2;
      grid-row: 3;
      width: fit-content;
    }
  }

  @include breakpoint(lg) {
    .StoryCard {
      grid-column-gap: 40px;
    }
  }

  @include breakpoint(xl) {
    .StoryCard {
      grid-row-gap: 40px;
    }
  }
}
