@import "~@/scss/solutions/_variables.scss";

.ContentWrapper {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 0;
  }

  .Subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.12;
    text-align: center;
    color: var(--grey-250);
    margin-bottom: 0;
    margin-top: 24px;
    max-width: 100%;
  }

  .ButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 24px auto 0;
    gap: 16px;
    min-width: 211px;

    @include breakpoint(lg) {
      min-width: initial;
      margin-left: 0;
      align-items: flex-start;
    }
  }

  a {
    width: 100%;
    margin: 0;

    @media (max-width: #{$screen-lg-min - 1}) {
      font-size: 15px;
      font-weight: 700;
      line-height: 1.32;
      text-align: left;
    }

    @include breakpoint(lg) {
      width: auto;
    }
  }
}

.Eyebrow {
  color: #64a8f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: center;
  margin-bottom: 24px;

  @include breakpoint(lg) {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.44px;
    text-align: left;
  }
}

.VideoWrapper {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #0f0a16 1.64%,
      rgba(15, 10, 22, 0) 100%
    );
    z-index: 1;
  }

  &,
  video {
    width: 100%;
  }
}

@include breakpoint(sm) {
  .ContentWrapper {
    padding-top: 90px;
    padding-bottom: 90px;

    h1 {
      font-size: 64px;
    }

    .Subtitle {
      font-size: 24px;
    }
  }
}

@include breakpoint(lg) {
  .VideoBgHero {
    display: flex;
    min-height: calc(100vh - 76px);
    position: relative;
  }

  .ContentWrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    .ContentInnerWrapper {
      max-width: 519px;
    }

    h1,
    .Subtitle {
      text-align: left;
    }

    h1 {
      font-size: 72px;
      font-weight: 700;
      line-height: 1.04;
      letter-spacing: -0.02em;
      text-align: left;
    }

    .Subtitle {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.15;
      margin-top: 24px;
      letter-spacing: -0.02em;
      text-align: left;
    }
  }

  .VideoWrapper {
    position: absolute;
    z-index: 0;
    height: 100%;

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 70%;
      background: linear-gradient(
        270deg,
        rgba(15, 10, 22, 0) 3.27%,
        rgba(15, 10, 22, 0.84) 30.48%
      );
      top: 0;
      left: 0;
    }

    video {
      height: 100%;
      object-fit: cover;
    }
  }
}
