@import "../../scss/solutions/_variables.scss";

.developer_resources {
  background-color: var(--rich-black);
  position: relative;
  padding: 0 1rem 0 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0 80px 0;
  max-width: 1200px;
  border-left: 1px dashed rgba(255, 255, 255, 0.18);
  border-right: 1px dashed rgba(255, 255, 255, 0.18);
  position: relative;
  z-index: 2;
}

.inner_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
  align-items: center;
  border-top: 1px dashed rgba(255, 255, 255, 0.18);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.18);
}

.random_gradient_bg {
  width: 60%;
  min-height: 180px;
  background: linear-gradient(90deg, #4e00ee 0%, #5791ff 50%, #00b790 100%);
  filter: blur(172px);
  position: absolute;
  bottom: 0;
  right: 370px;
  z-index: 1;
}

.title_block {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title_badge {
    font-size: 0.9rem;
    line-height: 1;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--green);
  }

  h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
  }

  .subtitle {
    color: var(--cadet-grey);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: none;
    margin: 0;
  }

  .button_wrapper {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn_secondary {
      background-image: linear-gradient(
        to right,
        #8752f3,
        #904cf9,
        #19fb9b,
        #5497d5
      );
      padding: 2px;
      border-radius: 8px;
      box-sizing: border-box;
      color: var(--white);
      font-size: 15px;
      font-weight: 700;
      line-height: 1.32;

      &:hover {
        color: var(--white);
      }

      & span {
        width: 100%;
        height: 100%;
        background-color: #0b0b17;
        border-radius: 6px;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        gap: 6px;
        transition: background 0.5s ease;

        &:hover {
          background: transparent;
        }
      }
    }
  }

  .links_wrapper {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    list-style-type: none;

    li {
      text-align: left;
    }

    a {
      color: var(--grey-100);
      font-size: 18px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: -0.01em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
        transition: 0.2s ease-in;
      }

      &:hover {
        svg {
          transform: translateX(4px);
        }
      }
    }

    span {
      color: #6c6a81;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.26px;
      text-transform: uppercase;
      display: block;
      margin-top: 8px;
    }
  }
}

@include breakpoint(md) {
  .title_block {
    max-width: 85%;
  }

  .button_wrapper {
    gap: 1.5rem;
  }

  .btn_secondary {
    font-size: 18px;
  }
}

@include breakpoint(xl) {
  .developer_resources {
    padding: none;
  }

  .inner_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    align-items: center;
  }
}
