.ecdr-stats {
  &__container {
    position: relative;
  }

  &__effect {
    position: absolute;
    z-index: -1;
    top: -400px;
    left: 50%;
    width: 2000px;
    height: 1500px;
    background: radial-gradient(#9945ff, transparent 75%);
    opacity: 0.2;
    transform: translate3d(-50%, 0, 0) rotate(-165deg);
  }

  &__heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    &--title {
      font-size: 2rem;
      font-weight: 400;
      line-height: 120%;
      margin-bottom: 0;
    }

    &--learn {
      font-size: 1.125rem;
      margin-bottom: 0;
    }
  }

  &__cards {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 130px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }

  &__card {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    position: relative;
    padding: 1.5rem;
    padding-bottom: 2rem;

    &--title {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: clamp(4.5rem, 8vw, 6rem);
      line-height: 120%;
      font-weight: 400;

      &::selection {
        -webkit-text-fill-color: #111;
      }
    }

    &--description {
      font-size: 1.125rem;
      font-weight: 400;
    }

    &--note {
      font-size: 0.75rem;
      font-weight: 400;
      opacity: 0.4;
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      width: 100%;
      text-align: center;
    }

    &--purple {
      background: linear-gradient(
        101.11deg,
        #f087ff 14.47%,
        #6e1fce 39.43%,
        rgba(110, 31, 206, 0.1) 76.77%
      );
    }

    &--blue {
      background: linear-gradient(
        100.93deg,
        #1fcff1 15.61%,
        #234cb6 41.38%,
        rgba(35, 76, 182, 0.1) 79.94%
      );
    }

    &--green {
      background: linear-gradient(
        97.65deg,
        #19fb9b 11.36%,
        #199890 54.3%,
        #005f59 100.78%
      );
    }
  }

  &__open-source {
    &--title {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background: linear-gradient(267.25deg, #9946ff 2.48%, #15f195 95.66%);
      font-weight: 300;
      text-align: center;

      span::selection {
        -webkit-text-fill-color: #111;
      }
    }
  }
}
