.previous-sponsors {
  position: relative;
  background: #9945ff;
  margin-top: 75px;
  padding: 105px 0;

  &__content {
    z-index: 1;
  }

  &__graphic-left {
    display: none;

    @media (min-width: 992px) {
      display: block;
      position: absolute;
      width: 340px;
      top: -200px;
      left: 0;
    }
  }

  &__graphic-right {
    display: none;

    @media (min-width: 992px) {
      display: block;
      position: absolute;
      width: 450px;
      top: -300px;
      right: 0;
      z-index: -1;
    }
  }

  &__background {
    position: absolute;
    background: #9945ff;
    opacity: 0.5;
    filter: blur(197.458px);
    transform: rotate(-168.95deg);
    width: 75%;
    height: 120%;
    left: 12.5%;
    top: 0;
  }

  @media (min-width: 992px) {
    margin-top: 150px;
  }

  div > h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 30px;

    @media (min-width: 992px) {
      gap: 50px;
    }
  }
}
