.highlight {
  &__light {
    position: absolute;
    width: 1178px;
    height: 407px;
    top: -650px;
    left: calc(50% - 1178px / 2);
    background: #8121fa;
    filter: blur(200px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.625rem;
    margin-bottom: 48px;
    white-space: nowrap;

    &--icon {
      margin: 6px 0;

      @media (min-width: 576px) {
        margin: 0 9px;
      }
    }
  }

  &__plugin {
    &--video {
      margin-bottom: 20px;

      @media (min-width: 992px) {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }

    &--title {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 8px;

      @media (min-width: 992px) {
        font-size: 1.875rem;
        line-height: 1.875rem;
        margin-bottom: 20px;
      }
    }

    &--content {
      font-size: 0.875rem;
      line-height: 1.4rem;
      margin-bottom: 16px;

      @media (min-width: 992px) {
        font-size: 1.125rem;
        line-height: 1.8rem;
        margin-bottom: 24px;
      }
    }
  }
}
