.callout {
  display: block;
  font-size: 1.1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--callout-blue-bg);
  border: 1px solid var(--callout-blue-border);
  color: var(--callout-text-color) !important;

  > :last-child {
    margin-bottom: 0;
  }

  *:not(* pre) > code {
    color: var(--callout-text-color) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  a {
    text-decoration: underline;
  }

  .title {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: monospace;
    letter-spacing: -0.025em;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  p {
    margin: 0 !important;
  }

  code {
    background-color: transparent !important;
  }
}

/*
  Style the specific callout types
*/

.callout.default,
.callout.blue {
  border-color: var(--callout-blue-border);
  background-color: var(--callout-blue-bg);

  *:not(* pre) > code {
    border-color: #0e4d81 !important;
  }
}

.callout.red {
  border-color: var(--callout-red-border);
  background-color: var(--callout-red-bg);

  *:not(* pre) > code {
    border-color: #810e0e !important;
  }
}

.callout.yellow {
  border-color: var(--callout-yellow-border);
  background-color: var(--callout-yellow-bg);

  *:not(* pre) > code {
    border-color: #d19a00 !important;
  }
}

.callout.green {
  border-color: var(--callout-green-border);
  background-color: var(--callout-green-bg);

  *:not(* pre) > code {
    border-color: #118e4c !important;
  }
}
