.wrapper {
  overflow: clip;
  position: relative;
  border-radius: 0.4rem;
  border: 1px solid #414141 !important;

  .header {
    line-height: 1;
    font-size: 16px;
    background-color: #414141;
    margin-bottom: 0 !important;
    color: #ededed;
    padding: 0.8rem;
    /* border-bottom: 1px solid #414141 !important; */
    font-family: monospace;
  }

  .copy-button {
    position: absolute;
    top: 4px;
    right: 5px;
  }

  & > pre {
    font-size: 1.15rem;
    overflow: auto;
    position: static;
    padding: 0.5rem 0;
    margin-bottom: 0 !important;

    & code > * {
      padding: 0.06rem 3rem 0.06rem 0.75rem;
    }
  }

  // line numbers via css
  // :global(code) {
  //   counter-reset: line;
  // }
  // :global(code > [data-line]::before) {
  // counter-increment: line;
  // content: counter(line);

  // /* Other styling */
  // display: inline-block;
  // width: 1rem;
  // margin-right: 1rem;
  // text-align: right;
  // color: gray;
  // }

  :global([data-highlighted-line]) {
    // background-color: red;
    // background-color: rgba(0, 0, 0, 0.3);
    // background-color: rgba(146, 76, 189, 0.5);
    background-color: rgba(138, 208, 255, 0.1);
  }

  :global([data-highlighted-chars]) {
    // background-color: rgba(146, 76, 189, 0.7);
    background-color: rgba(138, 208, 255, 0.1);
    border-bottom: 1px solid var(--bs-link-color);
    border-radius: 0.25rem;
    padding: 0.1rem 0.4rem;
  }

  :global(.diff::before) {
    margin-right: 1rem;
  }

  :global(.diff.add) {
    background-color: rgba(44, 246, 75, 0.25);
    &::before {
      content: "+";
    }
  }

  :global(.diff.remove) {
    background-color: rgba(246, 44, 61, 0.25);
    &::before {
      content: "-";
    }
  }
}
