.markdown-renderer-img {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  position: relative;
  max-width: 95%;
  width: fit-content;
  height: auto;
  margin: 0.6rem auto;
  justify-items: center;

  .image-wrapper {
    max-width: 100%;
    width: fit-content;
    height: auto;
    // background-color: #414141;
    border-radius: 0.6rem;
    overflow: hidden;
    justify-items: center;
    border: 1px solid #333;

    img {
      max-width: 100%;
      height: auto;
      max-height: 556px;
      margin: auto;
      align-self: center;
      justify-self: center;
    }
  }

  .label {
    text-align: center;
    font-size: smaller;
    color: #777;
  }
}
