.markdown-steps {
  margin-left: 1rem;
  padding-left: 1.5rem;
  border-left: 1px solid #414141;
  counter-reset: step;

  h3 {
    counter-increment: step;
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;

    &:before {
      content: counter(step);
      position: absolute;
      left: -40px;
      top: -4px;
      width: 33px;
      height: 33px;
      left: -41px;
      border: 1px solid #414141;
      background-color: #121212;
      border-radius: 50%;
      font-size: 1rem;
      font-weight: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
