.wrapper {
  --wrapper-border-color: #414141;
  --wrapper-bg-color: #0e0e0e;
  --header-bg-color: #171717;
  --header-text-color: #ededed;
  --highlighted-line-bg: #081c2e;
  --highlighted-chars-bg: rgba(138, 208, 255, 0.1);
  --highlighted-chars-border: var(--bs-link-color);
  --diff-add-bg: rgba(44, 246, 75, 0.25);
  --diff-remove-bg: rgba(246, 44, 61, 0.25);

  overflow: clip;
  position: relative;
  border-radius: 0.4rem;
  border: 1px solid var(--wrapper-border-color) !important;

  .header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    line-height: 1;
    font-size: 16px;
    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--wrapper-border-color) !important;
    margin-bottom: 0 !important;
    color: var(--header-text-color);
    padding: 0.75rem 1rem;
    font-family: monospace;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    span {
      padding-top: 2px;
    }
  }

  .copy-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover .copy-button {
    opacity: 1;
  }

  & > pre {
    font-size: 1.15rem;
    overflow: auto;
    position: static;
    padding: 0.5rem 0;
    margin-bottom: 0 !important;
    background-color: var(--wrapper-bg-color) !important;

    & code > * {
      padding: 0.06rem 3rem 0.06rem 0.75rem;
    }

    & span {
      color: var(--shiki-dark);
    }
  }

  :global([data-highlighted-line]) {
    background-color: var(--highlighted-line-bg);
  }

  :global([data-highlighted-chars]) {
    background-color: var(--highlighted-chars-bg);
    border-bottom: 1px solid var(--highlighted-chars-border);
    border-radius: 0.25rem;
    padding: 0.1rem 0.4rem;
  }

  :global(.diff::before) {
    margin-right: 1rem;
  }

  :global(.diff.add) {
    background-color: var(--diff-add-bg);
    &::before {
      content: "+";
    }
  }

  :global(.diff.remove) {
    background-color: var(--diff-remove-bg);
    &::before {
      content: "-";
    }
  }
}

:global(.light) .wrapper {
  --wrapper-border-color: #e0e0e0;
  --wrapper-bg-color: #f6f6f6;
  --header-bg-color: #f5f5f5;
  --header-text-color: #333333;
  --highlighted-line-bg: #e6f7ff;
  --highlighted-chars-bg: rgba(3, 102, 214, 0.1);
  --highlighted-chars-border: #0366d6;
  --diff-add-bg: rgba(46, 160, 67, 0.15);
  --diff-remove-bg: rgba(248, 81, 73, 0.15);

  & > pre {
    & span {
      color: var(--shiki-light);
    }
  }
}
