.instagram-tile {
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
  border-radius: 24px;

  @media (min-width: 768px) {
    position: relative;
    grid-row: span 4;
    border-radius: 54px;
    margin-bottom: 0;

    &:nth-of-type(6) {
      grid-row: 2 / span 4;
    }

    &:nth-of-type(11) {
      grid-column: 1;
      grid-row: 21 / span 4;
    }
  }

  @media (min-width: 1024px) {
    position: relative;
    grid-row: span 4;
    margin-bottom: 0;

    &:nth-of-type(6) {
      grid-row: span 4;
    }

    &:nth-of-type(5) {
      grid-row: 3 / span 4;
    }

    &:nth-of-type(8) {
      grid-row: 2 / span 4;
    }

    &:nth-of-type(11) {
      grid-column: 3;
      grid-row: 10 / span 4;
    }
  }

  @media (min-width: 1605px) {
    position: relative;
    grid-row: span 4;
    margin-bottom: 0;

    &:nth-of-type(4) {
      grid-row: 4 / span 4;
    }

    &:nth-of-type(5) {
      grid-row: span 4;
    }

    &:nth-of-type(6) {
      grid-row: 2 / span 4;
    }

    &:nth-of-type(8) {
      grid-row: span 4;
    }

    &:nth-of-type(9) {
      grid-row: 3 / span 4;
    }

    &:nth-of-type(11) {
      grid-column: 4;
      grid-row: 11 / span 4;
    }
  }

  &__image {
    padding-top: 53%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 12px;
    border-radius: 24px;
    background-position: center;
    background-size: cover;
    transition: padding 0.25s ease;

    &--open {
      padding-top: 100%;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
      padding-top: 125%;
      border-radius: 54px;
    }
  }

  &__info {
    @media (min-width: 768px) {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(30px);
      border-radius: 54px;
      padding: 40px 32px;
      background-color: rgba(#9945ff, 0.65);
      opacity: 0;
      transition: opacity 0.25s ease;

      .instagram-tile:focus-visible & {
        opacity: 1;
      }

      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  h3.instagram-tile__title {
    color: var(--color-parchment);
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 0;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }

    @media (min-width: 1605px) {
      font-size: 1.75rem;
    }
  }

  &__cta {
    color: var(--color-medium-spring-green);
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 0;
    font-weight: 700;
    background: none;
    border: 0;
    outline: 0;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__cta-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 5px solid var(--color-medium-spring-green);
    border-bottom: 5px solid var(--color-medium-spring-green);
    margin-left: 8px;
    transform: translateY(-2px) rotate(45deg);

    &--open {
      transform: translateY(0) rotate(-135deg);
    }
  }

  &__description {
    color: var(--color-gray);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 160%;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: max-height 0.25s ease;
    margin-bottom: 14px;

    &--open {
      max-height: 70px;
    }

    @media (min-width: 768px) {
      max-height: none;
      font-size: 1rem;
      margin-bottom: 0;
    }

    @media (min-width: 1605px) {
      font-size: 1.25rem;
    }
  }
}
