.developers-content-page {
  color: var(--mdx-text-color);

  // correct spacing size to get the sticky effect
  --content-sticky-spacer: 100px;

  // top margin of the scroll snap area
  // hardcoded 100px is the ~ top navbar's height
  // offset navbar height navigating docs using table of contents
  a[id],
  h1[id],
  h2[id],
  h3[id],
  h4[id],
  h5[id],
  h6[id] {
    scroll-margin-top: var(--content-sticky-spacer);
  }

  /** style the scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }

  @mixin custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.2s ease;

    &:hover {
      scrollbar-color: var(--scrollbar-thumb) transparent;
    }
  }

  > * + * {
    margin-top: 1.5rem;
  }

  &__article {
    flex: 1 0 auto;
    word-wrap: break-word;

    > * + * {
      margin-bottom: 0.5em;
    }
  }

  &__metadataHeader {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75em;

    &__details {
      color: #777777 !important;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__simpleButton {
    font-size: 16px;
    display: inline-flex;
    gap: 0.75em;
    align-items: center;
    padding: 0.4rem 0.75rem;
    border: 1px solid var(--mdx-details-border);
    border-radius: 0.3rem;
    color: var(--mdx-text-color);
    white-space: nowrap;

    &:hover {
      border-color: var(--mdx-link-color-hover);
    }
  }

  &__hero-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;

    border-radius: 0.75rem;
    overflow: hidden;
    border: 1px solid #2c2c2c;
    background-image: url("/img/gradient.jpg");
    background-size: cover;

    &:hover {
      border-color: #3a3a3a;
    }

    img {
      object-fit: cover;
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__tag-cloud {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25rem;
    row-gap: 0.25rem;

    span,
    a {
      border-radius: 0.4rem;
      overflow: hidden;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0.25em 0.7em;
    }

    &__tag {
      color: var(--body-bg);
      background-color: var(--mdx-link-color);
      transition: 0.1s ease transform;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__breadcrumbs {
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      display: flex;
      flex-wrap: wrap;
      column-gap: 0.5rem;
      row-gap: 0.25rem;

      // svg {
      //   transform: rotate(180deg);
      // }
    }

    a {
      color: var(--mdx-link-color);
    }

    a:hover {
      color: var(--mdx-link-color-hover);
      text-decoration: underline;
    }
  }

  // Prev/next footer navigation
  &__nav {
    gap: 1rem;

    > * {
      width: 100%;
    }

    > :last-child {
      @media (min-width: 768px) {
        text-align: right;
      }
    }

    a {
      color: var(--mdx-link-color);
      padding: 0.5rem 1rem;
      border: 1px solid var(--mdx-details-border);
      border-radius: 0.3rem;

      &:hover {
        border-color: var(--mdx-link-color);
      }

      > span {
        color: var(--mdx-text-color);
      }
    }
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;

    letter-spacing: -0.02em;

    @media (max-width: 556px) {
      font-size: 36px;
    }
  }

  h1 a {
    color: var(--mdx-text-color);

    &:hover {
      background: linear-gradient(
        90deg,
        #14f195 0%,
        #80ecff 40.1%,
        #64a8f2 82.29%,
        #64a8f2 100%
      );
      color: transparent;
      background-clip: text;
    }
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;

    a {
      color: var(--mdx-link-color);
    }
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
  }

  h4,
  h5,
  h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }

  &__sidebar-toggle {
    display: none;

    @media (max-width: 992px) {
      display: grid;
      position: fixed;
      left: 2rem;
      bottom: 2rem;

      background-color: #222;
      color: #fff;
      border: 1px solid #737373 !important;
      border-radius: 0.5rem;

      margin: -6px;
      border: 0;
      cursor: pointer;
      border: 0;
      padding: 10px;
      height: 40px;
      width: 40px;
      gap: 4px;
      z-index: 1150;
      box-shadow: 0px 0px 6px 0px var(--bs-link-color);

      &__bar {
        transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
      }

      &__active {
        transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
        // border-color: var(--bs-link-color) !important;
        box-shadow: 0px 0px 6px 0px var(--bs-link-color);

        :nth-child(1) {
          top: 45%;
          left: 24%;
          position: absolute;
          transform: rotate(45deg);
        }

        :nth-child(2) {
          top: 45%;
          left: 24%;
          position: absolute;
          transform: rotate(-45deg);
        }

        :nth-child(3) {
          opacity: 0;
        }
      }
    }
  }

  /* style the social share link buttons */
  &__social-area {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    color: #fff;
    display: inline-flex;

    > * + * {
      margin-left: 1rem;
    }

    &__social-icon {
      background: #9945ff;
      padding: 0.1em;
    }
  }

  &__date-time {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
  }

  &__sidebar {
    padding-right: 0.2rem !important;

    @media (min-width: 993px) {
      max-width: 300px;
      position: sticky !important;
      top: var(--content-sticky-spacer);
      max-height: calc(100vh - 8rem);
      overflow-y: auto;
      overflow-x: hidden;
      @include custom-scrollbar;
    }

    @media (max-width: 992px) {
      /** hidden state to hide the sidebar on mobile */
      &__hidden {
        display: none;
      }

      /** active state to display the sidebar on mobile */
      &__active {
        background-color: black;
        background-image: radial-gradient(
          farthest-corner at bottom right,
          #3a233f,
          transparent 250px
        );
        position: fixed !important;
        max-height: 100vh;
        width: 100%;
        height: 100%;
        padding: 1.2rem;
        overflow-y: scroll;
        left: 0;
        top: 0;
        z-index: 1100;
        max-width: 500px;

        padding-bottom: 8rem !important;
      }
    }

    > * + * {
      margin-bottom: 1.75rem;
    }
  }

  &__rightSidebarGroup {
    max-height: calc(100vh - 7rem);
    width: 100%;
    top: var(--content-sticky-spacer);
    overflow-y: auto;

    @media (min-width: 993px) {
      order: 3 !important;
      position: sticky !important;
      max-width: 248px;
      @include custom-scrollbar;
    }

    @media (max-width: 992px) {
      order: 1 !important;
      display: none !important;
    }
  }

  /*
    styles for an individual section/block group within the sidebar
  */
  &__sidebarGroup {
    > * + * {
      margin-top: 1.2rem !important;
    }

    list-style-type: none;
    margin: 0;
    padding: 0;

    ul {
      margin-left: 2px;
      padding: 0;
      border-left: 1px solid #2b2b2b;

      * > ul {
        border: 0;
        margin-left: 0px;
      }
    }

    &__activeHeading {
      color: var(--mdx-text-color) !important;
    }

    &__toggleBtn {
      position: absolute;
      right: 8px;
      border: 1px solid transparent;
      cursor: pointer;
      padding: 2px;
      border-radius: 0.2rem;

      &:hover {
        border-color: #414141;
      }
    }

    &__sectionHeader {
      display: flex;
      flex: 1 1 0%;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 0.5rem 0.8rem 0.5rem 0rem;

      &__active {
        padding-left: 0.5rem;
        margin-left: 1px;
        border-left: 3px solid var(--mdx-link-color) !important;
      }

      &__heading {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        margin: 0;

        &__active {
          color: var(--body-text) !important;
        }
      }

      button {
        padding: 3px;
      }

      img,
      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    li,
    &__list {
      list-style-type: none;
      margin: 0;

      li {
        border: 0;
      }

      a,
      button {
        color: var(--mdx-text-color-3);
        display: block;
        cursor: pointer;
      }

      > a,
      > span,
      > button {
        text-align: left;
        display: flex;
        flex: 1 1 0%;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 105%;
        padding: 0.6rem 0.8rem 0.55rem 1rem;

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        &:hover {
          text-decoration: none !important;
          background-color: var(--mdx-details-bg);
          color: var(--body-text) !important;
        }

        button {
          padding: 3px;
        }

        img,
        svg {
          width: 1.2rem;
          height: 1.2rem;
        }
      }

      &__active-section {
        color: var(--body-text) !important;
        font-weight: 600;
        margin-left: -2px;
        border-left: 3px solid var(--mdx-link-color) !important;
        // text-decoration: underline;
      }

      &__active-link {
        color: var(--body-text) !important;
        margin-left: -2px;
        border-left: 3px solid var(--mdx-link-color) !important;
        font-weight: 600;
        // text-decoration: underline;
      }
    }
  }

  .scroll-to-top {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .toc-action-item {
    justify-content: flex-start;
    gap: 0.7rem;
    padding: 0.5rem 1rem;
    color: inherit;
  }

  .toc-action-item:hover {
    background-color: transparent;
  }
}
