.ecdr-hero {
  margin-top: -70px;

  &__inner {
    position: relative;
    padding-top: 190px;
    padding-bottom: 120px;
  }

  &__ring {
    &--img {
      position: absolute;
      z-index: -1;
      top: -50px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 850px;
      height: 850px;
      mix-blend-mode: lighten;
    }

    &--effect1 {
      position: absolute;
      z-index: -1;
      top: -400px;
      left: 50%;
      width: 1400px;
      height: 1400px;
      background: radial-gradient(#9945ff, transparent 70%);
      mix-blend-mode: screen;
      opacity: 0.2;
      transform: translate3d(-50%, 0, 0) rotate(160deg);
    }

    &--effect2 {
      position: absolute;
      z-index: -1;
      top: -400px;
      left: 50%;
      width: 1400px;
      height: 1400px;
      background: radial-gradient(#9945ff, transparent 70%);
      mix-blend-mode: color;
      opacity: 0.5;
      transform: translate3d(-50%, 0, 0) rotate(160deg);
    }
  }

  &__heading {
    font-size: clamp(2.25rem, 8vw, 3.75rem);
    font-weight: 500;
    line-height: 105%;
  }

  &__subHeading {
    font-size: 1.25rem;
    opacity: 0.8;
  }

  &__note {
    font-size: 0.9rem;
    opacity: 0.4;
  }
}
