.ecdr-join-community {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 3.5rem;

  &__signup {
    flex: 1;
    min-width: 320px;
    max-width: 560px;

    &--title {
      font-size: 2rem;
      font-weight: 400;
      line-height: 120%;
      margin-bottom: 0;
    }

    &--description {
      font-size: 1.125rem;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__background {
    flex: 1;
    min-width: 320px;
    background: url("../../../public/src/img/ecdr/hackathon-background.jpg")
      center / cover;
    border-radius: 1rem;
    width: 635px;
    height: 300px;
  }
}
