.course-item {
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 100% !important;
  height: 370px;
  border-radius: 18px;
  overflow: hidden;

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .details {
    padding-left: 50px;

    @media (min-width: 992px) {
      padding-left: 70px;
    }

    &__pill {
      display: inline-block;
      height: 23px;
      padding: 3px 10px;
      margin-bottom: 16px;
      background: #9945ff;
      border-radius: 14px;
      color: #fff;
      font-size: 0.75rem;
      line-height: 1rem;

      @media screen and (min-width: 768px) {
        height: 26px;
        padding: 4px 12px;
        border-radius: 16px;
        line-height: 1.125rem;
      }
    }

    h3 {
      width: 100%;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 100%;
      color: #fff;
      margin: 0;
    }

    p {
      max-width: 400px;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #ffffff;
      opacity: 0.7;
      margin-top: 24px;
    }
  }

  .cta {
    margin-top: 24px;

    button {
      color: #fff;
      border: none;

      svg {
        width: 26px;
        height: 26px;
      }

      @media (min-width: 768px) {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .shadow {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(9, 10, 12, 0.96) 87.44%
    );
    transition: 0.3s ease opacity;
  }

  &:hover {
    .shadow {
      opacity: 0;
    }
  }
}
