@import "~@/scss/solutions/_variables.scss";

.GamesKit {
  background: var(--grey-500);
  border-top: 1px solid var(--grey-450);

  @include breakpoint(sm) {
    padding: 0 40px;
  }
}

.Container {
  @include breakpoint(xl) {
    display: flex;
    padding: 128px 40px;
    gap: 225px;

    .TextBlock,
    .ListItems {
      padding: 0;
    }
  }
}

.TextBlock {
  padding: 64px 24px;

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0;

    strong {
      @include gradient-text(
        linear-gradient(90deg, #64a8f2 0%, #9945ff 49.61%, #eb54bc 100%)
      );
    }
  }

  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--grey-250);
    margin: 24px 0 40px;
    max-width: 100%;
  }

  a {
    width: max-content;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.32;
    margin: 0 auto;
  }
}

.ListItems {
  padding: 0 24px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .ListItem {
    h5 {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: -0.01em;
      text-align: center;
      margin: 0;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        color: var(--grey-100);

        svg {
          width: 22px;
          transition: 0.2s ease-in;

          @include breakpoint(xl) {
            width: 24px;
          }
        }

        &:hover {
          svg {
            transform: translateX(4px);
          }
        }
      }
    }

    p {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: -0.01em;
      text-align: center;
      color: var(--grey-300);
      margin: 8px 0 0;
    }
  }
}

@include breakpoint(sm) {
  .TextBlock {
    h2 {
      font-size: 40px;
    }
  }
}

@include breakpoint(md) {
  .TextBlock {
    h2 {
      font-size: 56px;
    }
  }
}

@include breakpoint(xl) {
  .TextBlock {
    h2 {
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.02em;
      text-align: left;
    }

    p {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.12;
      letter-spacing: -0.02em;
      text-align: left;
    }

    a {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.1;
      margin-left: 0;
    }
  }

  .ListItems {
    .ListItem {
      h5 a,
      p {
        text-align: left;
        justify-content: flex-start;
      }

      h5,
      p {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.12;
        letter-spacing: -0.02em;
      }
    }
  }
}
