@import "~@/scss/solutions/_variables.scss";

.GamingVideoHero {
  height: calc(100vh - 76px);
  position: relative;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .Video2 {
    opacity: 0;
  }
}

.VideoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .VideoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}

.TextBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100%;
  padding: 24px;

  .Kicker {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 24px;
    display: block;

    @include breakpoint(lg) {
      font-size: 22px;
      font-weight: 800;
      line-height: 1.25;
      letter-spacing: -0.02em;
    }
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin: 24px auto 0;
    max-width: 702px;
  }
}

.Buttons {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 24px auto 0;
  gap: 16px;

  @media (max-width: #{$screen-md-min - 1}) {
    a {
      font-size: 15px;
      line-height: 1.32;
    }
  }

  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(xl) {
  .TextBlock {
    h1 {
      font-size: 96px;
    }

    p {
      font-size: 28px;
      line-height: 1.15;
      letter-spacing: -0.02em;
    }
  }
}
