.instagram-giveaway-form {
  position: relative;

  &__container {
    display: flex;
    max-width: 1440px;
    position: relative;
    z-index: 2;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__illustration {
    order: 2;

    @media (min-width: 992px) {
      order: 1;
      flex: 1 0 560px;
      align-self: flex-end;
    }
  }

  &__content {
    order: 1;

    @media (min-width: 992px) {
      order: 2;
      flex: 0 1 630px;
      padding-top: 40px;
    }
  }

  &__img-container {
    position: relative;
    width: 100%;
  }

  &__img-wrapper {
    padding-bottom: 118%;
    height: 0;

    @media (min-width: 992px) {
      padding-bottom: 100%;
    }

    &::before {
      background: var(--color-black);
      position: absolute;
      content: "";
      left: calc(-1 * (var(--bs-gutter-x) * 0.5));
      right: calc(-1 * (var(--bs-gutter-x) * 0.5));
      bottom: 0;
      height: 13.3%;

      @media (min-width: 992px) {
        left: -9999px;
        right: -9999px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -70px;
    width: auto;
    height: 100%;

    /* @NOTE - reset next image styling */
    span {
      box-sizing: initial !important;
      display: initial !important;
      overflow: initial !important;
      width: initial !important;
      height: initial !important;
      background: initial !important;
      opacity: initial !important;
      border: initial !important;
      margin: initial !important;
      padding: initial !important;
      position: initial !important;
      max-width: initial !important;
    }

    > span > span {
      display: none !important;
    }

    img {
      position: static !important;
      inset: initial !important;
      box-sizing: initial !important;
      padding: initial !important;
      border: initial !important;
      margin: initial !important;
      display: block !important;
      width: auto !important;
      height: 100% !important;
      min-width: none !important;
      max-width: none !important;
      min-height: none !important;
      max-height: none !important;
    }
  }

  h3.instagram-giveaway-form__title {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 100%;
    color: var(--color-parchment);
    margin-bottom: 14px;

    @media (min-width: 992px) {
      font-size: 3.75rem;
      margin-bottom: 32px;
    }
  }

  p.instagram-giveaway-form__description {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    color: var(--color-gray);

    @media (min-width: 992px) {
      font-size: 1.25rem;
      margin-bottom: 32px;
    }
  }

  &__form {
    margin-bottom: 32px;

    @media (min-width: 992px) {
      padding-bottom: 50px;
    }
  }

  &__glow-bgs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__glow-bg {
    &--mobile {
      display: block !important;
      position: absolute;

      @media (min-width: 992px) {
        display: none !important;
      }
    }

    &--desktop {
      display: none !important;

      @media (min-width: 992px) {
        display: block !important;
      }
    }
  }
}
