.accordion-item {
  border: 0;
}

.accordion-header {
  &:after {
    content: none;
  }
}

.accordion-button:not(.collapsed) {
  background: transparent;
}

.accordion__divider--possible {
  height: 1px;
  width: 100%;
  display: block;
  position: relative;
  background: rgb(var(--accordion-color));
  background: linear-gradient(
    90deg,
    rgba(var(--accordion-color), 1),
    rgba(var(--accordion-color), 0)
  );
  overflow: hidden;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 100%;
    background: rgb(var(--accordion-color));
    background: linear-gradient(
      90deg,
      rgba(var(--accordion-color), 1),
      rgba(var(--accordion-color), 0)
    );
    transition: width 0.6s ease-in-out;
  }

  &.open:after {
    transition: width 0.3s ease-out;
    width: 300%;
  }

  @media (min-width: 768px) {
    height: 2px;
  }
}

.accordion__image--possible {
  width: 100%;
  height: auto;
  max-width: 152px;

  @media (min-width: 768px) {
    max-width: 170px;
  }
}
