.ecosystem__grid-item--possible {
  opacity: 0.3;
  transition: opacity 0.65s ease-out;
  z-index: 1;
  position: relative;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 7px;
  flex-shrink: 0;
  height: 74px;
  width: 74px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==")
    center center / cover;

  @media (min-width: 768px) {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
  }

  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.3s ease-out;
    z-index: 5;

    :global {
      .ecosystem-tooltip {
        opacity: 1;
        z-index: 5;
        margin-top: 0%;
        transition:
          opacity 0.15s ease-out,
          margin-top 0.15s ease-out;
      }
    }
  }

  :global {
    .ecosystem-tooltip {
      margin-top: -10%;
      opacity: 0;
      pointer-events: none;
      text-shadow:
        1px 1px 20px #000,
        1px 1px 20px #000;
      transition:
        opacity 0.3s ease-out,
        margin-top 0.3s ease-out;
    }

    img {
      height: 74px;
      width: 74px;

      @media (min-width: 768px) {
        height: 100px;
        width: 100px;
      }
    }
  }
}
