.ecosystem__rtl-row--possible {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  animation: RTLAnimation 90s linear infinite;
  z-index: 1;

  &:hover,
  &:focus {
    z-index: 2;
    animation-play-state: paused;
  }
}

.ecosystem__ltr-row--possible {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  padding: 0;
  animation: LTRAnimation 90s linear infinite;
  z-index: 1;

  &:hover,
  &:focus {
    z-index: 2;
    animation-play-state: paused;
  }
}

@keyframes RTLAnimation {
  0% {
    transform: translateX(0%) translateZ(1px) rotateY(0.5deg);
  }

  100% {
    transform: translateX(-50%) translateZ(1px) rotateY(0.5deg);
  }
}

@keyframes LTRAnimation {
  0% {
    transform: translateX(-50%) translateZ(1px) rotateY(0.5deg);
  }

  100% {
    transform: translateX(0%) translateZ(1px) rotateY(0.5deg);
  }
}
