.possible-visionaries {
  :global {
    .slick-dots {
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
      }

      button {
        display: block;
        position: relative;
        padding: 15px 15px;
        box-sizing: border-box;
        width: auto;
        height: auto;

        &:before {
          width: 100%;
          color: #ffffff;
        }
      }

      li.slick-active button:before {
        // background: #9945ff;
        color: #ffffff;
      }
    }

    @media (min-width: 768px) {
      .slick-dots {
        display: none !important;
      }
    }
  }
}

.visionaries-videoContainer--possible {
  z-index: 5;
  position: relative;
  max-width: 1150px;

  @media (min-width: 768px) {
    background: #0f0d11;
    padding: 1.5rem !important;
    border-radius: 1.5rem;
    box-shadow: 0 34px 34px rgba(0, 0, 0, 0.4);

    :global(.video-thumbnail) {
      border-radius: 0.75rem;
    }
  }
}

.visionaries-speakerThumbnail--possible {
  max-height: 50px;
}

.visionaries-episodeSelectionBtn--possible {
  border-radius: 1rem;
  background-color: #0f0d11 !important;
  color: #ffffff;
  font-size: 1.125rem;
  padding: 1rem 1.5rem 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid rgba(153, 69, 255, 0);
  transition: border 0.25s ease-out;

  @media (min-width: 768px) {
    margin-bottom: 1.5rem;
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid rgba(255, 255, 255, 0.25);
  }

  &:last-child {
    margin-right: 0;
  }

  &:global(.active) {
    border: 2px solid rgba(153, 69, 255, 1);
  }
}

.visionaries-episodeDropdownBtn--possible {
  color: #ffffff;
  font-size: 1.125rem;
  padding: 1rem 1.5rem 0.8rem;
  border-bottom: 1px solid rgba(153, 69, 255, 0);
  border: 2px solid rgba(153, 69, 255, 0);
  background-color: #0f0d11 !important;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: #000000 !important;
  }

  &:global(.active) {
    border: 2px solid rgba(153, 69, 255, 1);
  }
}

.visionaries-episodeTooltip--possible {
  font-size: 1.15rem;
  opacity: 0;
  background: #0f0d11;
  padding: 0.5rem 1rem 0.5rem;
  transition:
    opacity 0.3s,
    margin 0.3s;
  display: block;
  border-radius: 0.5rem;
  margin-bottom: 40px;

  &:global(.show) {
    opacity: 1;
    margin-bottom: 10px;
    animation-name: possible-fadeInUp;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
  }
}

.visionaries-episodeSelectionContainer--possible {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes possible-fadeInUp {
  from {
    opacity: 0;
    margin-bottom: -20px;
  }

  to {
    opacity: 1;
    margin-bottom: 10px;
  }
}
