.icons--possible {
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-size: cover;
  }
}

.icons__title-image--possible {
  width: 100%;
  height: auto;
  max-width: 320px;

  @media (min-width: 768px) {
    max-width: 500px;
  }
}

.icons__copy--possible {
  font-size: 0.875rem;
  line-height: 1.77;
  max-width: 450px;

  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.55;
  }
}
