.card--possible {
  display: block;
  position: relative;
  float: left;
  background: #0f0d11;
  border-radius: 1rem;
  padding: 0 1.5rem 2.75rem;

  @media (min-width: 768px) {
    background: transparent;
    padding-bottom: 0;
  }
}

.section__start-building--possible {
  background: transparent;
  position: relative;

  @media (min-width: 768px) {
    background: #0f0d11;
  }
}
