.index-stats {
  position: relative;
  overflow: hidden;
  padding: 125px 0;

  &__ff-mono {
    font-family: "DSemi", monospace;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 125px;
    background: linear-gradient(black, rgba(0, 0, 0, 0) 80%);
  }

  &__heading {
    text-wrap: balance;
  }

  &__glow-lines {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    @media (min-width: 1400px) {
      top: 0;
    }

    img {
      object-fit: cover;
    }
  }

  &__color {
    font-weight: 300;
    font-size: 70px;
    line-height: 120%;

    @media (min-width: 768px) {
      font-size: 110px;
    }

    &--purple {
      background: linear-gradient(
        101.11deg,
        #f087ff 14.47%,
        #6e1fce 39.43%,
        rgba(110, 31, 206, 0.1) 76.77%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &--blue {
      background: linear-gradient(
        100.93deg,
        #1fcff1 15.61%,
        #234cb6 41.38%,
        rgba(35, 76, 182, 0.1) 79.94%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &--green {
      background: linear-gradient(
        97.65deg,
        #19fb9b 11.36%,
        #199890 54.3%,
        #005f59 100.78%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &::selection {
      -webkit-text-fill-color: #111;
    }
  }

  &__live {
    position: relative;
    line-height: 1 !important;
    padding-left: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: #1fcff1;
    }
  }

  &__card {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #19161c;
    backdrop-filter: blur(20px);
    border-radius: 24px;

    @media (min-width: 768px) {
      border: 0;
      background: rgba(0, 0, 0, 0.28);
    }

    &__title {
      border-left: 2px solid;
      padding-left: 15px;
    }
  }
}
