.possible-layout {
  background: #000000;
  margin-bottom: -80px;

  :global {
    .h2 {
      font-size: 1.875rem;
      font-weight: 500;
      line-height: 1.2;
      display: block;

      @media (min-width: 768px) {
        font-size: 2.5rem;
      }
    }

    .copy {
      font-size: 0.875rem;
      line-height: 1.77;
      color: rgba(255, 255, 255, 0.7);

      @media (min-width: 768px) {
        font-size: 1rem;
        line-height: 1.55;
      }
    }

    .copy__link {
      color: rgba(255, 255, 255, 0.7);
    }

    .truncated {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &.open {
        -webkit-line-clamp: unset;
        overflow: unset;
        text-overflow: unset;
      }
    }
  }
}
