.section__caseStudies--possible {
  margin: 0 auto;
  display: block;

  * {
    ::-webkit-scrollbar {
      width: 12px;
      opacity: 0;
    }

    ::-webkit-scrollbar-track {
      opacity: 0;
    }

    ::-webkit-scrollbar-thumb {
      opacity: 0;
    }
  }
}

.caseStudies__card-row--possible {
  display: block;
  min-width: calc(100% + 2rem);
  margin: 0 -1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  overflow-x: scroll;

  @media (min-width: 768px) {
    min-width: calc(100% + 4rem);
    margin: 0 -2rem;
  }

  @media (min-width: 994px) {
    min-width: calc(100% + 4rem);
    margin: 0 -2rem;
  }
}

.caseStudies__card-row-inner--possible {
  display: inline-flex;
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0 2rem;
  }

  @media (min-width: 1250px) {
    left: 50%;
    position: relative;
    transform: translateX(-625px);
    padding-right: 625px;
  }
}

.caseStudies__card {
  background: rgb(23, 18, 61);
  background: linear-gradient(
    70deg,
    rgba(23, 18, 61, 1) 0%,
    rgba(17, 16, 21, 1) 100%
  );
  border-radius: 1.5rem;
  margin: 0 1rem;
  min-width: 75vw;

  @media (min-width: 768px) {
    min-width: 40vw;
  }

  @media (min-width: 994px) {
    margin: 0 2rem;
    min-width: 365px;
    max-width: 365px;
    box-sizing: border-box;
  }

  :global {
    .cta {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
