.category-dropdown {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;

  &:global(.show) {
    border-bottom: 2px solid #14f195;
  }
}

.category-dropdown-menu {
  border: none;
  background: black;
  padding: 1rem 0.5rem 0.5rem 1rem;
  z-index: 55555;
  width: 100vw;
  max-width: 300px;
}

.category-dropdown-item {
  background: #1b1622;
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  color: #ffffff;
  border-radius: 100px;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.875rem 1rem 0.75rem;
  font-weight: 700;

  &:global(:hover) {
    background: #1f1b27;
    color: #ffffff;
  }

  &:global(.active) {
    background: #1b1622;
    border: 1px solid rgb(153, 69, 255);
  }
}
