/*! @docsearch/css Variables 3.6.0 | MIT License | © Algolia, Inc. and contributors | https://docsearch.algolia.com */

:root {
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-searchbox-height: 56px;
  --docsearch-primary-color: #5468ff;
  --docsearch-secondary-color: #2b2b2f;

  --docsearch-searchbox-shadow: inset 0 0 0 1.4px var(--docsearch-primary-color);
  --docsearch-hit-height: 56px;
  --docsearch-hit-active-color: #fff;
  /* --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1; */
  --docsearch-footer-height: 44px;

  /* style the search button */
  --docsearch-searchbox-background: #090a11;
  --docsearch-searchbox-focus-background: #000;

  --docsearch-logo-color: #fff;
  --docsearch-text-color: #f5f6f7;
  --docsearch-muted-color: #8b91a5;

  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: #15172a;
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;

  --docsearch-hit-color: #bec3c9;
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: #090a11;
  --docsearch-key-gradient: linear-gradient(-26.5deg, #565872, #31355b);
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-key-pressed-shadow: inset 0 -2px 0 0 #282d55,
    inset 0 0 1px 1px #51577d, 0 1px 1px 0 rgba(3, 4, 9, 0.30196078431372547);
  --docsearch-footer-background: #1e2136;
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);

  &.light {
    --docsearch-searchbox-background: #ffffff;
    --docsearch-searchbox-focus-background: #ffffff;
    --docsearch-text-color: #000;
    --docsearch-secondary-color: #848895;
  }
}

.DocSearch-Container {
  z-index: 1155 !important;

  @media (max-width: 768px) {
    position: fixed !important;
  }
}

.DocSearch-Button {
  border: 1px solid var(--docsearch-secondary-color);
  background: none;
  border-radius: 0.4rem;
  font-weight: initial;

  @media (max-width: 768px) {
    border-color: transparent;
    margin: 0 0 0 12px;
  }
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--docsearch-muted-color);

  @media (max-width: 768px) {
    color: var(--docsearch-text-color);
  }
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  border-color: var(--docsearch-muted-color);

  .DocSearch-Search-Icon {
    color: var(--docsearch-text-color);
  }
}

.DocSearch-Search-Icon {
  stroke-width: var(--docsearch-icon-stroke-width);
}

.DocSearch-Button-Keys {
  /* hide the search button keys */
  display: none !important;
}

.DocSearch-Button-Placeholder {
  padding: 0 9px 0;
}
