// Diatype
@import "../fonts/fonts.css";

// Solana variables
@import "solana-variables";

// Bootstrap core
@import "~bootstrap/scss/bootstrap";

// Solana core & page-specific styles
@import "solana";
@import "solana/blog";
@import "solana/community";
@import "solana/validators";
@import "solana/modals";

// Solana-lib
@import "~@solana-foundation/solana-lib/dist/styles.css";

// Algolia docsearch
@import "~@docsearch/css";
@import "./docsearch.scss";
@import "../pages/[locale]/state-of-solana/dark-mode-variables";

.modal-content {
  @include dark-mode-vars;
  background-color: var(--dashboard-widget-bg) !important;
  border: none;
  svg.lucide.lucide-x {
    color: var(--dashboard-widget-title-text-color);
  }

  .modal-title {
    color: var(--dashboard-widget-title-text-color);
  }
  .widget-header {
    .t-header {
      padding-left: 0px;
    }
  }
  &:has(.table-visualization-container) {
    padding: 0px;

    .widget-header {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .counter-visualization-content {
    & > div {
      transform: scale(1) !important;
    }

    .counter-visualization-value {
      color: var(--dashboard-widget-counter-value-color, #595959);
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 1%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .counter-visualization-label {
      margin-top: 0.75rem;
      color: var(--dashboard-widget-counter-label-color, #595959);

      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1%;
    }
  }

  .table-visualization-container {
    table {
      backdrop-filter: blur(32px);
      background: var(--dashboard-widget-table-bg, #4a4f54) !important;
      border-radius: 0px;
      thead {
        th {
          padding: 0.5rem 1rem;
          border-radius: 0px;
          & > div > div {
            display: inline-flex;
            align-items: center;
          }
        }
        th {
          background: var(
            --dashboard-widget-table-header-bg,
            #3a3f44
          ) !important;
        }
      }
      tbody {
        border: none;
      }
      td {
        padding: 0.5rem 1rem;
        border-bottom-color: #282f3a;
        &::before {
          display: none;
        }
        &.ant-table-column-sort {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &-row-hover {
          background-color: rgba(0, 0, 0, 0.1) !important;
        }
      }
      tr {
        border-bottom-color: #282f3a;
        td {
          vertical-align: middle;
          text-align: left !important;
          div {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
          }
        }

        &:hover {
          td {
            background-color: rgba(0, 0, 0, 0.1) !important;
          }
        }
      }
      * {
        color: var(--dashboard-widget-viz-chart-text-color);
      }
    }
  }

  .chart-visualization-container {
    transform: scale(0.95);

    svg.main-svg {
      background-color: var(
        --dashboard-widget-viz-chart-bg,
        transparent
      ) !important;

      .hoverlayer {
        .hovertext {
          text.name {
            fill: black !important;
          }
        }
      }

      text {
        font-family: "Inter", "Helvetica Neue", "Helvetica 45 Light", sans-serif !important;
        line-height: 1.2 !important;
        letter-spacing: 0.2px !important;
      }

      .infolayer {
        .legend {
          rect.bg {
            fill: var(--dashboard-widget-viz-chart-bg, transparent) !important;
          }

          .legendtext {
            fill: var(
              --dashboard-widget-viz-legend-text-color,
              rgb(0, 0, 0)
            ) !important;
          }

          .scrollbar {
            fill: #15181d !important;
          }
        }

        .annotation {
          text {
            fill: var(
              --dashboard-widget-viz-chart-text-color,
              rgb(68, 68, 68)
            ) !important;
          }
        }

        .xtitle,
        .ytitle {
          fill: var(
            --dashboard-widget-viz-chart-text-color,
            rgb(68, 68, 68)
          ) !important;
        }
      }

      .cartesianlayer {
        .xtick,
        .ytick {
          text {
            fill: var(
              --dashboard-widget-viz-chart-text-color,
              rgb(68, 68, 68)
            ) !important;
            font-size: 14px !important;
          }
        }

        .xtick {
          transform: translate(0, 0px);
        }

        .ytick {
          transform: translate(0px, 0);
        }

        .gridlayer {
          .xgrid.crisp,
          .ygrid.crisp,
          .y2grid.crisp {
            stroke: #1b252f !important;
            stroke-dasharray: 8, 8;
          }
        }
      }

      .pielayer {
        .slicetext {
          text {
            fill: transparent !important;
          }
        }
      }
    }
  }

  .body-row.tile__bottom-control {
    span {
      color: var(--dashboard-widget-title-text-color, #595959);
    }
  }
  .viz-render {
    .counter-visualization-content {
      > div {
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .counter-visualization-label,
        .counter-visualization-value {
          line-height: 1.2;
        }
      }
    }
  }
  .viz-render:has(.table-visualization-container) {
    width: 100%;
    position: relative;
    overflow: auto;
  }
}
