.glow--possible {
  position: absolute;
  background-color: var(--background-color);
  background-blend-mode: hard-light;
  filter: blur(150px);
  height: var(--height);
  width: var(--width);
  border-radius: 50%;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%) rotate(var(--rotation));
  z-index: 0;
  display: block;
  opacity: 0.3;
  transform-origin: center;
  pointer-events: none;
}
