.hero__title-image--possible {
  width: 100%;
  height: auto;
  max-width: 320px;

  @media (min-width: 768px) {
    max-width: 975px;
    margin-left: -1rem;
  }
}

.hero__copy--possible {
  font-size: 0.875rem;
  line-height: 1.77;
  max-width: 750px;
  text-wrap: pretty;

  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.55;
  }
}

.hero__poster--possible {
  background: #000;

  :global {
    .poster {
      width: 100%;
      height: auto;
      opacity: 0.3;
      transition: opacity 0.5s ease-out;
    }

    .play-button {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }
  }

  &:hover,
  &:focus {
    :global {
      .poster {
        opacity: 1;
        transition: opacity 0.35s ease-out;
      }

      .play-button {
        opacity: 0.3;
        transition: opacity 0.35s ease-out;
      }
    }
  }
}
