.instagram-energy-usage {
  overflow: hidden;
  background: var(--color-black);
  position: relative;
  z-index: 5;

  @media (min-width: 992px) {
    padding-top: 140px;
    padding-bottom: 180px;
  }

  &__container {
    max-width: 1280px;
  }

  &__row {
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr minmax(485px, 1fr);
      column-gap: 100px;
    }

    @media (min-width: 1024px) {
      column-gap: 125px;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  h3.instagram-energy-usage__title {
    color: var(--color-parchment);
    margin-bottom: 24px;
    font-weight: 550;
    font-size: 1.75rem;
    line-height: 100%;

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }

    @media (min-width: 992px) {
      font-size: 3.75rem;
    }
  }

  p.instagram-energy-usage__description {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    color: var(--color-gray);

    @media (min-width: 768px) {
      font-size: 1rem;
    }

    @media (min-width: 992px) {
      margin-bottom: 0;
      font-size: 1.25rem;
    }
  }

  &__stats {
    position: relative;
    z-index: 2;
  }

  &__stats-ctrls {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  &__stats-ctrl {
    background: none;
    border: 0;

    :global path.bg {
      transition: fill 0.25s;
      fill: transparent;
    }

    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        outline: 0;

        :global path.bg {
          fill: var(--color-electric-violet);
        }
      }
    }
  }

  &__background-wrapper {
    display: flex;
    justify-content: flex-end;

    @media (min-width: 992px) {
      position: absolute;
      right: 0;
      width: 75%;
      bottom: -250px;
    }
  }

  &__background {
    flex: 1 0 auto;
    width: 160%;
    height: auto;
    margin-right: -50px;
    max-width: 900px;

    @media (min-width: 992px) {
      position: static;
      width: 100%;
      margin: 0;
      max-width: none;
    }
  }
}
