@import "~@/scss/solutions/_variables.scss";

.Lottie {
  @include breakpoint(lg) {
    height: calc(min(500px, 100vh)) !important;
    width: auto !important;

    svg {
      margin: auto;
    }
  }
}

.PageWrapper {
  overflow: hidden;
}

.PageWrapper,
.Header {
  &,
  nav {
    background: #0d0817 !important;
  }
}

.Callout1 {
  padding: 64px 24px;

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 0;
    @include max-width(700px);

    strong {
      background: linear-gradient(85.62deg, #9945ff -2.51%, #14f195 92.16%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @include breakpoint(md) {
    padding-top: 128px;
    padding-bottom: 40px;

    h2 {
      font-size: 56px;
    }
  }

  @include breakpoint(lg) {
    h2 {
      font-size: 64px;
    }
  }

  @include breakpoint(xl) {
    h2 {
      font-size: 80px;
      line-height: 1.04;
      letter-spacing: -0.02em;
      @include max-width(1000px);
    }
  }
}

.BasicCallout {
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 20px;
      margin-top: 40px;
    }
  }

  @include breakpoint(md) {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.LongformSection {
  overflow: hidden;

  .LongformItem1 {
    flex-direction: column-reverse;
    padding-top: 0;
    @include max-width(1068px);

    @include breakpoint(md) {
      flex-direction: row;
    }

    .LongformCustomContent {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include breakpoint(lg) {
        gap: 48px;
      }

      .LongformContent {
        h3,
        p {
          font-size: 18px;
          letter-spacing: -0.01em;
          line-height: 1.16;
          margin: 0;
          max-width: 100%;
          font-weight: bold;
        }

        p {
          color: var(--grey-300);
        }

        @include breakpoint(lg) {
          h3,
          p {
            font-size: 24px;
            letter-spacing: -0.02em;
            line-height: 1.12;
          }
        }
      }
    }
  }
}

.EcosystemSection {
  padding: 64px 0 0;

  @include breakpoint(lg) {
    padding-top: 96px;
  }

  .EcosystemTitle {
    text-align: center;
    font-size: 40px;
    letter-spacing: -0.01em;
    padding: 0 24px;
    margin: 0;

    @include breakpoint(md) {
      font-size: 80px;
      line-height: 1.08;
      letter-spacing: -0.03em;
    }
  }

  .EcosystemSlider {
    .EcosystemSliderCarousel {
      padding-bottom: 32px;

      @include breakpoint(lg) {
        padding-bottom: 40px;
        padding-top: 40px;
      }
    }

    .EcosystemCards {
      height: 430px;

      @include breakpoint(lg) {
        height: auto;
      }
    }

    .EcosystemCardWrapper {
      width: 300px;
      min-width: 300px;

      .EcosystemCard {
        &,
        a,
        img {
          height: 100%;
          width: 300px;
          min-width: 300px;
          display: block;
        }
        img {
          object-fit: contain;
          width: 300px;
        }
      }

      @include breakpoint(lg) {
        width: 380px;
        min-width: 380px;

        .EcosystemCard {
          &,
          a,
          img {
            height: 100%;
            width: 380px;
            min-width: 380px;
          }
          img {
            object-fit: contain;
            width: 380px;
          }
        }
      }
    }
  }
}
