@import "~@/scss/solutions/_variables.scss";

.PageWrapper {
  overflow: hidden;
}

.StatsSection {
  p {
    font-weight: 700;
  }

  @media (max-width: #{$screen-sm-min - 1}) {
    p {
      color: var(--grey-300);
    }
    .StatsWrapper {
      margin-top: 40px;

      p {
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: -0.01em;
        text-align: center;
      }
    }
  }

  @media (max-width: #{$screen-md-min - 1}) {
    h3 {
      font-size: 36px;
    }
    p {
      font-size: 18px;
    }
  }
}

.BasicCallout {
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: -0.01em;
      text-align: center;
    }
    p {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: -0.01em;
      text-align: center;
    }
  }

  @include breakpoint(md) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include breakpoint(lg) {
    padding-top: 128px;
    padding-bottom: 128px;

    h2 {
      font-weight: 700;
      line-height: 1.04;
      letter-spacing: -0.02em;
      text-align: center;
      max-width: 865px;
      margin: 0 auto;
    }
    p {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.03em;
      text-align: center;
      margin-top: 32px;
    }
  }
}

.LongformSection {
  a {
    color: var(--grey-300);
  }
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: -0.01em;
      text-align: center;
    }
  }

  @media (min-width: $screen-md-min) and (max-width: #{$screen-xl-min - 1}) {
    section {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    h2 {
      font-size: 40px;
    }
  }

  @include breakpoint(xl) {
    .LongformItem4 {
      > div {
        align-items: center;
      }
    }
  }
}

.ExploreCards {
  padding: 64px 24px;

  .ExploreCardsCards {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .ExploreCardsCard {
      background: var(--grey-500);
      padding: 40px 24px;
      border-radius: 8px;

      h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 0;
      }

      p {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        color: var(--grey-300);
        margin: 24px 0 0;
        max-width: 100%;
      }

      a {
        max-width: max-content;
        margin: 40px auto 0;
      }
    }
  }

  @include breakpoint(md) {
    padding-top: 128px;
    padding-bottom: 128px;

    .ExploreCardsCards {
      flex-direction: row;
      gap: 40px;
      justify-content: center;
    }
  }

  @include breakpoint(xl) {
    padding: 128px 40px;

    .ExploreCardsCards {
      margin-top: 128px;

      .ExploreCardsCard {
        display: flex;
        align-items: center;
        padding: 40px;
        gap: 119px;

        h3,
        p {
          text-align: left;
        }

        h3 {
          font-size: 32px;
          font-weight: 700;
          line-height: 1.15;
          letter-spacing: -0.02em;
        }

        p {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.12;
          letter-spacing: -0.02em;
        }

        a {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

.SuccessStories {
  .StoryCard {
    a {
      font-size: 15px;
      @include breakpoint(xl) {
        font-size: 18px;
      }
    }
  }
  background: var(--black);
}
