@import "../../scss/solutions/_variables.scss";

.PageWrapper {
  overflow: hidden;
}

.Eyebrow {
  color: #64a8f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: 1200px) {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.44px;
    text-align: left;
  }
}

.StatsSection {
  position: relative;
  z-index: 1;
  margin-top: 64px;
  padding: 0 24px;

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-align: center;
  }

  .StatsContent {
    margin-top: 40px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .Stat {
      text-align: center;
    }

    h3 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: -0.01em;
      margin: 0;
      margin-bottom: 4px;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: -0.01em;
      color: var(--grey-300);
      max-width: 100% !important;
      margin-bottom: 0;
    }
  }

  .StatsButtons {
    margin-top: 24px;
    width: max-content;
    margin: 32px auto 64px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  @include breakpoint(md) {
    max-width: 1068px;
    margin: 128px auto 0;

    h2 {
      font-size: 64px;
      text-align: center;
    }

    .StatsButtons {
      margin-top: 40px;

      > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;

        a {
          min-width: 211px;
        }
      }
    }

    .StatsContent {
      h3 {
        font-size: 64px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  @include breakpoint(lg) {
    .StatsContent {
      display: flex;
      margin-top: 104px;
      width: 100%;
      justify-content: center;
      flex-direction: row;

      .Stat {
        text-align: left;
        padding: 0 56px;

        &:not(:first-child) {
          border-left: 1px solid var(--grey-450);
        }

        &:first-child {
          h3 {
            background: var(--gradient-10);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            &::selection {
              -webkit-text-fill-color: var(--black);
            }
          }
        }
      }

      h3 {
        font-size: 64px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  @include breakpoint(xl) {
    margin-top: 256px;
  }
}

.DetailCardsWrapper {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include breakpoint(md) {
    padding-right: 0;
  }

  .DetailCard {
    border-radius: 16px;
    background: var(--grey-450);

    .DetailCardInner {
      padding: 64px 24px;
    }

    .DetailCardIcon {
      margin-bottom: 48px;
    }

    h3 {
      font-size: 18px;
      line-height: 1.16;
      margin: 0;
      letter-spacing: -0.01em;

      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    p {
      font-size: 18px;
      margin: 0;
      margin-top: 8px;
      line-height: 1.16;
      letter-spacing: -0.01em;
      color: var(--grey-300);
      font-weight: bold;
      max-width: 100% !important;

      @include breakpoint(md) {
        font-size: 20px;
      }
    }
  }

  @include breakpoint(md) {
    .DetailCards {
      gap: 40px;
    }

    .DetailCardWrapper {
      .DetailCard {
        background: var(--grey-450);
        min-width: 500px;
      }

      .DetailCardInner {
        padding: 48px;
      }
    }
  }
}

.BasicCallout {
  @media (min-width: $screen-md-min) and (max-width: #{$screen-xl-min - 1}) {
    padding-top: 90px;
  }

  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 48px;
    }

    p {
      font-size: 18px;
    }
  }

  @include breakpoint(xl) {
    h2 {
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.02em;
      text-align: center;
      max-width: 900px;
      margin: 0 auto;
    }
  }
}

.TokenExtensionsMedia {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include breakpoint(md) {
    flex-direction: row;
    gap: 40px;
  }
}

.LongformSection {
  h2 {
    font-size: 32px;
    line-height: 1.11;
  }

  @include breakpoint(md) {
    h2 {
      font-size: 48px;
      line-height: 1;
    }
  }

  @media (min-width: $screen-md-min) and (max-width: #{$screen-xl-min - 1}) {
    padding-bottom: 90px;
  }

  @media (max-width: #{$screen-xl-min - 1}) {
    .LongformItem1 {
      padding-top: 80px;
    }
  }

  @include breakpoint(xl) {
    > section {
      padding-top: 128px;
      padding-bottom: 128px;
    }

    .LongformItem2 {
      > div {
        align-items: center;
      }
    }

    h2 {
      font-size: 56px;
    }
  }
}

.EcosystemSlider {
  @media (max-width: #{$screen-xl-min - 1}) {
    padding: 64px 0;

    .EcosystemSliderTitleBlock {
      p {
        font-size: 20px;
      }
    }
  }
}

.SuccessStories {
  padding-bottom: 128px;
  a {
    width: auto;

    @media (max-width: #{$screen-md-min - 1}) {
      font-size: 15px;
    }
  }

  .StoryCardLogo {
    img {
      width: 150px;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .StoryCardImage {
    max-height: 474px;
  }

  @include breakpoint(lg) {
    background: var(--grey-500);
    padding: 90px 40px;
  }

  @include breakpoint(xl) {
    .StoryCard {
      a {
        margin-top: 40px;
      }
    }
  }
}
