@import "../../scss/solutions/_variables.scss";

.PageWrapper {
  overflow: hidden;
}

.PageWrapper,
.Header {
  &,
  nav {
    background: #0d0817 !important;
  }
}

.Callout1 {
  --gradient: linear-gradient(270deg, #9945ff 0%, #eb54bc 50.57%, #ff754a 100%);

  padding: 64px 24px;

  .Callout1Title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0 auto;
  }
}

.LongformSection {
  h2 {
    font-size: 32px;
    line-height: 1.11;
  }
  a {
    color: var(--grey-300);
  }

  .MultiLineSubtitle {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.CreateWithoutConstraint {
  .MediaComponent {
    &:after {
      background: linear-gradient(
        180deg,
        rgba(15, 10, 22, 0) 2.47%,
        #0d0817 63.46%
      ) !important;
    }
  }
}

.SpotlightSection {
  h2 {
    strong {
      background: var(--gradient-2);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    strong {
      color: var(--white);
    }
  }
}

.SuccessStories {
  background: var(--black);

  a {
    width: auto;

    @media (max-width: #{$screen-md-min - 1}) {
      font-size: 15px;
    }

    @include breakpoint(md) {
      width: max-content;
    }
  }
}

.Stats {
  --gradient: linear-gradient(90deg, #64a8f2 0%, #9945ff 49.61%, #eb54bc 100%);

  padding-top: 128px;

  @media (max-width: #{$screen-md-min - 1}) {
    .StatsContent {
      margin-top: 40px;

      h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: -0.01em;
      }
    }
  }
}

@include breakpoint(md) {
  .GamingDetails {
    > div {
      display: flex;
      gap: 40px;
    }
  }

  .Callout1 {
    .Callout1Title {
      font-size: 64px;
      max-width: 600px;
    }
  }

  .LongformSection {
    h2 {
      font-size: 48px;
      line-height: 1;
    }
  }
}

@include breakpoint(md) {
  .SuccessStories {
    .StoryCard {
      grid-template-rows: auto auto auto !important;
      row-gap: 40px !important;
    }

    .SuccessStoriesLogo {
      justify-content: flex-start;
      align-self: flex-end;
    }
  }
}

@include breakpoint(lg) {
  .SuccessStories {
    background: var(--grey-500);
    padding: 90px 40px;
  }
}

@include breakpoint(xl) {
  .Callout1 {
    padding: 80px 0 120px;

    .Callout1Title {
      font-size: 80px;
      max-width: 700px;
    }
  }

  .LongformSection {
    > section {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  .SuccessStories {
    padding: 128px 40px 256px;
  }

  .DeveloperResources {
    p {
      color: var(--grey-300);
    }
    a {
      color: var(--grey-200);
    }
  }
}
