@import "~@/scss/solutions/_variables.scss";

.PageWrapper {
  overflow: hidden;

  --gradient: linear-gradient(90deg, #64a8f2 0%, #9945ff 49.61%, #eb54bc 100%);
}

.PageWrapper,
.Header {
  &,
  nav {
    background: #0d0817 !important;
  }
}

.TextWrapper {
  padding: 64px 24px 40px;
  position: relative;
  z-index: 1;

  @include breakpoint(md) {
    padding: 64px 40px 40px;
  }

  @include breakpoint(lg) {
    padding: 0;
    max-width: 520px;
  }
}

.Eyebrow {
  color: #64a8f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: center;
  margin-bottom: 24px;

  @include breakpoint(lg) {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.44px;
    text-align: left;
  }
}

.VideoHero {
  h1 {
    font-size: 32px;
    line-height: 1.11;
    letter-spacing: -0.32px;

    @include breakpoint(sm) {
      font-size: 40px;
    }

    @include breakpoint(lg) {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -1.28px;
    }
  }
}

.VideoWrapper {
  video {
    width: 100%;
  }
}

@include breakpoint(md) {
  .Hero {
    padding: 80px 24px;

    .ContentWrapper {
      @include max-width(650px);
    }

    .HeroTitle {
      font-size: 64px;
    }

    .HeroSubtitle {
      font-size: 24px;
    }

    .ButtonWrapper {
      flex-direction: row;
    }
  }
}

@include breakpoint(xl) {
  .Hero {
    padding: 92px 24px;
    flex-direction: row;
    justify-content: space-between;
    gap: 128px;

    .ContentWrapper {
      max-width: 520px;
      justify-content: center;
      * {
        text-align: left;
      }
    }

    .Eyebrow {
      font-size: 22px;
    }

    .HeroTitle {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -0.02em;
      max-width: 422px;
    }

    .HeroSubtitle {
      font-size: 32px;
      line-height: 1.15;
      letter-spacing: -0.02em;
    }

    .ButtonWrapper {
      flex-direction: row;
      margin-left: 0;

      a {
        padding: 12px;
      }
    }
  }
}

.StatsSection {
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: -0.01em;
      text-align: center;
    }

    .StatsContent {
      margin-top: 40px;

      h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: -0.01em;
      }

      p {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: -0.01em;
        color: var(--grey-300);
      }
    }

    .StatsButtons {
      margin-top: 24px;
    }
  }
}

.BasicCallout {
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: -0.01em;
      text-align: center;
    }
    p {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: -0.01em;
      text-align: center;
    }
  }

  @include breakpoint(md) {
    padding-top: 90px;
    padding-bottom: 90px;

    h2 {
      font-size: 56px;
    }
  }

  @include breakpoint(lg) {
    padding-top: 128px;
    padding-bottom: 128px;

    h2 {
      font-size: 72px;
      font-weight: 700;
      line-height: 1.04;
      letter-spacing: -0.02em;
      text-align: center;
      max-width: 907px;
      margin: 0 auto;
    }
    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.03em;
      text-align: center;
      margin-top: 32px;
    }
  }
}

.LongformSection {
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: -0.01em;
      text-align: center;
    }
  }

  @media (min-width: $screen-md-min) and (max-width: #{$screen-xl-min - 1}) {
    section {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    h2 {
      font-size: 40px;
    }
  }
}

.SuccessStories {
  padding-bottom: 128px;

  .StoryCard {
    a {
      font-size: 15px;
      font-weight: 700;
      line-height: 1.32;
      text-align: center;
    }
  }

  .StoryCard1Logo {
    img {
      width: 145px;
    }
  }
  .StoryCard2Logo {
    img {
      width: 138px;
    }
  }

  @include breakpoint(xl) {
    background: var(--grey-500);

    .SuccessStoriesCards {
      > * {
        padding: 40px;
      }

      &:not([data-cards-count="1"]) {
        grid-gap: 40px;
      }
    }

    .StoryCardLogo {
      padding: 20px 0;
    }

    .StoryCardMainImage {
      max-height: 434px;
      img {
        max-height: 434px;
        height: 100%;
      }
    }
  }
}
