@import "@/scss/solutions/_variables.scss";

.LoyaltyPage {
  overflow: hidden;
}

.Stats {
  padding-top: 128px;

  @media (max-width: #{$screen-md-min - 1}) {
    .StatsContent {
      margin-top: 40px;

      h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: -0.01em;
      }

      p {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: -0.01em;
        color: var(--grey-300);
      }
    }
  }

  @include breakpoint(xl) {
    h2 {
      max-width: 514px;
    }
  }
}

.BasicCallout {
  @media (max-width: #{$screen-md-min - 1}) {
    p {
      font-size: 20px;
    }
  }
  @include breakpoint(md) {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.LongformSection {
  h2 {
    font-size: 32px;
    line-height: 1.11;
  }

  @include breakpoint(md) {
    h2 {
      font-size: 48px;
      line-height: 1;
    }
  }

  @include breakpoint(xl) {
    section {
      padding-top: 128px;
      padding-bottom: 128px;
    }

    .LongformItem2 {
      > div {
        align-items: center;
      }
    }

    h2 {
      font-size: 48px;
    }
  }
}

.SuccessStories {
  background: var(--black);

  a {
    width: auto;

    @media (max-width: #{$screen-md-min - 1}) {
      font-size: 15px;
    }
  }

  .StoryCardLogo {
    img {
      width: 150px;
      border-radius: 8px;
      object-fit: cover;

      @include breakpoint(md) {
        width: 120px;
      }
    }
  }

  @include breakpoint(md) {
    background: var(--grey-500);
    padding-bottom: 2rem;
  }
  @include breakpoint(lg) {
    padding-bottom: 4rem;
  }
}
