@import "~@/scss/solutions/_variables.scss";

.PageWrapper {
  overflow: hidden;

  --gradient: linear-gradient(90deg, #64a8f2 0%, #9945ff 49.61%, #eb54bc 100%);
}

.Hero {
  h1 {
    max-width: 890px;
  }
}

.StatsSectionWrapper {
  background: var(--black);
  position: relative;
}

.StatsSection {
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 40px;
    }

    .StatsButtons {
      margin-top: 24px;
    }
  }
}

.DetailsSection {
  > div {
    padding-top: 0;
  }

  @media (max-width: #{$screen-md-min - 1}) {
    > div {
      grid-gap: 32px;
    }
  }

  @include breakpoint(xl) {
    padding-bottom: 80px;
  }
}

.BasicCallout {
  --gradient: linear-gradient(270deg, #9945ff 0%, #eb54bc 50.57%, #ff754a 100%);

  @media (min-width: $screen-md-min) and (max-width: #{$screen-xl-min - 1}) {
    padding-top: 90px;
  }

  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 18px;
    }
  }

  @media (max-width: #{$screen-xl-min - 1}) {
    padding-bottom: 0;
  }

  @include breakpoint(lg) {
    padding-bottom: 0 !important;
    p {
      @include max-width(698px);
    }
  }
}

.TokenExtensionsMedia {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include breakpoint(md) {
    flex-direction: row;
    gap: 40px;
  }
}

.LongformSection {
  overflow: hidden;

  .LongformItem {
    a {
      color: inherit;
    }
  }
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 40px;
      letter-spacing: -0.03em;
      line-height: 1;
    }
  }

  @media (min-width: $screen-md-min) and (max-width: #{$screen-xl-min - 1}) {
    padding-bottom: 90px;
  }

  @media (max-width: #{$screen-xl-min - 1}) {
    .LongformItem1 {
      padding-top: 80px;
    }
  }

  @include breakpoint(xl) {
    padding-bottom: 128px;

    .LongformItem1 {
      padding-bottom: 128px;
    }

    .LongformItem2 {
      padding-top: 128px;
      padding-bottom: 128px;
    }

    .LongformItem3 {
      padding-bottom: 128px;
    }

    .LongformItem4 {
      padding-top: 128px;
    }
  }
}

.EcosystemSlider {
  --gradient: linear-gradient(
    89.77deg,
    #80ecff 0.17%,
    #64a8f2 50.54%,
    #9945ff 99.77%
  );

  @media (max-width: #{$screen-xl-min - 1}) {
    padding: 64px 0 96px;
  }
}

.SuccessStories {
  .StoryCard {
    p,
    a {
      margin: 0 16px;

      @include breakpoint(md) {
        margin: 0;
      }
    }
  }
}

.FooterCallout {
  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 40px;
    }
    p {
      margin-bottom: 16px;
    }
  }

  @media (max-width: #{$screen-lg-min - 1}) {
    .FooterCalloutTopSection {
      padding-bottom: 128px;

      a {
        margin-top: 16px;
      }
    }
  }
}
