@import "@/scss/solutions/_variables.scss";

.PageWrapper {
  overflow: hidden;

  --gradient: linear-gradient(90deg, #64a8f2 0%, #9945ff 49.61%, #eb54bc 100%);
}

.TokenExtensionsWrapper {
  overflow: hidden;
}

.TextWrapper {
  padding: 64px 24px 40px;
  position: relative;
  z-index: 1;

  @include breakpoint(md) {
    padding: 64px 40px 40px;
  }

  @include breakpoint(lg) {
    padding: 0;
    max-width: 520px;
  }
}

.Eyebrow {
  color: #64a8f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: center;
  margin-bottom: 24px;

  @include breakpoint(lg) {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.44px;
    text-align: left;
  }
}

.EcosystemSection {
  .SectionTitle {
    text-align: center;
  }

  .EcosystemItemContentBlock {
    @include breakpoint(lg) {
      display: flex;
      flex-direction: column;
      gap: 8px;
      // position: relative;
      // top: 0;
      // left: 0;
      // width: 100%;
    }
  }
}

.BasicCallout {
  @media (max-width: #{$screen-lg-min - 1}) {
    h2 {
      font-size: 48px;
    }
  }
  @include breakpoint(lg) {
    p {
      max-width: 669px;
    }
  }
}

.LongformSection {
  h2 {
    font-size: 32px;
    line-height: 1.11;
  }

  @include breakpoint(md) {
    h2 {
      font-size: 48px;
      line-height: 1;
    }
  }

  @include breakpoint(xl) {
    > section {
      padding-top: 128px;
      padding-bottom: 128px;
    }

    .LongformItem2 {
      > div {
        align-items: center;
      }
    }

    h2 {
      font-size: 64px;
    }
  }
}

.SuccessStories {
  background: var(--black);
  padding-bottom: 128px;

  a {
    width: auto;

    @media (max-width: #{$screen-md-min - 1}) {
      font-size: 15px;
    }
  }

  .StoryCardLogo {
    img {
      width: 150px;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  @include breakpoint(lg) {
    background: var(--grey-500);
    padding: 90px 40px;
  }

  @include breakpoint(xl) {
    padding: 90px 40px 256px;
  }
}

.FAQ {
  background: #1d1a23;

  h2 {
    font-size: 28px;

    @include breakpoint(lg) {
      font-size: 64px;
    }
  }
}

.SectionWrapper {
  max-width: 1068px;
  margin: 0 auto;
  display: grid;
  grid-gap: 24px;
  padding: 64px 24px 128px;

  .Eyebrow {
    text-align: left;
  }

  @include breakpoint(lg) {
    grid-template-columns: 0.9fr 1fr;
    gap: 80px;
    padding: 64px 40px;
  }

  @include breakpoint(xl) {
    gap: 132px;
    padding: 128px 0 256px;
  }
}

.Accordion {
  display: grid;

  & > div {
    padding: 24px 0;
    border-top: 1px solid #322f43;

    button {
      display: grid;
      grid-template-columns: 1fr 24px;
      gap: 12px;

      span,
      p {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: -0.18px;
        margin: 0;
        padding-top: 0;
      }

      @include breakpoint(lg) {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.12;
        letter-spacing: -0.02em;
        text-align: left;
      }
    }

    p {
      padding-top: 16px;
      margin-bottom: 0;
      color: #6c6a81;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.32;
      max-width: 100%;

      a {
        color: #6c6a81;
        text-decoration: underline;
        transition: color 0.2s ease;

        &:hover {
          color: #9945ff;
        }
      }

      @include breakpoint(lg) {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.1;
        text-align: left;
      }
    }

    ul {
      padding-top: 16px;
    }

    li {
      color: #6c6a81;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.32;

      & + li {
        margin-top: 8px;
      }

      @include breakpoint(lg) {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.1;
      }
    }
  }
}
