@import "~@/scss/solutions/_variables.scss";

.PageWrapper {
  overflow: hidden;

  --gradient: linear-gradient(90deg, #64a8f2 0%, #9945ff 49.61%, #eb54bc 100%);
}

.PageWrapper,
.Header {
  &,
  nav {
    background: #0d0817 !important;
  }
}

.WalletTypes {
  padding: 64px 0;

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 0;
    @include max-width(700px);

    strong {
      background: linear-gradient(85.62deg, #9945ff -2.51%, #14f195 92.16%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @include breakpoint(md) {
    padding-top: 128px;
    padding-bottom: 40px;

    h2 {
      font-size: 56px;
    }
  }

  @include breakpoint(lg) {
    h2 {
      font-size: 64px;
    }
  }

  @include breakpoint(xl) {
    h2 {
      font-size: 80px;
      line-height: 1.04;
      letter-spacing: -0.02em;
      @include max-width(1000px);
    }
  }
}

.DetailsSection {
  padding-top: 0;

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
    padding-bottom: 128px;
  }
}

.BasicCallout {
  @media (max-width: #{$screen-md-min - 1}) {
    p {
      font-size: 20px;
    }
  }
  @include breakpoint(md) {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.LongformSection {
  overflow: hidden;

  .LongformItem1,
  .LongformItem2 {
    .LongformItemMedia {
      background:
        linear-gradient(var(--grey-500) 0 0) padding-box,
        linear-gradient(90deg, #504d61 0%, #ffffff 49.61%, #504d61 100%)
          border-box;
      border: 1px solid transparent;
      border-radius: 16px;
      overflow: hidden;
    }
  }

  @media (max-width: #{$screen-md-min - 1}) {
    h2 {
      font-size: 32px;
    }
  }

  p,
  a {
    color: var(--grey-250) !important;
  }

  @include breakpoint(md) {
    .LongformItem1,
    .LongformItem2,
    .LongformItem3,
    .LongformItem4 {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }

  @include breakpoint(xl) {
    .LongformItem1 {
      padding-bottom: 66px;
    }
    .LongformItem2 {
      padding-top: 210px;
      padding-bottom: 210px;
    }
    .LongformItem4 {
      padding-top: 215px;
      padding-bottom: 215px;
    }
  }
}

.WalletSolutions {
  padding: 64px 24px 128px;

  .WalletSolutionsTitle {
    text-align: center;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.01em;
    text-align: center;
  }

  .WalletSolutionsSubtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--grey-250);
    margin: 24px auto 0;
    max-width: 886px;
  }

  .WalletSolutionsCards {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .WalletSolutionsCard {
      background: var(--grey-500);
      padding: 40px;
      border-radius: 8px;

      h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 0;
      }

      p {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        color: var(--grey-300);
        margin: 24px 0 0;
        max-width: 100%;
      }
    }
  }

  .WalletSolutionsButtonWrapper {
    width: max-content;
    margin: 40px auto 0;
  }

  @include breakpoint(md) {
    padding-top: 128px;
    padding-bottom: 128px;

    .WalletSolutionsTitle {
      font-size: 64px;
    }

    .WalletSolutionsSubtitle {
      font-size: 24px;
    }

    .WalletSolutionsCards {
      flex-direction: row;
      gap: 40px;
      justify-content: center;
    }
  }

  @include breakpoint(xl) {
    padding: 128px 40px;

    .WalletSolutionsTitle {
      font-size: 64px;
      line-height: 1.04;
      letter-spacing: -0.02em;
    }

    .WalletSolutionsSubtitle {
      font-size: 28px;
      line-height: 1.15;
      letter-spacing: -0.02em;
    }

    .WalletSolutionsCards {
      margin-top: 112px;

      .WalletSolutionsCard {
        h3 {
          font-size: 28px;
          font-weight: 700;
          line-height: 1.15;
          letter-spacing: -0.02em;
        }

        p {
          font-size: 20px;
          font-weight: 700;
          line-height: 1.12;
          letter-spacing: -0.02em;
        }
      }
    }
  }
}
