@import "~@/scss/solutions/variables";

.FooterCallout {
  @media (max-width: #{$screen-xl-min - 1}) {
    .FooterCalloutTopSection {
      padding-bottom: 64px;
    }

    .FooterCalloutButtonLarge {
      a {
        padding: 24px;
        display: block;

        svg {
          margin: 0;
          margin-left: 12px;
        }
      }
    }
  }

  @include breakpoint(sm) {
    .FooterCalloutButtonLarge {
      a {
        text-align: left;
      }
    }
  }
}
