@mixin dark-mode-vars {
  --page-bg: #0d0f11;
  --title-color: #b8c0cc;
  /* dashboard tab colors */
  --tab-color: #b8c0cc;
  --tab-selected-color: #89f8ca;
  --tab-border-color: #2b2f35;

  /* dashbaord widget colors */
  --dashboard-section-bg: #0d0f11;
  --dashboard-widget-bg: #090a0b;
  --dashboard-widget-border: #1a1d21f5;
  --dashboard-widget-title-text-color: #9d9dae;
  --dashboard-widget-counter-value-color: #e3e3e3;
  --dashboard-widget-counter-label-color: #9d9dae;
  --dashboard-widget-viz-chart-bg: transparent;
  --header-bg: #191d23;
  --header-menu-link-color: #e3e3e3;
  --dashboard-widget-viz-legend-text-color: #b8c0cc;
  --dashboard-widget-viz-chart-text-color: #b8c0cc;
  --dashboard-widget-table-bg: var(--dashboard-widget-bg);
  --dashboard-widget-table-header-bg: var(--dashboard-widget-bg);

  --ant-btn-bg: var(--dashboard-widget-bg);
  --ant-btn-border: var(--modal-footer-btn-border);
  --ant-btn-color: var(--dashboard-widget-title-text-color);
  --ant-btn-bg-hover: #292d33;
}
