@mixin widget-darkmode {
  :global(.widget-header) {
    :global(.t-header) {
      padding-left: 0px;
    }
  }
  &:global(:has(.table-visualization-container)) {
    padding: 0px;

    :global(.widget-header) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  :global(.counter-visualization-content) {
    & > div {
      transform: scale(1) !important;
    }

    :global(.counter-visualization-value) {
      color: var(--dashboard-widget-counter-value-color, #595959);
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 1%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    :global(.counter-visualization-label) {
      margin-top: 0.75rem;
      color: var(--dashboard-widget-counter-label-color, #595959);

      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1%;
    }
  }

  :global(.table-visualization-container) {
    table {
      backdrop-filter: blur(32px);
      background: var(--dashboard-widget-table-bg, #4a4f54) !important;
      border-radius: 0px;
      thead {
        th {
          padding: 0.5rem 1rem;
          border-radius: 0px;
          & > div > div {
            display: inline-flex;
            align-items: center;
          }
        }
        th {
          background: var(
            --dashboard-widget-table-header-bg,
            #3a3f44
          ) !important;
        }
      }
      tbody {
        border: none;
      }
      td {
        padding: 0.5rem 1rem;
        border-bottom-color: #282f3a;
        &::before {
          display: none;
        }
        &.ant-table-column-sort {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &-row-hover {
          background-color: rgba(0, 0, 0, 0.1) !important;
        }
      }
      tr {
        border-bottom-color: #282f3a;
        td {
          vertical-align: middle;
          text-align: left !important;
          div {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
          }
        }

        &:hover {
          td {
            background-color: rgba(0, 0, 0, 0.1) !important;
          }
        }
      }
      * {
        color: var(--dashboard-widget-viz-chart-text-color);
      }
    }
  }

  :global(.chart-visualization-container) {
    // transform: scale(0.95);

    :global(svg.main-svg) {
      background-color: var(
        --dashboard-widget-viz-chart-bg,
        transparent
      ) !important;

      text {
        font-family: "Inter", "Helvetica Neue", "Helvetica 45 Light", sans-serif !important;
        line-height: 1.2 !important;
        letter-spacing: 0.2px !important;
      }

      :global(.infolayer) {
        :global(.legend) {
          :global(rect.bg) {
            fill: var(--dashboard-widget-viz-chart-bg, transparent) !important;
          }

          :global(.legendtext) {
            fill: var(
              --dashboard-widget-viz-legend-text-color,
              rgb(0, 0, 0)
            ) !important;
          }

          :global(.scrollbar) {
            fill: #15181d !important;
          }
        }

        :global(.annotation) {
          :global(text) {
            fill: var(
              --dashboard-widget-viz-chart-text-color,
              rgb(68, 68, 68)
            ) !important;
          }
        }

        :global(.xtitle),
        :global(.ytitle) {
          fill: var(
            --dashboard-widget-viz-chart-text-color,
            rgb(68, 68, 68)
          ) !important;
        }
      }

      :global(.cartesianlayer) {
        :global(.xtick),
        :global(.ytick) {
          text {
            fill: var(
              --dashboard-widget-viz-chart-text-color,
              rgb(68, 68, 68)
            ) !important;
            font-size: 14px !important;
          }
        }

        :global(.xtick) {
          transform: translate(0, 3px);
        }

        :global(.ytick) {
          transform: translate(0px, 0);
        }

        :global(.gridlayer) {
          :global(.xgrid.crisp),
          :global(.ygrid.crisp),
          :global(.y2grid.crisp) {
            stroke: #1b252f !important;
            stroke-dasharray: 8, 8;
          }
        }
      }

      :global(.pielayer) {
        :global(.slicetext) {
          :global(text) {
            fill: transparent !important;
          }
        }
      }
    }
  }

  :global(.body-row.tile__bottom-control) {
    span {
      color: var(--dashboard-widget-title-text-color, #595959);
    }
  }
}
