@import "dark-mode-variables.scss";
@import "widget-darkmode.scss";

.pageTitle {
  font-size: 21px;
  line-height: 1.25;
  letter-spacing: 1%;
  color: var(--title-color, #374151);
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.dashboardLoader {
  min-height: 20rem;
}

.dashboardBg {
  position: fixed !important;
  top: 0;
}

.dashboardSection {
  @include dark-mode-vars;
  padding: 1.5rem 0rem 1.5rem;
  min-height: 40rem;
  //   background-color: var(--dashboard-section-bg, "white");
  //   background-image: url(/assets/images/state-of-solana/solana-bg.webp);
  background-size: 100% auto;
  background-repeat: repeat;

  * {
    font-family: "Diatype" !important;
  }

  :global(.tl-dashboards.public-dashboard-page) {
    :global(.animate-spin) {
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      animation: spin 1s linear infinite;
    }

    margin-top: -2rem;
    background-color: transparent;
    :global(.tl-dashboard-container) {
      padding-left: 0;
      padding-right: 0;
      max-width: 100% !important;
      min-height: 35rem;

      :global(.rd-timer) {
        background-color: transparent;
      }
      :global(.dashboard-wrapper.preview-mode) {
        > .react-grid-layout {
          margin-right: 0;
        }
      }

      :global(.dashboard-widget-wrapper) {
        &:nth-child(2n + 1) {
          :global(.counter-visualization-content) {
            :global(.counter-visualization-value) {
              background: -webkit-linear-gradient(90deg, #db77f7, #651ebb);
            }
          }
        }
        &:global(:nth-child(2n + 2)) {
          :global(.counter-visualization-content) {
            :global(.counter-visualization-value) {
              background: linear-gradient(90deg, #1fcff1 0%, #1c3574 100%);
            }
          }
        }
        &:global(:nth-child(2n + 3)) {
          :global(.counter-visualization-content) {
            :global(.counter-visualization-value) {
              background: linear-gradient(90deg, #1bd897 0%, #0a7c74 100%);
            }
          }
        }

        :global(.widget-wrapper) {
          :global(.tile.body-container) {
            border-radius: 16px;
            background-color: var(--dashboard-widget-bg, "white");
            // box-shadow: rgba(102, 136, 153, 0.15) 0px 4px 9px -3px;
            box-shadow: none;
            border: 1px solid var(--dashboard-widget-border, transparent);
            padding: 20px;
            &:global(.widget-visualization) {
              :global(.widget-header) {
                position: relative;
                display: flex;
                gap: 1rem;
                margin-right: 1rem;
                align-items: center;
                justify-content: space-between;

                > div {
                  margin-bottom: 0 !important;
                }
                :global(.refresh-indicator) {
                  margin: 0;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  top: unset;
                  right: 8rem;
                  bottom: unset;
                  left: unset;
                  transform: none;
                  :global(.refresh-icon) {
                    position: relative;
                    width: 24px;
                    height: 24px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    &::before {
                      top: unset;
                      right: unset;
                      height: 24px;
                      width: 24px;
                    }
                    svg {
                      z-index: 1;
                    }
                  }
                  :global(*) {
                    color: var(
                      --dashboard-widget-title-text-color,
                      rgba(0, 0, 0, 0.8)
                    );
                  }
                }
                :global(.parameter-container) {
                  margin: 0 !important;
                  padding: 0 !important;
                  :global(.parameter-heading) {
                    display: none;
                  }
                }
                :global(.btn-expand) {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid var(--dashboard-widget-border);
                  border-radius: 6px;
                  padding: 0.25rem;
                  svg {
                    color: var(--dashboard-widget-title-text-color);
                    transform: rotate(-45deg);
                  }
                  display: none;
                }
                :global(.visualization-name) {
                  color: var(
                    --dashboard-widget-title-text-color,
                    rgba(0, 0, 0, 0.8)
                  );
                }
                :global(.th-title > p > span.query-link > span:nth-child(2)) {
                  font-size: 14px;
                  line-height: 20px;
                  color: var(
                    --dashboard-widget-title-text-color,
                    rgba(0, 0, 0, 0.8)
                  );
                }

                :global(.th-title .markdown.query--description) {
                  p {
                    margin-top: 0.5rem;
                    font-size: 12px;
                    line-height: 20px;
                    font-style: normal;
                    color: var(
                      --dashboard-widget-title-text-color,
                      rgba(0, 0, 0, 0.8)
                    );
                  }
                }

                :global(.parameter-container) {
                  padding: 0;
                  :global(.parameter-block) {
                    padding: 0rem;
                    :global(.parameter-heading) {
                      color: var(
                        --dashboard-widget-title-text-color,
                        rgba(0, 0, 0, 0.8)
                      );
                    }
                    background-color: transparent;
                  }

                  --selected-color: #282f3a;

                  :global(.radio-group) {
                    background-color: transparent;
                    :global(.radio-group-item) {
                      padding: 0.5rem 0.5rem;
                      background-color: var(--dashboard-widget-bg);
                      color: var(--dashboard-widget-title-text-color);
                      border-color: var(--selected-color);

                      &[data-state="checked"] {
                        background-color: var(--selected-color);
                        color: var(--dashboard-widget-title-text-color);
                      }
                      &::before {
                        display: none;
                      }

                      border-width: 1px 0px;
                      &:first-child {
                        border-left-width: 1px;
                      }
                      &:last-child {
                        border-right-width: 1px;
                      }
                      align-items: center;
                      display: inline-flex;
                    }
                  }
                }
              }
              @include widget-darkmode;
            }
            &:global(.widget-text) {
              background-color: transparent;
              border: none;
              padding: 0rem;
              padding-bottom: 0.5rem;
              :global(.markdown) {
                overflow: auto;
                display: flex;
                align-items: flex-end;
                padding: 0 !important;
                overflow: hidden;
                h2 {
                  color: var(
                    --dashboard-widget-title-text-color,
                    rgba(0, 0, 0, 0.8)
                  );
                  font-size: 1.15rem;
                }
              }
            }
            :global(.body-row.tile__bottom-control .hidden-print) {
              display: none;
            }
          }
        }
        :globa(.body-row tile__bottom-control) {
          @keyframes disappear {
            0% {
              display: block;
            }
            100% {
              display: none;
            }
          }
          visibility: hidden;
          animation: disappear 1.5s forwards;
        }
        :global(.visualization-legend-container) {
          position: relative;

          :global(.external-legend-container) {
            background-color: var(--dashboard-widget-bg);
            line-height: 1.4rem;

            :global(.external-legend-item) {
              color: var(--dashboard-widget-title-text-color);
            }
          }
        }
      }
    }
    :global(.tl-dashboard-loader) {
      position: relative !important;
      margin: calc(50vh - 10rem) 0rem !important;
    }
    :global(#footer) {
      a {
        position: relative;
        color: transparent;
        margin-left: 0.25rem;
        &::after {
          position: absolute;
          white-space: nowrap;
          content: "Top Ledger";
          color: var(--bs-primary);
          left: 0;
        }
      }
    }
  }
  :global(.scrollable) {
    // Firefox scrollbar customization
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &:hover {
      scrollbar-color: var(--dashboard-widget-border) transparent;
    }

    // Chrome, Safari, Edge scrollbar customization
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--dashboard-widget-border);
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }
}

:global(.modal-content) {
  @include dark-mode-vars;
  background-color: var(--dashboard-widget-bg);
  border: none;
  svg.lucide.lucide-x {
    color: var(--dashboard-widget-title-text-color);
  }

  .modal-title {
    color: var(--dashboard-widget-title-text-color);
  }
  .widget-header {
    .t-header {
      padding-left: 0px;
    }
  }
  &:has(.table-visualization-container) {
    padding: 0px;

    .widget-header {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .counter-visualization-content {
    & > div {
      transform: scale(1) !important;
    }

    .counter-visualization-value {
      color: var(--dashboard-widget-counter-value-color, #595959);
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 1%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .counter-visualization-label {
      margin-top: 0.75rem;
      color: var(--dashboard-widget-counter-label-color, #595959);

      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1%;
    }
  }

  .table-visualization-container {
    table {
      backdrop-filter: blur(32px);
      background: var(--dashboard-widget-table-bg, #4a4f54) !important;
      border-radius: 0px;
      thead {
        th {
          padding: 0.5rem 1rem;
          border-radius: 0px;
          & > div > div {
            display: inline-flex;
            align-items: center;
          }
        }
        th {
          background: var(
            --dashboard-widget-table-header-bg,
            #3a3f44
          ) !important;
        }
      }
      tbody {
        border: none;
      }
      td {
        padding: 0.5rem 1rem;
        border-bottom-color: #282f3a;
        &::before {
          display: none;
        }
        &.ant-table-column-sort {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &-row-hover {
          background-color: rgba(0, 0, 0, 0.1) !important;
        }
      }
      tr {
        border-bottom-color: #282f3a;
        td {
          vertical-align: middle;
          text-align: left !important;
          div {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
          }
        }

        &:hover {
          td {
            background-color: rgba(0, 0, 0, 0.1) !important;
          }
        }
      }
      * {
        color: var(--dashboard-widget-viz-chart-text-color);
      }
    }
  }

  .chart-visualization-container {
    transform: scale(0.95);

    svg.main-svg {
      background-color: var(
        --dashboard-widget-viz-chart-bg,
        transparent
      ) !important;

      .hoverlayer {
        .hovertext {
          text.name {
            fill: black !important;
          }
        }
      }

      text {
        font-family: "Inter", "Helvetica Neue", "Helvetica 45 Light", sans-serif !important;
        line-height: 1.2 !important;
        letter-spacing: 0.2px !important;
      }

      .infolayer {
        .legend {
          rect.bg {
            fill: var(--dashboard-widget-viz-chart-bg, transparent) !important;
          }

          .legendtext {
            fill: var(
              --dashboard-widget-viz-legend-text-color,
              rgb(0, 0, 0)
            ) !important;
          }

          .scrollbar {
            fill: #15181d !important;
          }
        }

        .annotation {
          :global(text) {
            fill: var(
              --dashboard-widget-viz-chart-text-color,
              rgb(68, 68, 68)
            ) !important;
          }
        }

        .xtitle,
        .ytitle {
          fill: var(
            --dashboard-widget-viz-chart-text-color,
            rgb(68, 68, 68)
          ) !important;
        }
      }

      .cartesianlayer {
        .xtick,
        .ytick {
          text {
            fill: var(
              --dashboard-widget-viz-chart-text-color,
              rgb(68, 68, 68)
            ) !important;
            font-size: 14px !important;
          }
        }

        .xtick {
          transform: translate(0, 0px);
        }

        .ytick {
          transform: translate(0px, 0);
        }

        .gridlayer {
          .xgrid.crisp,
          .ygrid.crisp,
          .y2grid.crisp {
            stroke: #1b252f !important;
            stroke-dasharray: 8, 8;
          }
        }
      }

      .pielayer {
        .slicetext {
          text {
            fill: transparent !important;
          }
        }
      }
    }
  }

  .body-row.tile__bottom-control {
    span {
      color: var(--dashboard-widget-title-text-color, #595959);
    }
  }
  .viz-render {
    .counter-visualization-content {
      > div {
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .counter-visualization-label,
        .counter-visualization-value {
          line-height: 1.2;
        }
      }
    }
  }
  .viz-render:has(.table-visualization-container) {
    width: 100%;
    position: relative;
    overflow: auto;
  }
}
