AIRTABLE_PAT=

AIRTABLE_BASE_ID_SPEAKERS=apph4y5MDXBxJ2uZy
AIRTABLE_TABLE_ID_SPEAKERS=tbljHJh3sx1zrwMSD
AIRTABLE_VIEW_ID_SPEAKERS=viwK6atCbxFZWGyvk

AIRTABLE_BASE_ID_AGENDA=apph4y5MDXBxJ2uZy
AIRTABLE_TABLE_ID_AGENDA=tbl802700wD64jBNI
AIRTABLE_VIEW_ID_AGENDA=viw9MdyVxScVNZaZX
