.overview {
  margin: 75px 0;

  @media (min-width: 992px) {
    margin: 150px 0;
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 48px;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 105px;
    }

    &--graphic {
      flex: 1;
    }

    &--cta-contents {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 48px;
      justify-content: center;
      align-items: flex-start;

      h2.title {
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
      }

      p {
        font-size: 1.125rem;
        margin: 32px 0;
      }
    }
  }
}
